<div data-ng-controller="HeaderController as footer" data-ng-show="footer.authentication.user">
  <hr/>
  <select class="phantom-control" ng-model="footer.theme"
          ng-options="option.url as option.name for option in footer.styles | orderBy: 'name'" ng-change="footer.changeTheme()">
  </select>
  <input type="checkbox" class="phantom-control" ng-model="footer.timedTheme" ng-change="footer.changeTheme()">
  <div>
    <small>arrancar-24</small><br/>
    <small>1.27.24</small><br/>
  </div>
</div>
