<div layout="column" data-ng-show="body.authentication.user">
  <hr/>
  <div class="padding-5" layout="column">
    <small>2.0.0</small>
    <small>swalsh</small>
  </div>
  <div class="center-contents" layout="row">
    <md-select class="padding-right-10" ng-model="body.theme" ng-change="body.changeTheme()"  aria-label="theme selector">
      <md-option ng-repeat="option in body.applicationThemes | orderBy: 'name'" value="{{option.v}}">
        {{option.n}}
      </md-option>
    </md-select>
    <md-checkbox ng-model="body.timedTheme" ng-change="body.changeTheme()" aria-label="timed theme">timed</md-checkbox>
  </div>
</div>
