<section data-ng-controller="HomeController" data-ng-show="authentication.user">
	<div class="row col-sm-12">
        <h3>Status</h3>
	</div>
	<div class="well col-sm-12">
        <div class="row">
            <div class="col-sm-3">
                <b>Future</b><br/>
                Add an animeitems list...
            </div>
            <div class="col-sm-3">
                <b>Future</b><br/>
                Enable status page to be editable within the app.
            </div>
            <div class="col-sm-3">
                <b>2015-04-15</b><br/>
                Manga list created.
            </div>
        </div>
	</div>
    <footer class="col-sm-12">
        <br>Build:<small>Astaroth.1</small>
	    <br>Authour:<small>swalsh</small>
    </footer>
</section>