<section data-ng-controller="HomeController" data-ng-show="authentication.user" data-ng-init="checkStatus()">
	<div class="row col-sm-12">
        <h3>Week Beginning {{weekBeginning() | date: 'dd MMM yyyy'}}</h3>
	</div>
    <div class="col-md-6">
    <br/>
    <div class="col-md-12">
            <a class="list-group-item collapseBar" data-ng-click="isCollapseAction=!isCollapseAction">Actions</a>
            <div class="col-md-12" data-ng-hide="isCollapseAction">
            <form name="scheduleForm" class="form-horizontal" novalidate>
                <fieldset>
                    <br/>
                <div class="form-group">
                    <label for="description" class="col-md-2 control-label">Description</label>
                    <div class="col-md-8">
                        <input type="text" required id="description" class="form-control" placeholder="What do you need to do?" ng-model="newTask">
                    </div>
                </div>
                <div class="form-group">
                    <label for="category" class="col-md-2 control-label">Category</label>
                    <!--<i class="fa fa-caret-down selectArrow"></i>-->
                    <div class="col-md-8">
                        <select required id="category" class="form-control" ng-model="newTaskCategory" ng-options="obj.name for obj in categories">
                            <option class="disabled" value="">Choose a category</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="day" class="col-md-2 control-label">Day</label>
                    <!--<i class="fa fa-caret-down selectArrow"></i>-->
                    <div class="col-md-8">
                        <select required id="day" class="form-control" ng-model="newTaskDay" ng-options="obj.name for obj in days">
                            <option class="disabled" value="">Choose a day</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="date" class="col-md-2 control-label">Date</label>
                    <!--<i class="fa fa-caret-down selectArrow"></i>-->
                    <div class="col-md-8">
                        <input type="date" id="date" class="form-control" ng-model="newTaskDate">
                    </div>
                </div>
                <div class="form-group">
                    <label for="repeat" class="col-md-2 control-label">Repeat</label>
                    <div class="col-md-8">
                        <input type="number" required id="repeat" class="form-control" placeholder="1" ng-model="newTaskRepeat">
                    </div>
                </div>
                <div class="form-group">
                    <label for="daily" class="col-md-2 control-label">Daily?</label>
                    <div class="col-md-8">
                        <input type="checkbox" id="daily" class="form-control" ng-model="newTaskDaily">
                    </div>
                </div>
                <br/>
                <div class="form-group pull-left">
                    <button class="btn btn-primary" ng-click="addNew()" ng-disabled="scheduleForm.$invalid">Add task</button>
                    <!--<button class="btn btn-danger" ng-click="deleteTask()">Delete Tasks</button>-->
                </div>
                </fieldset>
            </form>
            </div><!-- collapse FORM -->
    </div><!-- col-md-12 ACTIONS -->
    <div class="col-md-12">
        <a class="list-group-item collapseBar" data-ng-click="isCollapseFilter=!isCollapseFilter">Filters</a>
        <br/>
        <div class="col-md-12" data-ng-hide="isCollapseFilter">
            <div class="input-group">
		        <div class="input-group-addon">
		          <i class="fa fa-list-ol"></i>
                </div>
                <input type="text" class="form-control" value="{{ remaining() }} remaining of {{ taskItem.length }} total." disabled>
            </div>
            <br/>
            <div class=" col-md-12 input-group">
                <div class="input-group-addon">
                    <i class="fa fa-search"></i>
                </div>
                <input type="text" class="form-control" placeholder="search tasks" ng-model="search.description">
            </div><!-- search.description -->
            <br/>
            <div class="col-md-12 input-group">
		       <div class="input-group-addon">
		          <i class="fa fa-check"></i>
                </div>
                <select class="form-control" ng-model="search.complete">
                        <option value="">All</option>
                        <option value="false">Ongoing</option>
                        <option value="true">Completed</option>
                </select>
            </div><!-- search.complete -->
            <br/>
            <div class="col-md-12 input-group">
		       <div class="input-group-addon">
		          <i class="fa fa-calendar"></i>
                </div>
                <select class="form-control" ng-model="daySelected">
                    <option value="">All</option>
                    <option value="Any">Any</option>
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wednesday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                    <option value="6">Saturday</option>
                    <option value="0">Sunday</option>
                </select>
            </div><!-- search.days -->
            <br/>
            <div class="col-md-12 input-group">
		       <div class="input-group-addon">
		          <i class="fa fa-calendar"></i>
                </div>
                <select class="form-control" ng-model="datesSelected">
                    <option value="current">Current</option>
                    <option value="future">Future</option>
                </select>
            </div><!-- search.days -->
        </div><!-- collapse FILTERS -->
        <br/>
    </div><!-- col-md-12 FILTERS -->
    </div><!-- col-md-6 ACTIONS+FILTERS -->
    <br/>
    <div class="row col-md-6">
        <br/>
            <ul  class="taskList col-md-12">
                <li class="taskItem" ng-repeat="taskItem in (taskItem | filter: search | filter: dayFilter | filter: dateFilter) track by $index" ng-model="taskItem"><input type="checkbox" class="taskCheckbox" ng-model="taskItem.complete" ng-change="save(taskItem.description)" ng-disabled="taskItem.complete">
                    <span class="complete-{{taskItem.complete}}">{{taskItem.description}}</span> - <span class="complete-{{taskItem.complete}}">{{taskItem.completeTimes}}/{{taskItem.repeat}}</span>
                    <span class="category-{{taskItem.category}}">{{taskItem.category}}</span><a aria-hidden="true" ng-click="deleteTask(taskItem.description)"><i class="fa fa-trash-o" style="color: red;"></i></a>
                    <strong class="taskDate complete-{{taskItem.complete}}"><i class="fa fa-calendar"></i>{{taskItem.day}}<span ng-show="taskItem.daily" class="complete-{{taskItem.complete}}"> - DAILY</span></strong><!--<span class="taskDate complete-{{taskItem.complete}}">{{taskItem.date}}</span>-->
                </li>
                <hr/>
            </ul>
    </div><!-- TASK ROW -->
</section>