/* line 4, C:/mylist/mylist/public/modules/core/css/core.scss */
.content {
  margin-top: 50px; }

/* line 7, C:/mylist/mylist/public/modules/core/css/core.scss */
.undecorated-link:hover {
  text-decoration: none; }

/* line 10, C:/mylist/mylist/public/modules/core/css/core.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

/* line 13, C:/mylist/mylist/public/modules/core/css/core.scss */
.ng-invalid.ng-dirty {
  border-color: #FA787E; }

/* line 16, C:/mylist/mylist/public/modules/core/css/core.scss */
.ng-valid.ng-dirty {
  border-color: #78FA89; }

/* remove unecessary red/green borders. */
/* line 23, C:/mylist/mylist/public/modules/core/css/core.scss */
.input-group input.ng-valid.ng-dirty,
.input-group select.ng-valid.ng-dirty,
.input-group span.ng-valid.ng-dirty {
  border-color: #ccc; }

/* remove not-allowed cursor */
/* line 29, C:/mylist/mylist/public/modules/core/css/core.scss */
.form-control[disabled],
input[type="checkbox"][disabled], input[type="checkbox"].disabled {
  cursor: default; }

/* line 33, C:/mylist/mylist/public/modules/core/css/core.scss */
.navbar-favourites {
  color: #9d9d9d;
  padding: 15px 15px; }

/* line 37, C:/mylist/mylist/public/modules/core/css/core.scss */
.navbar-favourites:visited {
  color: #9d9d9d;
  text-decoration: none; }

/* line 41, C:/mylist/mylist/public/modules/core/css/core.scss */
.navbar-favourites:focus {
  color: #ffffff;
  text-decoration: none; }

/* line 45, C:/mylist/mylist/public/modules/core/css/core.scss */
.navbar-favourites:hover {
  color: #ffffff;
  text-decoration: none; }

/**
 *  Task List CSS
 */
/* line 55, C:/mylist/mylist/public/modules/core/css/core.scss */
.tagline {
  margin-top: -10px;
  text-align: center;
  padding: 5px 20px;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  color: #777; }

/* inputs */
/* line 66, C:/mylist/mylist/public/modules/core/css/core.scss */
.inputContainer {
  height: 60px;
  border-top: 1px solid #e5e5e5;
  position: relative;
  overflow: hidden; }

/* line 73, C:/mylist/mylist/public/modules/core/css/core.scss */
.inputContainer.last {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px; }

/* line 78, C:/mylist/mylist/public/modules/core/css/core.scss */
.inputContainer.half.last.right {
  border-left: 1px solid #efefef; }

/* line 82, C:/mylist/mylist/public/modules/core/css/core.scss */
.icon {
  position: absolute;
  top: 30%;
  left: 10px;
  font-size: 20px; }

/* line 89, C:/mylist/mylist/public/modules/core/css/core.scss */
.taskAdd {
  background: #444;
  padding-left: 15px; }

/* line 94, C:/mylist/mylist/public/modules/core/css/core.scss */
.taskAdd:hover {
  background: #303030; }

/* line 98, C:/mylist/mylist/public/modules/core/css/core.scss */
.taskDelete {
  background: #e74c3c;
  padding-left: 30px; }

/* line 103, C:/mylist/mylist/public/modules/core/css/core.scss */
.taskDelete:hover {
  background: #c0392b; }

/* task styles */
/* line 108, C:/mylist/mylist/public/modules/core/css/core.scss */
.taskList {
  list-style: none;
  padding: 0 20px; }
  /* line 112, C:/mylist/mylist/public/modules/core/css/core.scss */
  .taskList .taskItem:last-child {
    border-bottom: none; }
  /* line 116, C:/mylist/mylist/public/modules/core/css/core.scss */
  .taskList .taskItem:nth-child(even) {
    background: #fcfcfc; }

/* line 121, C:/mylist/mylist/public/modules/core/css/core.scss */
.taskItem {
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 0;
  color: #777;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px; }

/* line 130, C:/mylist/mylist/public/modules/core/css/core.scss */
.taskCheckbox {
  margin-right: 1em; }

/* line 134, C:/mylist/mylist/public/modules/core/css/core.scss */
.complete-true {
  text-decoration: line-through;
  color: #bebebe; }

/* line 139, C:/mylist/mylist/public/modules/core/css/core.scss */
.taskList .taskDate {
  color: #95a5a6;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin-left: 41px; }

/* line 148, C:/mylist/mylist/public/modules/core/css/core.scss */
.fa-calendar {
  margin-right: 10px;
  font-size: 16px; }

/* line 153, C:/mylist/mylist/public/modules/core/css/core.scss */
[class*='category-'] {
  /*    display: inline-block;*/
  font-size: 10px;
  background: #444;
  vertical-align: middle;
  color: #fff;
  padding: 10px;
  width: 75px;
  text-align: center;
  border-radius: 2px;
  float: right;
  font-weight: normal;
  text-transform: uppercase;
  margin-right: 20px; }

/* line 169, C:/mylist/mylist/public/modules/core/css/core.scss */
.category- {
  background: transparent; }

/* line 173, C:/mylist/mylist/public/modules/core/css/core.scss */
.category-Watch {
  background: #2980b9; }

/* line 177, C:/mylist/mylist/public/modules/core/css/core.scss */
.category-Read {
  background: #8e44ad; }

/* line 181, C:/mylist/mylist/public/modules/core/css/core.scss */
.category-Play {
  background: #f39c12; }

/* line 185, C:/mylist/mylist/public/modules/core/css/core.scss */
.category-Other {
  background: #16a085; }

/* line 190, C:/mylist/mylist/public/modules/core/css/core.scss */
footer {
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  color: #777; }

/* line 198, C:/mylist/mylist/public/modules/core/css/core.scss */
footer a {
  color: #f39c12; }

/* custom checkboxes */
/* line 202, C:/mylist/mylist/public/modules/core/css/core.scss */
.taskCheckbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  cursor: pointer;
  width: 19px;
  height: 19px;
  vertical-align: middle; }

/* line 212, C:/mylist/mylist/public/modules/core/css/core.scss */
.taskCheckbox:before, .taskCheckbox:checked:before {
  font-family: 'FontAwesome';
  color: #444;
  font-size: 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

/* line 219, C:/mylist/mylist/public/modules/core/css/core.scss */
.taskCheckbox:before {
  content: '\f096'; }

/* line 223, C:/mylist/mylist/public/modules/core/css/core.scss */
.taskCheckbox:disabled:before {
  content: '\f03a';
  color: #1212B8; }

/* line 228, C:/mylist/mylist/public/modules/core/css/core.scss */
.taskCheckbox:checked:before {
  content: '\f14a';
  color: #47a447; }

/* custom select menu */
/* line 234, C:/mylist/mylist/public/modules/core/css/core.scss */
.taskCategory {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  padding-left: 16.5px;
  /*specific positioning due to difficult behavior of select element*/
  background: #fff; }

/* line 241, C:/mylist/mylist/public/modules/core/css/core.scss */
.selectArrow {
  position: absolute;
  z-index: 10;
  top: 35%;
  right: 0;
  margin-right: 20px;
  color: #777;
  pointer-events: none; }

/* line 251, C:/mylist/mylist/public/modules/core/css/core.scss */
.taskCategory option {
  background: #fff;
  border: none;
  /*    outline: none;*/
  padding: 0 100px; }

/** FAVOURITES STYLING **/
/* line 260, C:/mylist/mylist/public/modules/core/css/core.scss */
.favourite-header {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  display: inline-block;
  white-space: nowrap; }

/* line 268, C:/mylist/mylist/public/modules/core/css/core.scss */
.favourite-link {
  color: inherit; }

/* line 272, C:/mylist/mylist/public/modules/core/css/core.scss */
.favourite-link:hover,
.favourite-link:focus {
  color: inherit;
  text-decoration: none; }

/* line 277, C:/mylist/mylist/public/modules/core/css/core.scss */
.favourite-link:hover h2:before {
  content: 'Go to '; }

/* line 280, C:/mylist/mylist/public/modules/core/css/core.scss */
.favourite-link:hover h2:after {
  content: '?'; }

/* line 284, C:/mylist/mylist/public/modules/core/css/core.scss */
.collapse-bar {
  cursor: pointer;
  background-color: #e6e6e6;
  color: #FFF;
  font-weight: bold; }

/* line 291, C:/mylist/mylist/public/modules/core/css/core.scss */
.keep-cursor {
  cursor: default; }

/* line 295, C:/mylist/mylist/public/modules/core/css/core.scss */
.clickable {
  cursor: pointer; }

/*
.show-nav .push-wrap {
    -webkit-transform: translate(50%, 0);
    -webkit-transform: translate3d(50%, 0, 0);
    -moz-transform: translate(50%, 0);
    -moz-transform: translate3d(50%, 0, 0);
    -ms-transform: translate(50%, 0);
    -ms-transform: translate3d(50%, 0, 0);
    -o-transform: translate(50%, 0);
    -o-transform: translate3d(50%, 0, 0);
    transform: translate(50%, 0);
    transform: translate3d(50%, 0, 0);
}

 Adds a transition and the resting translate state 
.push-wrap {
    -webkit-transition: all 300ms ease 0;
    -moz-transition: all 300ms ease 0;
    -o-transition: all 300ms ease 0;
    transition: all 300ms ease 0;

    -webkit-transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate(0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate(0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate(0, 0);    
    transform: translate3d(0, 0, 0);
}
*/
/* line 333, C:/mylist/mylist/public/modules/core/css/core.scss */
.site-wrap {
  overflow: hidden;
  width: 100%;
  height: 100%; }

/* line 339, C:/mylist/mylist/public/modules/core/css/core.scss */
.add-task-popout {
  position: fixed;
  top: 10vh;
  left: 20vw;
  width: 60vw;
  height: 75vh;
  margin-top: 10px;
  background-color: #FFF;
  align-content: center;
  overflow-y: scroll;
  z-index: 100; }

/* line 354, C:/mylist/mylist/public/modules/core/css/core.scss */
.toggle-add-task {
  font-size: 20px; }

/* Remove unecessary green 'valid' border */
/* line 359, C:/mylist/mylist/public/modules/core/css/core.scss */
.btn-primary.ng-valid.ng-dirty {
  border-color: #245580; }

/* line 364, C:/mylist/mylist/public/modules/core/css/core.scss */
.popout-header {
  padding-bottom: 9px;
  margin: 20px 0;
  border-bottom: 1px solid #337ab7;
  color: #FFF;
  background-color: #337ab7;
  padding: 10px;
  width: 95%; }

/* line 374, C:/mylist/mylist/public/modules/core/css/core.scss */
.checklistItem {
  padding: 5px; }

/* line 378, C:/mylist/mylist/public/modules/core/css/core.scss */
.checklist-progress-bar {
  height: 10px;
  width: 75%;
  margin-top: 10px; }

/* line 384, C:/mylist/mylist/public/modules/core/css/core.scss */
.menu-header-bar {
  position: relative;
  display: block;
  background-color: #337ab7;
  color: #FFF;
  font-weight: bold;
  padding: 10px 15px;
  border: 1px solid #FFF;
  border-radius: 2px;
  margin: 0 5% -1px; }

/* line 397, C:/mylist/mylist/public/modules/core/css/core.scss */
a.menu-header-bar,
a.menu-header-bar:hover {
  text-decoration: none; }

/* line 401, C:/mylist/mylist/public/modules/core/css/core.scss */
.menu-header-bar:hover {
  background-color: #286090;
  color: #FFF; }

/* line 406, C:/mylist/mylist/public/modules/core/css/core.scss */
.tile-style, .add-task-popout, .filter-container {
  border: 2px outset #eee;
  -webkit-box-shadow: 1px 1px 5px #777;
  -moz-box-shadow: 1px 1px 5px #777;
  box-shadow: 1px 1px 5px #777; }

/* line 411, C:/mylist/mylist/public/modules/core/css/core.scss */
.task-list-container {
  padding: 0 5px;
  margin-left: 10px; }

/* line 417, C:/mylist/mylist/public/modules/core/css/core.scss */
.filter-container {
  padding: 20px 0;
  margin-left: -10px; }

/*# sourceMappingURL=core.css.map */