.content {
	margin-top: 50px;
    padding-bottom: 100px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

/* remove unecessary red/green borders. */
.input-group input.ng-valid.ng-dirty,
.input-group select.ng-valid.ng-dirty,
.input-group span.ng-valid.ng-dirty {
    border-color: #ccc;
}

/* remove not-allowed cursor */
.form-control[disabled],
input[type="checkbox"][disabled], input[type="checkbox"].disabled {
    cursor: default;
}

a {
    color: $brand-accent-alter;
}
a:focus {
    color: $brand-accent;
}
a:hover {
    @extend a:focus;
}

.navbar-inverse {
    background-image: none;
    background-color: $brand-primary;
    border-color: $brand-secondary;
}

.navbar-inverse .navbar-toggle {
    @extend .navbar-inverse;
}
.navbar-inverse .navbar-toggle:focus {
    @extend .navbar-inverse;
    background-color: $brand-tertiary;
}
.navbar-inverse .navbar-toggle:hover {
    @extend .navbar-inverse;
    background-color: $brand-tertiary;
}

.navbar-inverse .navbar-brand {
    color: $brand-accent;
}
.navbar-inverse .navbar-brand:focus {
    color: $brand-accent-alter;
}
.navbar-inverse .navbar-brand:hover {
    color: $brand-accent-alter;
}

.navbar-inverse .navbar-nav {
    li {
        a {
            color: $brand-accent;
        }
        a:focus {
            color: $brand-accent-alter;
        }
        a:hover {
            @extend a:focus;
        }
    }
    .active {
        a {
           background-image: none;
           background-color: none;
           color: $brand-accent-alter;
        }
        a:focus {
            @extend a;
        }
        a:hover {
            @extend a;
        }
    }
    li.open {
        a.dropdown-toggle {
            background-image: none;
            background-color: $brand-secondary;
            color: $brand-accent-alter;
            @media (max-width: $break-small) {
                color: $brand-accent-alter;
            }
        }
        a.dropdown-toggle:focus {
            @extend a.dropdown-toggle;
            color: $brand-accent-alter;
            @media (max-width: $break-small) {
                color: $brand-accent-alter;
            }
        }
        a.dropdown-toggle:hover {
            @extend a.dropdown-toggle:focus;
            color: $brand-accent-alter;
            @media (max-width: $break-small) {
                color: $brand-accent-alter;
            }
        }
    }
    li.active {
        a.dropdown-toggle {
            background-image: none;
            background-color: $brand-secondary;
            color: $brand-accent-alter;
            @media (max-width: $break-small) {
                color: $brand-accent-alter;
            }
        }
        a.dropdown-toggle:focus {
            @extend a.dropdown-toggle;
            color: $brand-accent-alter;
            @media (max-width: $break-small) {
                color: $brand-accent-alter;
            }
        }
        a.dropdown-toggle:hover {
            @extend a.dropdown-toggle:focus;
        }
    }
}
//Does the items within the navbar menu dropdowns.
.navbar-inverse .navbar-nav .open .dropdown-menu {
    li {
        a {
            background-image: none;
            background-color: $brand-tertiary;
            color: $brand-accent;
        }
        a:focus {
            background-color: $brand-secondary;
            color: $brand-accent-alter;
        }
        a:hover {
            @extend a:focus;
        }
    }
}
//Does the 'single links' on the end and handles them becoming a dropdown on small screens.
nav {
     .additional-navbar-links {
            @media (max-width: $break-medium) {
                display: none;
            }
       
            .navbar-link {
                color: $brand-accent;
                padding: 15px 15px;
            }
            .navbar-link:visited {
                @extend .navbar-link;
                text-decoration: none;
            }
            .navbar-link:focus {
                color: $brand-accent-alter;
                text-decoration: none;
            }   
            .navbar-link:hover  {
                @extend .navbar-link:focus;
            }
            .navbar-link:active {
                background-color: $brand-secondary;
                color: $brand-accent;
            }
            li.active {
                .navbar-link {
                    background-color: $brand-secondary;
                    color: $brand-accent;
                }
                .navbar-link:visited {
                    @extend .navbar-link;
                }
                .navbar-link:focus {
                    @extend .navbar-link;
                }   
                .navbar-link:hover  {
                    @extend .navbar-link;
                }
            }
     }
     .additional-navbar-links-dropdown {
            display: none;
            
            @media (max-width: $break-medium) {
                    display: block;
            }
     }
}
.dropdown-menu {
    .active {
        a {
            background-color: $brand-primary;
        }
    }
}

.primary-text {
    color: $brand-primary;
}
.accent-text {
    color: $brand-accent;
}
.accent-alter-text {
    color: $brand-accent-alter;
}
    

/**
 *  Task List CSS
 */

.tagline {
    margin-top: -10px;
    text-align: center;
    padding: 5px 20px;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    color: #777; 
}

/* inputs */
.inputContainer {
    height: 60px;
    border-top: 1px solid #e5e5e5;
    position: relative;
    overflow: hidden;
}

.inputContainer.last {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

.inputContainer.half.last.right {
    border-left: 1px solid #efefef;
}

//.icon {
//    position: absolute;
//    top: 30%;
//    left: 10px;
//    font-size: 20px;
//}

.taskAdd {
    background: #444;
    padding-left: 15px;
}

.taskAdd:hover {
    background: #303030;
}

.taskDelete {
    background: #e74c3c;
    padding-left: 30px;
}

.taskDelete:hover {
    background: #c0392b;
}

/* task styles */
.taskList {
    list-style: none;
    padding: 0 20px;
    
    .taskItem:last-child {
        border-bottom: none;
    }
}

.taskItem {
    max-height: 500px;
    border-bottom: $brand-border;
    padding: 15px 0;
    color: $brand-accent;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
    .checklist-list-container {
        max-height: 350px;
    }
    @media (min-width: $break-small) and (max-width: $break-medium) {
        span.task-description-text {
            white-space: nowrap;
            overflow: hidden;
            position: absolute;
            width: 50%;
            margin-left: 5px;
        }
        span.task-times-text {
            position: absolute;
            display: block;
        }
        span.separator {
            display: none;
        }
    }
}

.taskCheckbox {
    margin-right: 1em;
}

.complete-true {
    text-decoration:  line-through;
    color: $brand-accent-alter;
}

.taskList .taskDate {
    color: $brand-accent-alter;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    width: 10%;
    white-space: nowrap;
    margin-left: 41px;
}

.fa-calendar {
    margin-right: 10px;
    font-size: 16px;
}

[class*='category-'] {
/*    display: inline-block;*/
    font-size: 10px;
    background: #444;
    vertical-align: middle;
    color: #fff;
    padding: 10px;
    width: 75px;
    text-align: center;
    border-radius: 2px;
    float: right;
    font-weight: normal;
    text-transform: uppercase;
    margin-right: 20px;
}

.category- {
    background: transparent;
}

.category-Watch {
    background: $red;
}

.category-Read {
    background: $purple;
}

.category-Play {
    background: $orange;
}

.category-Other {
    background: $green;
}

/* custom checkboxes */
.taskCheckbox {
    @include appearance(none);
    @include transition(all 0.3s);
    display: inline-block;
    cursor: pointer;
    width: 19px;
    height: 19px;
    vertical-align: middle;
}

.taskCheckbox:before, .taskCheckbox:checked:before {
    font-family: 'FontAwesome';
    color: $brand-accent;
    font-size: 20px;
    @include transition(all 0.3s);
}

.taskCheckbox:before {
    content: '\f096';
}

.taskCheckbox:disabled:before {
    content: '\f03a';
    color: $brand-accent-alter;
}

.taskCheckbox:checked:before {
    content: '\f14a';
    color: $brand-success;
}

/* custom select menu */
.taskCategory {
    @include appearance(none);
    cursor: pointer;
    padding-left: 16.5px; /*specific positioning due to difficult behavior of select element*/
    background: #fff;
}

.selectArrow {
    position: absolute;
    z-index: 10;
    top: 35%;
    right: 0;
    margin-right: 20px;
    color: #777;
    pointer-events: none;
}

.taskCategory option {
    background: #fff;
    border: none;
/*    outline: none;*/
    padding: 0 100px;
}

.collapse-bar {
    cursor: pointer;
    background-color: #e6e6e6;
    color: #FFF;
    font-weight: bold;
}

.keep-cursor {
    cursor: default;
}

.clickable {
    cursor: pointer;
}

.site-wrap {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.add-task-popout {
  position: fixed;
  top: 10vh;
  left: 20vw;
  width: 60vw;
  height: 75vh;
  @extend .tile-style;
//  border: 5px solid $blue;
  margin-top: 10px; 
  background-color: #FFF;
  align-content: center;
  overflow-y: auto;
  z-index: 1000;
}

.toggle-add-task {
    font-size: 20px;
}

//Btn styling!!
.btn-primary {
    background-image: none;
    background-color: $brand-primary;
    border-color: $brand-secondary;
    color: $brand-accent;
}
.btn-primary:focus {
    background-color: $brand-secondary;
    border-color: $brand-tertiary;
    color: $brand-accent-alter;
}
.btn-primary:hover {
    @extend .btn-primary:focus;
}
.btn-primary:active {
    @extend .btn-primary:focus;
}
.btn-primary.active {
    @extend .btn-primary:focus;
}
.btn-primary:disabled, .btn-primary[disabled] {
    background-color: $brand-tertiary;
    border-color: $brand-tertiary;
}
/* Remove unecessary green 'valid' border */
.btn-primary.ng-valid.ng-dirty {
    border-color: $brand-secondary;
}
.btn-accent {
    background-image: none;
    background-color: $brand-accent;
    border-color: $brand-accent-alter;
    color: $brand-primary;
}
.btn-accent:focus {
    background-color: $brand-accent-alter;
    border-color: $brand-tertiary;
    color: $brand-secondary;
}
.btn-accent:hover {
    @extend .btn-accent:focus;
}
.btn-accent:active {
    @extend .btn-accent:focus;
}
.btn-accent.active {
    @extend .btn-accent:focus;
}
.btn-accent:disabled, .btn-accent[disabled] {
    background-color: $brand-tertiary;
    border-color: $brand-tertiary;
}
/* Remove unecessary green 'valid' border */
.btn-accent.ng-valid.ng-dirty {
    border-color: $brand-accent-alter;
}
.btn-success {
    background-image: none;
    background-color: $brand-success;
    border-color: $brand-success-alter;
    color: $brand-success-accent;
}
.btn-success:focus {
    background-color: $brand-success-alter;
    border-color: $brand-success;
    color: $brand-success-accent-alter;
}
.btn-success:hover {
    @extend .btn-success:focus;
}
.btn-success:active {
    @extend .btn-success:focus;
}
.btn-success.active {
    @extend .btn-success:focus;
}
/* Remove unecessary green 'valid' border */
.btn-success.ng-valid.ng-dirty {
    border-color: $brand-success-alter;
}
.btn-danger {
    background-image: none;
    background-color: $brand-danger;
    border-color: $brand-danger-alter;
    color: $brand-danger-accent;
}
.btn-danger:focus {
    background-color: $brand-danger-alter;
    border-color: $brand-danger;
    color: $brand-danger-accent-alter;
}
.btn-danger:hover {
    @extend .btn-danger:focus;
}
.btn-danger:active {
    @extend .btn-danger:focus;
}
.btn-danger.active {
    @extend .btn-danger:focus;
}
/* Remove unecessary green 'valid' border */
.btn-danger.ng-valid.ng-dirty {
    border-color: $brand-danger-alter;
}

.popout-header {
  padding-bottom: 9px;
  margin: 20px 0;
  border: $brand-border;
    color: $brand-accent;
    background-color: $brand-secondary;
    padding: 10px;
    width: 95%;
}

.checklist-item {
    padding: 5px;
}

.menu-header-bar {
    position: relative;
    display: block;
    background-color: $brand-primary;
    color: $brand-accent;
    font-weight: bold;
    padding: 10px 15px;
    border: $brand-border;
    border-radius: 2px;
    margin: 0 5% -1px;
}

a.menu-header-bar,
a.menu-header-bar:hover {
  text-decoration: none;
}

.menu-header-bar:hover {
    background-color: $brand-secondary;
    color: $brand-accent-alter;
}

.tile-style {
    background-color: $brand-primary;
    border: 2px outset $brand-tertiary;
    @include box-shadow(1px, 1px, 5px, $brand-secondary);
}

.task-list-container {
    padding: 10px 5px;
    margin: 40px 10px;
}

.placeholder-container {
//    height: 400px;
    margin-top: 20px;
}

.filter-container {
    @extend .placeholder-container;
    padding: 20px 0;
    margin-left: -10px;
    z-index: 500;
    position: fixed;
    top: 100px;
    left: 50px;
    max-width: 350px;
    min-width: 200px;
//    margin-left: -250px;
//    overflow-y: auto;
//    padding: 20px 0;
}

.fixed-header {
    position: fixed;
    z-index: 500;
    top: 55px;
    left: 40px;
}

.page-header {
    border-color: $brand-accent;
}

.checklist-progress-bar {
    background-color: $grey-light;
    height: 10px;
    width: 75%;
    margin-top: 10px;
}
.checklist-progress {
    height: 100%;
    background-color: $brand-accent-alter;
    @include background-image($brand-accent-alter, $brand-accent);
    background-repeat: repeat-x;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCA7500',endColorstr='#FFFFAC3A',GradientType=0)";
}

div.popover {
    color: $brand-accent-alter;
}

.checklist-list {
    max-height: 250px;
    overflow-y: auto;
    list-style-type: decimal-leading-zero;
}
.options-list-container {
    max-height: 12vh;
    overflow-y: auto;
}
.options-list {
    list-style-type: decimal-leading-zero;
    li {
        position: relative;
        padding: 0;
        p {
            width: 100%;
            padding-right: 10px;
            margin-bottom: 0;
        }
        p:hover {
            background-color: $brand-primary;
        }
        a {
            margin: 0;
        }
    }
    li:hover {
        background-color: $brand-secondary;
    }
}

/** RATINGS PAGE **/

.small-input {
    display: inline;
    width: 40px;
    padding: 0;
    padding-left: 5px;
}

.ratings-table {
    width: 100%;
    tr:hover {
        background-color: $brand-secondary;
    }
    th {
        text-align: center;
    }
    th.left {
        text-align: left;
    }
    td {
        text-align: center;
    }
    td.left {
        text-align: left;
    }
}



/** END RATINGS PAGE **/
