.mal-search {
  #selected-result {
    position: absolute;
    top: -20px;
    right: 0;
    cursor: pointer;
  }
  > ul {
    position: absolute;
    top: 40px;
    left: 10px;
    height: 300px;
    width: calc(100% - 20px);
    background: #fff;
    padding: 10px;
    list-style-type: none;
    z-index: 1000;
  }
  .search-results {
    position: relative;
    height: auto;
    padding: 2px 5px;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      background: #000;
    }
    .image {
      width: 59px;
      height: 90px;
    }
    .title {
      position: absolute;
      top: 50%;
      width: 75%;
      padding: 0 5px;
      margin: 0;
      word-break: break-word;
    }
  }
}

.action-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  width: 145px;
  padding: 5px 10px;
  background: #fff;
  list-style-type: none;
  white-space: nowrap;
  z-index: 10;
  li:hover:after {
    content: ">";
  }
}
