.form-group p {
	font-size: 14px;
}


.list-group-item {
    background-color: $brand-secondary;
    border-color: $brand-tertiary;
}

.view-buttons {
    margin-bottom: 25px;
    margin-top: -25px;
    padding-bottom: 20px;
}

.view-item-detail {
    margin-top: 5px;
    padding-top: 5px;
}

.item-icons {
    margin: 1px;
}

.item-tags {
    color: $grey-dark;
    font-style: italic;
    margin: 10px 0;
    padding: 5px 0;
    padding-left: 0;
}

.item-actions {
    margin: 10px 0;
}


.blue-text {
    color: $blue;
}

.green-text {
    color: $green;
}

.padded-medium {
    padding: 10px;
}

.item-history-popout {
  position: fixed;
  top: 10vh;
  left: 20vw;
  width: 60vw;
  height: 50vh;
  background-color: $brand-primary;
  align-content: center;
  border: 5px solid $brand-secondary;
  margin-top: 10px;
  overflow-y: scroll;
  z-index: 750;
    
    div.item-history:nth-child(even) {
        background-color: $brand-secondary;
        width: 95%;
    }
    
}

.close-button {
  position: absolute;
  top: 6px;
  right: 1%;
  padding: 5px 10px;
  margin: 20px 0;
  color: $red;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.close-button:hover {
    background-color: $red;
    color: #FFF;
}
.tag-list {
    list-style-type: none;
    padding: 0 20px;
}


.loading-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #C0C0C0;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("/modules/core/img/loaders/info-loader.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.item-list-container {
    @extend .tile-style;
    padding: 10px;
    margin: 40px 10px;
}

.item-placeholder-container {
    min-height: 600px;
    margin-top: 40px;
}

.item-filter-container {
    @extend .tile-style;
    @extend .item-placeholder-container;
    padding: 20px 10px;
    margin-top: 0;
    margin-left: -10px;
    z-index: 500;
    position: fixed;
    top: 120px;
    left: 50px;
    max-width: 350px;
    min-width: 200px;
}

.search-tag-list-container {
    min-width: 180px;
}

@media (min-width: $break-small) and (max-width: 1015px) {
    .btn-ends {
        display: none;
    }

}

.rating-stars {
    color: $brand-accent;
    white-space: nowrap;
}
.list-item-rating-stars {
    @extend .rating-stars;
    font-size: 14px;
}
.view-item-rating-stars {
    @extend .rating-stars;
    font-size: 16px;
}
@media (min-width: $break-small) and (max-width: 875px) {
    .rating-label {
        display: none;
    }
}