@import '../../../../public/style/_var';

.form-group p {
	font-size: 14px;
}

.view-buttons {
    margin-bottom: 25px;
    margin-top: -25px;
    padding-bottom: 20px;
}

.stat-month-box {
    cursor: pointer;
    background-color: $blue-rich;
}

.stat-month-box:hover {
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
}

.stat-rating-panel {
    margin-top: 10px;
}

.stat-history {
    margin-bottom: 10px;
}

.stat-header {
    border-bottom: $grey-line;
    margin-bottom: 10px;
}

.progress-container {
    height: 100%;
}

.progress-bar-placement {
    margin-bottom: 10px;
}

.stat-summary-info {
    margin-top: -25px;
}

.related-media {
    padding-top: 25px;
    font-size: small;
}

.stat-tag-panel {
    margin-top: 10px;
/*    border-top: 1px solid #eee;*/
}

.view-item-detail {
    margin-top: 5px;
    padding-top: 5px;
}

.item-icons {
    margin: 1px;
}

.item-tags {
    color: $grey-dark;
    font-style: italic;
    margin: 10px 0;
    padding: 5px 0;
    padding-left: 0;
}

.item-actions {
    margin: 10px 0;
}

.stat-header-label-container {
    display: inline-flex;
}

.stat-header-label,
.stat-header-label.ng-valid.ng-dirty {
    font-size: 24px;
    padding: 5px;
    border: 1px solid #FFF;
    margin: 10px 5px;
}

.stat-header-label.active,
.stat-header-label.ng-valid.ng-dirty.active,
.stat-header-label:focus {
    color: #FFF;
    background-color: $blue;
}

.stat-season-header {
    width: 24%;
}

.stat-overview {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.blue-text {
    color: $blue;
}

.green-text {
    color: $green;
}

.padded-medium {
    padding: 10px;
}

.item-history-popout {
  position: fixed;
  top: 10vh;
  left: 20vw;
  width: 60vw;
  height: 50vh;
  background-color: #FFF;
  align-content: center;
  border: 5px solid $blue;
  margin-top: 10px;
  overflow-y: scroll;
  z-index: 200;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 4px;
  margin: 0 20px;
  color: $red;
  font-size: 20px;
  text-align: center;
  cursor: pointer;

//  padding: 6px 6px;
//  margin: 20px 12px 10px;
}

.close-button:hover {
    background-color: $red;
    color: #FFF;
}
.tag-list {
    list-style-type: none;
    padding: 0 20px;
}

.stat-month-header {
    width: 8%
}

.loading-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #C0C0C0;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("/modules/core/img/loaders/info-loader.gif");
    background-repeat: no-repeat;
    background-position: center;
}
