<section data-ng-controller="CreateAnimeController as ctrl" data-ng-show="ctrl.authentication.user">
    <header class="page-header">
      <h1 ng-bind="ctrl.config.title + ' Anime'"></h1>
    </header>
    <div flex="100">
      <form layout="column" flex-offset="20" flex="60" name="animeForm" data-ng-submit="ctrl.submit()" novalidate>
          <md-input-container>
            <label for="title">Title</label>
            <input type="text" data-ng-model="ctrl.animeitem.title" id="title" name="title" placeholder="Title" required>
          </md-input-container>
          <md-input-container>
            <label for="episodes">Episodes</label>
            <input type="number" data-ng-model="ctrl.animeitem.episodes" min="0" ng-change="ctrl.addedEpisodes()"
                   id="episodes" name="episodes" placeholder="0" required>
          </md-input-container>
          <md-input-container ng-if="::ctrl.config.isCreate">
            <label for="start">Start</label>
            <input type="date" data-ng-model="ctrl.animeitem.start" id="start" name="start" placeholder="" format-date required>
          </md-input-container>
          <md-input-container>
            <label for="latest">Latest</label>
            <input type="date" data-ng-model="ctrl.animeitem.latest" id="latest" name="latest" format-date required>
          </md-input-container>
          <md-input-container ng-if="::ctrl.config.isCreate">
            <md-checkbox data-ng-model="ctrl.season" id="season" name="season">
              In Season?
            </md-checkbox>
          </md-input-container>
          <md-input-container ng-if="::ctrl.config.isCreate">
            <md-checkbox data-ng-model="ctrl.animeitem.status" data-ng-checked="ctrl.animeitem.episodes === ctrl.animeitem.finalEpisode && ctrl.animeitem.finalEpisode!=0 || ctrl.animeitem.end!==null && ctrl.animeitem.reWatching===true" data-ng-true-value="true" id="status" name="status" disabled>
              Completed?
            </md-checkbox>
          </md-input-container>
          <p class="clickable accent-text" ng-click="ctrl.section.showAdditionals=!ctrl.section.showAdditionals">
            <i class="fa" ng-class="ctrl.section.showAdditionals ? 'fa-minus-square' : 'fa-plus-square'"></i> Additional properties
          </p>
          <div ng-show="ctrl.section.showAdditionals">
            <md-input-container ng-if="::!ctrl.config.isCreate">
              <label for="rating">Rating</label>
              <uib-rating class="clickable rating-stars" data-ng-model="ctrl.animeitem.rating" readonly="false" max="ctrl.config.ratingActions.maxRating" on-hover="ctrl.hoveringOver(value)" on-leave="overStar = null" id="rating" name="rating"></uib-rating>
              <span data-ng-show="ctrl.config.ratingActions.overStar!=null" class="label" ng-class="{'label-warning': ctrl.config.ratingActions.percent<40, 'label-info': ctrl.config.ratingActions.percent>=30 && ctrl.config.ratingActions.percent<70, 'label-success': ctrl.config.ratingActions.percent>=70}"
                ng-bind="ctrl.config.ratingActions.percent + '%'">
              </span>
            </md-input-container>
            <div>
              <md-input-container>
                <label for="image"> </label>
                <input type="file" file-model="ctrl.myFile" accept="image/png, image/jpeg">
              </md-input-container>
              <md-button class="md-primary" data-ng-click="ctrl.uploadFile()"
                         data-ng-disabled="ctrl.myFile==='' || ctrl.myFile===null || ctrl.myFile===undefined">Upload File</md-button>
            </div>
            <md-select data-ng-model="ctrl.animeitem.manga" id="manga" name="manga">
                <md-option value="">-- Link to a manga --</md-option>
                <md-option ng-repeat="manga in ctrl.mangaitems | orderBy: 'title' track by manga._id" value="{{manga}}">
                  {{manga.title}}
                </md-option>
            </md-select>
            <md-input-container>
              <md-checkbox data-ng-model="ctrl.animeitem.disc" id="disc" name="disc">
                Disc?
              </md-checkbox>
            </md-input-container>
          </div>
          <p class="clickable accent-text" ng-click="ctrl.section.showOthers=!ctrl.section.showOthers" ng-if="::!ctrl.config.isCreate">
            <i class="fa" ng-class="ctrl.section.showOthers ? 'fa-minus-square' : 'fa-plus-square'"></i> Completion properties
          </p>
          <div ng-show="ctrl.section.showOthers" ng-if="::!ctrl.config.isCreate">
            <md-input-container ng-show="!ctrl.animeitem.status || ctrl.animeitem.reWatching">
              <md-checkbox data-ng-model="ctrl.animeitem.onHold" id="onHold" name="onHold">
                On Hold?
              </md-checkbox>
            </md-input-container>
            <md-select ng-model="ctrl.animeitem.season.season" ng-change="ctrl.setInSeason()" id="season" name="season">
                <md-option value="">No Season</md-option>
                <md-option ng-repeat="option in ctrl.config.commonArrays.seasons" value="{{option.text}}">
                  {{option.text}}
                </md-option>
            </md-select>
            <md-input-container ng-if="ctrl.animeitem.season.year !== null">
              <label>year</label>
              <input type="text" ng-model="ctrl.animeitem.season.year" disabled />
            </md-input-container>
            <md-input-container>
              <label for="end">End</label>
              <input type="date" data-ng-model="ctrl.animeitem.end" id="end" name="end" format-date>
            </md-input-container>
            <md-input-container
                 ng-hide="ctrl.animeitem.end!=null && ctrl.animeitem.episodes===ctrl.animeitem.finalEpisode || ctrl.animeitem.end!=null && ctrl.animeitem.reWatching===true ">
              <label for="finalEpisode">Final episode</label>
              <input type="number" data-ng-model="ctrl.animeitem.finalEpisode" min="0" id="finalEpisode" name="finalEpisode" placeholder="0">
            </md-input-container>
            <md-input-container data-ng-show="ctrl.animeitem.status==true">
              <md-checkbox data-ng-model="ctrl.animeitem.reWatching" data-ng-disabled="ctrl.animeitem.reWatching" data-ng-change="ctrl.animeitem.episodes=0;" id="reWatching" name="reWatching">
                Re-watching?
              </md-checkbox>
            </md-input-container>
          </div>
          <p class="clickable accent-text" ng-click="ctrl.section.showItemTags=!ctrl.section.showItemTags">
            <i class="fa" ng-class="ctrl.section.showItemTags ? 'fa-minus-square' : 'fa-plus-square'"></i> Tag properties
          </p>
          <div ng-show="ctrl.section.showItemTags">
            <md-input-container>
              <label for="tags">Tags</label>
                  <input type="text" data-ng-model="ctrl.newTag" enter-tag="ctrl.addTag()" id="tags" name="tags" placeholder="tags..."
                          uib-typeahead="stat.tag for stat in ctrl.config.statTags | filter: $viewValue | limitTo: 10">
            </md-input-container>
            <md-button class="md-primary" data-ng-click="ctrl.addTag()" data-ng-disabled="ctrl.newTag==='' || ctrl.newTag===null || ctrl.newTag===undefined">Add Tag</md-button>
            <md-list class="tag-list">
              <md-list-item class="tag-bubble" ng-repeat="tag in ctrl.animeitem.tags">
                  {{tag.text}}
                  <md-button class="md-warn md-icon-button float-right" aria-hidden="true" ng-click="ctrl.removeTag(tag.text)">
                    <md-icon>delete</md-icon>
                  </md-button>
              </md-list-item>
            </md-list>
            <md-list class="tag-list">
                <md-list-item class="tag-bubble" ng-repeat="tag in ctrl.tagArray track by $index">
                    {{tag.text}}
                    <md-button class="md-warn md-icon-button float-right" aria-hidden="true" ng-click="ctrl.dropTag(tag.text)">
                      <md-icon>delete</md-icon>
                    </md-button>
                </md-list-item>
            </md-list>

            </div>
            <div class="form-group padded-medium">
                <md-button type="submit" class="md-default" ng-disabled="animeForm.$invalid">
                  {{ctrl.config.title}}
                </md-button>
                &nbsp; - &nbsp;<a href="/#!/animeitems">Back</a>
            </div>
        </form>
    </div>
</section>
