<section data-ng-controller="AnimeitemsController" data-ng-init="findOne(); find(); findManga();" data-ng-show="authentication.user">
    <div class="page-header">
        <h1>Edit Anime</h1>
    </div>
    <div class="col-md-12">
        <form name="animeForm" class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group" ng-class="{ 'has-error' : animeForm.title.$invalid && !animeForm.title.$pristine }">
                    <label for="title" class="col-md-2 control-label">Title</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" data-ng-model="animeitem.title" id="title" name="title" placeholder="Title" required>
                    </div>
                    <div class="col-md-4">
						<p ng-show="animeForm.title.$invalid && !animeForm.title.$pristine" class="help-block" >The Title is required.</p>
						<span ng-show="animeForm.title.$valid" class="glyphicon glyphicon-ok" style="color: green;"></span>
					</div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : animeForm.episodes.$invalid && !animeForm.episodes.$pristine }">
                    <label for="episodes" class="col-md-2 control-label">Episodes</label>
                    <div class="col-md-6">
                        <input type="number" class="col-md-6 form-control" data-ng-model="animeitem.episodes" min="0" ng-change="animeitem.latest=itemUpdate; animeitem.episodes === animeitem.finalEpisode && animeitem.finalEpisode!=0 && animeitem.reWatching===false ? animeitem.end=itemUpdate : ''; animeitem.episodes > animeitem.finalEpisode && animeitem.finalEpisode!=0 ? animeitem.episodes=animeitem.finalEpisode : ''" id="episodes" name="episodes" placeholder="0" required>
                    </div>
                    <div class="col-md-4">
						<p ng-show="animeForm.episodes.$invalid && !animeForm.episodes.$pristine" class="help-block" >Episodes is a whole number and is required.</p>
                        <!--<p ng-show="!isNumber(animeForm.chapters)" class="help-block">Chapter number should be a full number.</p>-->
						<span ng-show="animeForm.episodes.$valid" class="glyphicon glyphicon-ok" style="color: green;"></span>
					</div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : animeForm.latest.$invalid }">
                    <label for="latest" class="col-md-2 control-label">Latest</label>
                    <div class="col-md-6">
                        <input type="date" class="form-control" data-ng-model="animeitem.latest" id="latest" name="latest" placeholder="" required>
                    </div>
                    <div class="col-md-4">
						<p ng-show="animeForm.latest.$invalid && !animeForm.latest.$pristine" class="help-block" >Latest date must be 'dd/mm/yyyy' and is required.</p>
						<span ng-show="animeForm.latest.$valid && !animeForm.latest.$pristine" class="glyphicon glyphicon-ok" style="color: green;"></span>
					</div>
                </div>
                <div class="form-group">
                    <label for="status" class="col-md-2 control-label">Completed?</label>
                    <div class="col-md-6">
                        <input type="checkbox" class="form-control" data-ng-model="animeitem.status" data-ng-checked="animeitem.episodes === animeitem.finalEpisode && animeitem.finalEpisode!=0 || animeitem.end!==null && animeitem.reWatching===true" data-ng-true-value="true" id="status" name="status" disabled>
                    </div>
                </div>
                <p class="clickable blue-text" ng-init="showAdditionals = false" ng-click="showAdditionals=!showAdditionals"><i class="fa" ng-class="showAdditionals ? 'fa-minus-square' : 'fa-plus-square'"></i> Additional properties</p>
                <div ng-show="showAdditionals">
                <div class="form-group">
                    <label for="rating" class="col-md-2 control-label">Rating</label>
                    <div class="col-md-6">
                        <rating class="form-control clickable" data-ng-model="animeitem.rating" style="color: blue;" readonly="false" max="maxRating" on-hover="hoveringOver(value)" on-leave="overStar = null" id="rating" name="rating"></rating>
                    </div>
                    <span data-ng-show="overStar!=null" class="label" ng-class="{'label-warning': percent<40, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}">{{percent}}%</span>
                </div>
                <div class="form-group">
                    <label for="image" class="col-md-2 control-label">Image</label>
                    <div class="col-md-6">
                        <input type="file" class="form-control" file-model="myFile" accept="image/png, image/jpeg">
                    </div>
                    <div class="col-md-4 form-group">
                        <a class="btn btn-primary" data-ng-click="uploadFile()" data-ng-disabled="myFile==='' || myFile===null || myFile===undefined">Upload File</a>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : animeForm.manga.$invalid && !animeForm.manga.$pristine }">
                    <label for="manga" class="col-md-2 control-label">Manga?</label>
                    <div class="col-md-6">
                        <select class="form-control" data-ng-options="manga.title for manga in mangaitems | orderBy: 'title' track by manga._id" data-ng-model="animeitem.manga" id="manga" name="manga">
                            <option value="">-- Link to a manga --</option>
                        </select>
                    </div>
                    <div class="col-md-4">
						<p ng-show="animeForm.manga.$invalid && !animeForm.manga.$pristine" class="help-block" >The manga is required.</p>
						<span ng-show="animeForm.manga.$valid && !animeForm.manga.$pristine" class="glyphicon glyphicon-ok" style="color: green;"></span>
					</div>
                </div>
                <div class="form-group">
                    <label for="disc" class="col-md-2 control-label">Disc?</label>
                    <div class="col-md-6">
                        <input type="checkbox" class="form-control" data-ng-model="animeitem.disc" id="disc" name="disc">
                    </div>
                </div>
                </div>
                <p class="clickable blue-text" ng-init="showOthers = false" ng-click="showOthers=!showOthers"><i class="fa" ng-class="showOthers ? 'fa-minus-square' : 'fa-plus-square'"></i> Completion properties</p>
                <div ng-show="showOthers">
                <div class="form-group" ng-class="{ 'has-error' : animeForm.end.$invalid }">
                    <label for="end" class="col-md-2 control-label">End</label>
                    <div class="col-md-6">
                        <input type="date" class="form-control" data-ng-model="animeitem.end" id="end" name="end" placeholder="">
                    </div>
                    <div class="col-md-4">
						<span ng-show="animeForm.end.$valid && !animeForm.end.$pristine" class="glyphicon glyphicon-ok" style="color: green;"></span>
					</div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : animeForm.finalEpisode.$invalid && !animeForm.finalEpisode.$pristine }" ng-hide="animeitem.end!=null && animeitem.episodes===animeitem.finalEpisode || animeitem.end!=null && animeitem.reWatching===true ">
                    <label for="finalEpisode" class="col-md-2 control-label">Final episode</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" data-ng-model="animeitem.finalEpisode" min="0" id="finalEpisode" name="finalEpisode" placeholder="0">
                    </div>
                    <div class="col-md-4">
                        <p ng-show="animeForm.finalEpisode.$invalid && !animeForm.finalEpisode.$pristine" class="help-block" >Final episode is a whole number and is required.</p>
                        <!--<p ng-show="isNumber(animeForm.chapters)" class="help-block">Chapter number should be a full number.</p>-->
						<span ng-show="animeForm.finalEpisode.$valid && !animeForm.finalEpisode.$pristine" class="glyphicon glyphicon-ok" style="color: green;"></span>
					</div>
                </div>
                <div class="form-group" data-ng-show="animeitem.status==true">
                    <label for="reWatching" class="col-md-2 control-label">Re-watching?</label>
                    <div class="col-md-6">
                        <input type="checkbox" class="form-control" data-ng-model="animeitem.reWatching" data-ng-disabled="animeitem.reWatching" data-ng-change="animeitem.episodes=0;" id="reReading" name="reReading">
                    </div>
                </div>
                </div>
                <p class="clickable blue-text" ng-init="showItemTags = false" ng-click="showItemTags=!showItemTags"><i class="fa" ng-class="showItemTags ? 'fa-minus-square' : 'fa-plus-square'"></i> Tag properties</p>
                <div ng-show="showItemTags">
                <div class="form-group" ng-class="{ 'has-error' : animeForm.tags.$invalid && !animeForm.tags.$pristine }">
                    <label for="tags" class="col-md-2 control-label">Tags</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" data-ng-model="newTag" enter-tag="addTag()" id="tags" name="tags" placeholder="tags..." typeahead="stat.tag for stat in statTags | filter: $viewValue">
                    </div>
                    <div class="col-md-4 form-group">
                        <a class="btn btn-primary" data-ng-click="addTag()" data-ng-disabled="newTag==='' || newTag===null || newTag===undefined">Add Tag</a>
                    </div>
                </div>
                <div class="form-group mt">
                    <ul class="taskList col-md-12">
                        <li class="tag-bubble col-md-2" ng-repeat="tag in animeitem.tags">
                            {{tag.text}}
                            <a class="clickable pull-right" aria-hidden="true" remove-tag="{{tag.text}}"><i class="fa fa-times" style="color: red;"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <ul class="taskList col-md-12">
                        <li class="tag-bubble col-md-2" ng-repeat="tag in tagArray track by $index">
                            {{tag.text}}
                            <a class="clickable pull-right" aria-hidden="true" drop-tag="{{tag.text}}"><i class="fa fa-trash-o" style="color: red;"></i></a>
                        </li>
                    </ul>
                </div>
                </div>
                <div class="form-group padded-medium">
                    <input type="submit" value="Update" class="btn btn-default" ng-disabled="animeForm.$invalid">&nbsp; - &nbsp;<a href="/#!/animeitems">Back</a>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
