<section data-ng-show="ctrl.authentication.user">
  <div layout="row">
      <div layout="column" flex="20" ng-class="{ 'in-the-way' : inTheWay }">
        <header>
            <h1>
              <span class="font-32" ng-bind="::ctrl.whichController === 'watch' ? 'Watch list' : 'Anime list'"></span>
              <md-button class="md-primary md-raised show-actions" ng-init="inTheWay = false" ng-click="inTheWay = !inTheWay">Toggle actions</md-button>
            </h1>
        </header>
        <div list-filters filter-config="ctrl.filterConfig" items="ctrl.animeitems" page="ctrl.whichController"></div>
      </div>
      <div layout="column" flex="75" flex-offset="5" loading-spinner name="anime" size="fullscreen">
          <div flex="95" page-controls page-config="ctrl.pageConfig" showing-count="ctrl.filterConfig.showingCount"></div>
          <md-list flex="95">
            <md-list-item anime-item-model
                 data-ng-repeat="animeitem in ctrl.animeitems | orderBy: ctrl.filterConfig.sortType:ctrl.filterConfig.sortReverse | filter: ctrl.filterConfig.search | ratingFilter: ctrl.filterConfig.ratingLevel | tagFilter: ctrl.filterConfig.searchTags:ctrl.filterConfig.taglessItem | startFrom: ctrl.pageConfig.currentPage*ctrl.pageConfig.pageSize | limitTo: ctrl.pageConfig.pageSize track by animeitem._id">
            </md-list-item>
          </md-list>
      </div>
  </div>
</section>
