<section data-ng-controller="AnimeitemsController" data-ng-init="find()" data-ng-show="authentication.user">
    <div class="page-header">
        <div class="view-buttons text-right pull-right">
            <label class="btn btn-primary" ng-model="isList" btn-radio="'true'" ng-click="view = 'list'" uncheckable>List</label>
            <label class="btn btn-primary" ng-model="isList" btn-radio="'false'" ng-click="view = 'statistics'" uncheckable>Stats</label>
        </div>
        <h1>Anime {{view}}</h1>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12" ng-hide="isList">
        <div class="col-lg-12 col-md-12 col-sm-12 stat-history">
            <div class="stat-header">
                <h3>History</h3>
            </div>
            <table class="col-lg-12 col-md-12 col-sm-12">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-center" ng-repeat="month in months">{{month.text.substring(0,3)}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="animeitem in animeitems | unique: 'end.substring(0,4)' | orderBy: '-end.substring(0,4)' | limitTo: 4">
                        <th ng-hide="animeitem.end==='' || animeitem.end===null || animeitem.end===undefined"><span>{{animeitem.end.substring(0,4)}}</span></th>
                        <td  class="stat-month-box" ng-hide="animeitem.end==='' || animeitem.end===null || animeitem.end===undefined" ng-repeat="month in months" ng-click="monthDetail(animeitem.end.substring(0,4), month.number);"  popover="{{ (animeitems | filter: endedMonth(animeitem.end.substring(0,4), month.number)).length }} anime completed {{month.text}} {{animeitem.end.substring(0,4)}}." popover-trigger="mouseenter" popover-placement="bottom" popover-append-to-body="true" ng-style="{'opacity': (animeitems | filter: endedMonth(animeitem.end.substring(0,4), month.number)).length / maxCompleteMonth }">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><!-- HISTORY PANEL END -->
        <div class="col-lg-12 col-md-12 col-sm-12 stat-month-detail" ng-show="showDetail">
            <div class="col-lg-6 col-md-6 col-sm-6 stat-detail">
                <div class="stat-detail-header">
                    <h3>Anime Completed {{detailMonthName }} {{detailYear}}</h3>
                </div>
                <ul class="col-lg-12 col-md-12 col-sm-12 stat-detail-list">
                    <li ng-repeat="anime in animeitems | filter: endedMonth(detailYear, detailMonth) | orderBy: 'title'">
                        <a href="/#!/animeitems/{{anime._id}}"><span>{{anime.title}}</span></a> - <span>{{anime.rating}}</span>
                    </li>
                </ul>
            </div>
        </div><!-- DETAIL PANEL END -->
        <div class="col-lg-6 col-md-6 col-sm-6 stat-rating-panel">
            <div class="stat-header">
                <h3>Ratings</h3><span class="stat-summary-info pull-right"><small class="text-muted">&nbsp;{{averageAnimeRating | number: 2}} average rating.</small></span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <table class="col-lg-12 col-md-12 col-sm-12 stat-rating-table">
                    <tbody>
                        <tr ng-repeat="i in [10,9,8,7,6,5,4,3,2,1,0]">
                            <th class="col-lg-1 col-md-1 col-sm-1 text-right mb"><span ng-show="i!==0">{{i}}</span><span ng-show="i===0">-</span></th>
                            <td class="col-lg-5 col-md-5 col-sm-5 stat-rating-box">
                                <div class="progress-container">
                                    <progressbar class="progress-bar-placement" ng-show="i!==0" max="100" value="((animeitems | filter: { rating: i }:true).length / maxAnimeCount)*100" popover="{{(animeitems | filter: { rating: i }:true).length}} anime rated {{i}}." popover-trigger="mouseenter" popover-placement="right" popover-append-to-body="true">{{((animeitems | filter: { rating: i }:true).length / maxAnimeCount)*100 | number: 2}}%</progressbar>
                                    <progressbar class="progress-bar-placement" ng-show="i===0" max="100" value="((animeitems | filter: { rating: i }:true).length / maxAnimeCount)*100" popover="{{(animeitems | filter: { rating: i }:true).length}} anime unrated." popover-trigger="mouseenter" popover-placement="right" popover-append-to-body="true">{{((animeitems | filter: { rating: i }:true).length / maxAnimeCount)*100 | number: 2}}%</progressbar>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- RATING PANEL END -->
        <div class="col-lg-6 col-md-6 col-sm-6 stat-tag-panel">
            <div class="stat-header">
                <h3>Tags</h3><span class="stat-summary-info pull-right"><small class="text-muted">&nbsp;{{statTags.length}} unique tags.</small></span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </div>
                    <input type="text" ng-model="statSearch" placeholder="search tags" class="form-control">
                </div>
                <table class="col-lg-12 col-md-12 col-sm-12 stat-tag-table table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td class="text-right">#</td>
                            <td>
                                <a href="" ng-click="statTagSortType = 'tag'; statTagSortReverse = !statTagSortReverse ">
					               Tag
					            </a>
                                <i ng-show="statTagSortType == 'tag'" class="fa" ng-class="statTagSortReverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                            </td>
                            <td class="text-right">
                                <a href="" ng-click="statTagSortType = 'count'; statTagSortReverse = !statTagSortReverse ">
					               Count
					            </a>
                                <i ng-show="statTagSortType == 'count'" class="fa" ng-class="statTagSortReverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                            </td>
                            <td class="text-right">
                                <a href="" ng-click="statTagSortType = 'ratingAvg'; statTagSortReverse = !statTagSortReverse ">
					               Rating (Avg.)
					            </a>
                                <i ng-show="statTagSortType == 'ratingAvg'" class="fa" ng-class="statTagSortReverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="stat in statTags | orderBy: statTagSortType:statTagSortReverse | filter: { tag: statSearch }">
                            <td class="text-right">{{$index+1}}</td>
                            <td>{{stat.tag}}</td>
                            <td class="text-right">{{stat.count}}</td>
                            <td class="text-right">{{stat.ratingAvg | number: 2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- TAG PANEL END -->
    </div><!-- STAT VIEW END -->
    <div class="form-group col-lg-4 col-md-4 col-sm-4" ng-show="isList">
        <div class="paging-controls col-lg-12 col-md-12 col-sm-12">
            <button class="btn btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                Previous
            </button>
                {{currentPage+1}}/{{numberOfPages((animeitems | filter: search | filter: ratingFilter | filter: tagFilter).length)}}
            <button class="btn btn-primary" ng-disabled="currentPage >= (animeitems | filter: search | filter: ratingFilter | filter: tagFilter).length/pageSize - 1" ng-click="currentPage=currentPage+1">
                Next
            </button>
        </div>
       <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-search"></i>
            </div>
           <input type="text" class="form-control" placeholder="search anime" ng-model="search.title"><!-- typeahead="animeitem.title for animeitem in animeitems | filter: { title:$viewValue } " -->
	   </div>
        <br/>
        <div class="input-group">
            <div class="input-group-addon clickable" ng-click="clearTagValues(); characterTags = ''">
                <i class="fa fa-tags"></i>
            </div>
           <input type="text" class="form-control" placeholder="search tags - tag1,tag2.." ng-model="characterTags" typeahead="stat.tag for stat in statTags | filter: $viewValue" typeahead-on-select="passTag(characterTags); characterTags = ''"><!--  -->
	   </div>
       <div class="input-group" ng-hide="searchTags===undefined || searchTags==='' || searchTags===null">
           <ul class="taskList col-lg-12 col-md-12">
               <br/>
                <li class="tag-bubble col-lg-12 col-md-12" ng-repeat="tag in tagsForFilter track by $index">
                    {{tag}}
                    <a class="clickable pull-right" aria-hidden="true" ng-click="deleteSearchTag(tag)"><i class="fa fa-trash-o" style="color: red;"></i></a>
                </li>
            </ul>
       </div>
        <br/>
        <div class="input-group">
		  <div class="input-group-addon">
		      <i class="fa fa-list-ol"></i>
          </div>
            <input type="text" class="form-control" value="Showing {{ (animeitems | filter: search | filter: ratingFilter | filter: tagFilter).length }} anime." disabled>
        </div>
        <br/>
        <div class="input-group">
		  <div class="input-group-addon">
		      <i class="fa fa-sort"></i>
          </div>
            <select class="form-control" ng-model="sortType" ng-init="sortType = sortOptions[4].v" ng-options="so.v as so.n for so in sortOptions">
                <!--
                        <option value="">-- choose sort type --</option>
                        <option value="title">Title</option>
                        <option value="episodes">Episodes</option>
                        <option value="start">Start Date</option>
                        <option value="end">End Date</option>
                        <option value="latest,meta.updated">Latest</option>
                        <option value="rating">Rating</option>
-->
            </select>
        </div>
        <br/>
        <div class="input-group clickable" ng-click="sortReverse = !sortReverse">
		  <div class="input-group-addon">
		      <i class="fa" ng-class="sortReverse ? 'fa-sort-amount-desc' : 'fa-sort-amount-asc' "></i>
          </div>
            <input type="text" class="form-control" value="Ascending" ng-show="!sortReverse" disabled>
            <input type="text" class="form-control" value="Descending" ng-show="sortReverse" disabled>
            <!--<input type="checkbox" class="form-control" data-ng-model="sortReverse" id="sortReverse">-->
        </div>
        <br/>
        <div class="input-group">
		  <div class="input-group-addon">
		      <i class="fa fa-check"></i>
          </div>
            <select class="form-control" ng-model="search.status">
                        <option value="">All</option>
                        <option value="false">Ongoing</option>
                        <option value="true">Completed</option>
            </select>
        </div>
        <br/>
        <div class="input-group">
		  <div class="input-group-addon">
		      <i class="glyphicon glyphicon-cd"></i>
          </div>
            <select class="form-control" ng-model="search.disc">
                        <option value="">All</option>
                        <option value="false">Online</option>
                        <option value="true">Disc</option>
            </select>
        </div>
        <br/>
        <div class="input-group">
		  <div class="input-group-addon">
		      <i class="fa fa-repeat"></i>
          </div>
            <select class="form-control" ng-model="search.reWatching">
                        <option value="">All</option>
                        <option value="false">Not Re-watching</option>
                        <option value="true">Re-watching</option>
            </select>
        </div>
        <br/>
        <div class="input-group">
            <div class="input-group-addon clickable" data-ng-click="ratingLevel=undefined">
                <i class="fa fa-star"></i>
            </div>
               <rating class="form-control rating clickable" data-ng-model="ratingLevel" style="color: blue;" readonly="false" max="maxRating" on-hover="hoveringOver(value)" on-leave="overStar = null" id="rating" name="rating"></rating>
            <div class="input-group-addon">
                <span data-ng-show="overStar!=null" class="label" ng-class="{'label-warning': percent<40, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}">{{percent}}%</span>
            </div>
        </div>
        <br/>
        <div class="input-group" data-ng-show="areTagless">
            <div class="input-group-addon clickable">
                <span class="fa-stack fa-md">
                    <i class="fa fa-tag fa-stack-1x"></i>
                    <i class="fa fa-ban fa-stack-2x text-danger"></i>
                </span>
            </div>
            <input class="form-control" type="checkbox" data-ng-model="taglessItem">
        </div>
    </div><!-- FILTER SIDEBAR END -->
    <div class="list-group col-lg-8 col-md-8 col-sm-8" ng-show="isList">
        <div data-ng-repeat="animeitem in animeitems | orderBy: sortType:sortReverse | filter: search | filter: ratingFilter | filter: tagFilter | startFrom: currentPage*pageSize | limitTo: pageSize" list_Back="{{trustAsResourceUrl(animeitem.image)}}" ng-click="viewItem===animeitem ? viewItem='' : viewItem=animeitem" class="list-group-item col-lg-12 col-md-12 col-sm-12">
			<small class="list-group-item-text">
<!--				<span data-ng-bind="animeitem.latest | date:'yyyy-MMM-dd'"></span>-->
                <time ng-if="animeitem.latest.substring(0,10)===animeitem.meta.updated.substring(0,10)" title="{{animeitem.meta.updated | date: 'yyyy-MMM-dd HH:mm'}}" am-time-ago="latestDate(animeitem.latest, animeitem.meta.updated)"></time>
                <time ng-if="animeitem.latest.substring(0,10)!==animeitem.meta.updated.substring(0,10)" title="{{animeitem.latest | date: 'yyyy-MMM-dd'}}" ng-bind="latestDate(animeitem.latest, animeitem.meta.updated)"></time>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="animeitem.title"></h4>
            <p class="list-group-item-text">
                <span data-ng-bind="animeitem.episodes"></span><span ng-if="animeitem.finalEpisode!==0">/{{animeitem.finalEpisode}}</span> Episodes
                <span class="item-icons" ng-if="animeitem.status===true"><i class="fa fa-check"></i></span>
                <span class="item-icons" ng-if="animeitem.disc===true"><i class="glyphicon glyphicon-cd"></i></span>
                <span class="item-icons" ng-if="animeitem.reWatching===true"><i class="fa fa-repeat"></i></span>
            </p>
            <div class="view-item-detail" ng-if="viewItem===animeitem">
                <div class="item-detail">
                    <p>
                        <em class="text-muted" data-ng-if="animeitem.rating==0">No rating.</em>
                        <rating data-ng-if="animeitem.rating!=0" data-ng-model="animeitem.rating" style="color: blue; font-size: 14px;" readonly="true" max="maxRating" id="rating" name="rating"></rating>
                    </p>
                    <p ng-if="animeitem.reWatchCount!=0">{{animeitem.reWatchCount}} re-watches.</p>
                </div>
                <div class="item-dates">
                    <small>
                        <span data-ng-bind="animeitem.start | date:'yyyy-MMM-dd'"></span> started.<br/>
                        <span ng-if="animeitem.end!==undefined">{{animeitem.end | date:'yyyy-MMM-dd'}} ended.</span>
                    </small>
                </div>
                <div class="item-actions" data-ng-show="((authentication.user) && (authentication.user._id == animeitem.user._id))">
                    <a class="btn btn-success" href="/#!/animeitems/{{animeitem._id}}">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a class="btn btn-primary" href="/#!/animeitems/{{animeitem._id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </div>
            </div><!-- VIEW ITEM END-->
        </div><!-- LIST ITEM END -->
    <div class="alert alert-warning text-center" data-ng-hide="!animeitems.$resolved || animeitems.length">
    	No animeitems yet, why don't you <a href="/#!/animeitems/create">create one</a>?
    </div>
</section>