<section data-ng-controller="AnimeitemsController" data-ng-init="find()" data-ng-show="authentication.user">
    <div class="page-header">
        <div class="viewButtons text-right pull-right">
            <label class="btn btn-primary" ng-model="isList" btn-radio="'true'" ng-click="view = 'list'" uncheckable>List</label>
            <label class="btn btn-primary" ng-model="isList" btn-radio="'false'" ng-click="view = 'statistics'" uncheckable>Stats</label>
        </div>
        <h1>Anime {{view}}</h1>
    </div>
    <div class="col-md-12" ng-hide="isList">
        <div class="col-md-12">
            <h2>Completion by month</h2>
            <table class="col-md-12">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-center" ng-repeat="month in months">{{month.text.substring(0,3)}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="animeitem in animeitems | unique: 'end.substring(0,4)' | orderBy: '-end.substring(0,4)'">
                        <th ng-hide="animeitem.end==='' || animeitem.end===null || animeitem.end===undefined"><span>{{animeitem.end.substring(0,4)}}</span></th>
                        <td  class="statMonthBox" ng-hide="animeitem.end==='' || animeitem.end===null || animeitem.end===undefined" ng-repeat="month in months" ng-click="monthDetail(animeitem.end.substring(0,4), month.number);"  popover="Anime completed {{month.text}} {{animeitem.end.substring(0,4)}}: {{ (animeitems | filter: endedMonth(animeitem.end.substring(0,4), month.number)).length }}" popover-trigger="mouseenter" popover-placement="bottom" popover-append-to-body="true" ng-style="{'opacity': (animeitems | filter: endedMonth(animeitem.end.substring(0,4), month.number)).length / maxCompleteMonth }">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 statMonthDetail" ng-show="showDetail">
            <div class="col-md-6 statDetail">
                <div class="statDetailHeader">
                    <h3>Anime Completed {{detailMonthName }} {{detailYear}}</h3>
                </div>
                <ul class="col-md-12 statDetailList">
                    <li ng-repeat="anime in animeitems | filter: endedMonth(detailYear, detailMonth) | orderBy: 'title'">
                        <a href="/#!/animeitems/{{anime._id}}"><span>{{anime.title}}</span></a> - <span>{{anime.rating}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="form-group col-sm-4" ng-show="isList">
       <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-search"></i>
            </div>
           <input type="text" class="form-control" placeholder="search anime" ng-model="search.title"><!-- typeahead="animeitem.title for animeitem in animeitems | filter: { title:$viewValue } " -->
	   </div>
        <br/>
        <div class="input-group">
		  <div class="input-group-addon">
		      <i class="fa fa-list-ol"></i>
          </div>
            <input type="text" class="form-control" value="Showing {{ (animeitems | filter: search | filter: ratingFilter).length }} anime." disabled>
        </div>
        <br/>
        <div class="input-group">
		  <div class="input-group-addon">
		      <i class="fa fa-sort"></i>
          </div>
            <select class="form-control" ng-model="sortType">
                        <option value="">-- choose sort type --</option>
                        <option value="title">Title</option>
                        <option value="episodes">Episodes</option>
                        <option value="start">Start Date</option>
                        <option value="end">End Date</option>
                        <option value="latest">Latest</option>
                        <option value="rating">Rating</option>
            </select>
        </div>
        <br/>
        <div class="input-group clickable" ng-click="sortReverse = !sortReverse">
		  <div class="input-group-addon">
		      <i class="fa" ng-class="sortReverse ? 'fa-sort-amount-desc' : 'fa-sort-amount-asc' "></i>
          </div>
            <input type="text" class="form-control" value="Ascending" ng-show="!sortReverse" disabled>
            <input type="text" class="form-control" value="Descending" ng-show="sortReverse" disabled>
            <!--<input type="checkbox" class="form-control" data-ng-model="sortReverse" id="sortReverse">-->
        </div>
        <br/>
        <div class="input-group">
		  <div class="input-group-addon">
		      <i class="fa fa-check"></i>
          </div>
            <select class="form-control" ng-model="search.status">
                        <option value="">All</option>
                        <option value="false">Ongoing</option>
                        <option value="true">Completed</option>
            </select>
        </div>
        <br/>
        <div class="input-group">
		  <div class="input-group-addon">
		      <i class="fa fa-book"></i>
          </div>
            <select class="form-control" ng-model="search.disc">
                        <option value="">All</option>
                        <option value="false">Online</option>
                        <option value="true">Disc</option>
            </select>
        </div>
        <br/>
        <div class="input-group">
		  <div class="input-group-addon">
		      <i class="fa fa-repeat"></i>
          </div>
            <select class="form-control" ng-model="search.reWatching">
                        <option value="">All</option>
                        <option value="false">Not Re-watching</option>
                        <option value="true">Re-watching</option>
            </select>
        </div>
        <br/>
        <div class="input-group">
            <div class="input-group-addon clickable" data-ng-click="ratingLevel=undefined">
                <i class="fa fa-star"></i>
            </div>
               <rating class="form-control rating clickable" data-ng-model="ratingLevel" style="color: blue;" readonly="false" max="maxRating" on-hover="hoveringOver(value)" on-leave="overStar = null" id="rating" name="rating"></rating>
            <div class="input-group-addon">
                <span data-ng-show="overStar!=null" class="label" ng-class="{'label-warning': percent<40, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}">{{percent}}%</span>
            </div>
        </div>
    </div>
    <div class="list-group col-sm-8" ng-show="isList">
        <a data-ng-repeat="animeitem in animeitems | orderBy: sortType:sortReverse | filter: search | filter: ratingFilter" data-ng-href="#!/animeitems/{{animeitem._id}}" list_Back="{{trustAsResourceUrl(animeitem.image)}}" class="list-group-item">
			<small class="list-group-item-text">
<!--				<span data-ng-bind="animeitem.latest | date:'yyyy-MMM-dd'"></span>-->
                <time title="{{animeitem.latest | date: 'yyyy-MMM-dd'}}" ng-bind="latestDate(animeitem.latest)"></time>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="animeitem.title"></h4>
            <p class="list-group-item-text">
                Episodes
                <span data-ng-bind="animeitem.episodes"></span>
            </p>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!animeitems.$resolved || animeitems.length">
    	No animeitems yet, why don't you <a href="/#!/animeitems/create">create one</a>?
    </div>
</section>