<section data-ng-controller="AnimeitemsController as ctrl" data-ng-init="ctrl.findOne()" data-ng-show="ctrl.authentication.user">
	<div layout="row" flex="100">
		<div flex-gt-sm="25" flex-sm="50">
				<img ng-src="{{ctrl.trustAsResourceUrl(ctrl.animeitem.image)}}" height="100%" width="100%"/>
		</div>
		<div layout="column">
			<h1 data-ng-bind="ctrl.animeitem.title"></h1>
			<span class="material-icons" data-ng-show="ctrl.animeitem.disc">disc</span> <span class="text-muted" data-ng-show="ctrl.animeitem.status">(Completed)</span> <span class="text-muted" data-ng-show="ctrl.animeitem.reWatching">(Watching)</span>
			<div layout="row">
				<h3>Episode </h3><p data-ng-bind="ctrl.animeitem.episodes + '/' + ctrl.animeitem.finalEpisode"></p>
			</div>
			<div class="related-media accent-alter-text">
					<p data-ng-show="ctrl.animeitem.manga!==null">Related manga: <a href="/#!/mangaitems/{{animeitem.manga._id}}">{{ctrl.animeitem.manga.title}}</a></p>
			</div>
			<div class="item-tags">
					<span class="tag-bubble" ng-repeat="tag in ctrl.animeitem.tags">{{tag.text}}</span>
			</div>

			<div class="text-right">
					<span class="accent-alter-text" data-ng-show="ctrl.animeitem.status">{{ ctrl.animeitem.reWatchCount }} rewatches</span>
			</div>
			<div class="text-right">
					<em class="accent-alter-text" data-ng-show="ctrl.animeitem.rating==0">No rating</em>
					<uib-rating data-ng-model="ctrl.animeitem.rating" class="view-item-rating-stars" data-ng-show="ctrl.animeitem.rating!==0" read-only="true" max="ctrl.filterConfig.ratingActions.maxRating" id="rating" name="rating"></uib-rating>
			</div>
		</div>
		<div data-ng-show="((ctrl.authentication.user) && (ctrl.authentication.user._id == ctrl.animeitem.user._id))">
				<a class="md-button md-primary" href="/#!/animeitems">
						<i class="material-icons">back</i>
				</a>
				<a class="md-button" href="/#!/animeitems/watch/{{ctrl.animeitem._id}}" ng-if="ctrl.animeitem.video.files.length > 0">
						<i class="material-icons">film</i>
				</a>
				<a class="md-button md-primary" href="/#!/animeitems/{{ctrl.animeitem._id}}/edit">
						<i class="material-icons">edit</i>
				</a>
				<a class="md-button md-warn" data-ng-click="ctrl.remove()">
						<i class="material-icons">delete</i>
				</a>
		</div>
	</div>
	<small flex="100">
		<em class="accent-alter-text">
			Start
			<span data-ng-bind="ctrl.animeitem.start | date:'yyyy-MMM-dd'"></span><br/>
            End
			<span data-ng-bind="ctrl.animeitem.end | date:'yyyy-MMM-dd'"></span><br/>
			Latest
			<span data-ng-bind="ctrl.animeitem.latest | date:'yyyy-MMM-dd'"></span><br/>
			<span data-ng-bind="ctrl.animeitem.season.season"></span>&nbsp;<span ng-bind="ctrl.animeitem.season.year"></span>
		</em>
	</small>
	<section flex="100" style="top: -85px">
		<article class="relative width-50 margin-left-auto">
			<header>
				<h3 ng-if="ctrl.animeitem.meta.history.length > 0" class="margin-5">Episode history</h3>
				<h6 ng-if="ctrl.animeitem.meta.history.length === 0">No recorded history.</h6>
			</header>
			<div class="overflow-auto-hover" style="height: 33vh">
				<table ng-if="ctrl.animeitem.meta.history.length > 0" id="anime-episode-history-table">
					<thead ng-init="ctrl.filterConfig.sortType = 'value'; ctrl.filterConfig.sortReverse = true">
						<tr>
							<th>
									<a href="" ng-click="ctrl.filterConfig.sortType = 'value'; ctrl.filterConfig.sortReverse = !ctrl.filterConfig.sortReverse ">
										 #
									</a>
									<i ng-show="ctrl.filterConfig.sortType == 'value'" class="fa" ng-class="ctrl.filterConfig.sortReverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
							</th>
							<th colspan="2">
									<a href="" ng-click="ctrl.filterConfig.sortType = 'rating'; ctrl.filterConfig.sortReverse = !ctrl.filterConfig.sortReverse ">
										 Rating
									</a>
									<i ng-show="ctrl.filterConfig.sortType == 'rating'" class="fa" ng-class="ctrl.filterConfig.sortReverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
							</th>
							<th>
									<a href="" ng-click="ctrl.filterConfig.sortType = 'date'; ctrl.filterConfig.sortReverse = !ctrl.filterConfig.sortReverse ">
										 Watched
									</a>
									<i ng-show="ctrl.filterConfig.sortType == 'date'" class="fa" ng-class="ctrl.filterConfig.sortReverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="history in ctrl.animeitem.meta.history | orderBy: ctrl.filterConfig.sortType:ctrl.filterConfig.sortReverse track by history.value">
							<td>{{history.value | numberFixedLen: 3}}</td>
							<td><uib-rating ng-model="history.rating" class="view-item-rating-stars" read-only="true" max="ctrl.filterConfig.ratingActions.maxRating"></uib-rating></td>
							<td class="text-right">{{history.rating}}</td>
							<td>{{history.date | date : 'dd-MM-yyyy HH:mm'}}</td>
							<td><a class="bin-style clickable" style="position: relative" aria-hidden="true" ng-click="ctrl.deleteHistory(ctrl.animeitem, history)"><i class="fa fa-trash-o"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>
	</section>
</section>
