<section ng-controller="WatchAnimeController as ctrl">
  <div class="relative" style="height: 100px">
    <aside class="float-right margin-top-20">
      <div data-ng-show="((ctrl.authentication.user) && (ctrl.authentication.user._id == ctrl.animeitem.user._id))">
        <a class="btn btn-accent" href="/#!/animeitems">
            <i class="glyphicon glyphicon-chevron-left"></i>
        </a>
        <a class="btn btn-primary" href="/#!/animeitems/{{ctrl.animeitem._id}}">
            <i class="fa fa-eye"></i>
        </a>
      </div>
    </aside>
    <header class="fixed-header">
      <h2>Watch {{ctrl.animeitem.title}}</h2>
    </header>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-10">
    <p class="primary-background text-center padding-5 margin-0" ng-bind="ctrl.videoFile.message" ng-if="ctrl.videoFile.message !== ''"></p>
    <video class="width-100" ng-src="{{ctrl.videoFile.processed}}" poster="{{trustAsResourceUrl(ctrl.animeitem.image)}}" type="video/mp4" controls></video>
  </div>
  <article class="relative width-20 margin-left-auto">
    <header>
      <h3 class="margin-5">Episodes</h3>
    </header>
    <div class="overflow-auto-hover" style="height: 33vh">
      <ul class="list-group" id="anime-watch-file-list">
        <li class="cursor-pointer padding-5" ng-class="ctrl.videoFile.file === file.file ? 'loaded' : ''"
            ng-repeat="file in ctrl.animeitem.video.files" ng-click="ctrl.chooseVideo($event, file.file)" click-pass="file-grabber">
            <span>#{{file.number}}</span>
        </li>
      </ul>
    </div>
    <input type="file" accept="video/mp4" file-model="fileGrab" style="display: none" id="file-grabber" />
  </article>
</section>
