.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
public/lib
app/tests/coverage/
.bower-*/
.idea/
public/animeitems/img/*.png
public/animeitems/img/*.jpg
public/mangaitems/img/*.png
public/mangaitems/img/*.jpg
public/characters/img/*.png
public/characters/img/*.jpg
