<section data-ng-controller="CharactersController" data-ng-init="find()" data-ng-show="authentication.user">
    <div class="page-header">
        <div class="viewButtons text-right pull-right">
            <label class="btn btn-primary" ng-model="isList" btn-radio="'list'" uncheckable>List</label>
            <label class="btn btn-primary" ng-model="isList" btn-radio="'carousel'" uncheckable>Carousel</label>
            <label class="btn btn-primary" ng-model="isList" btn-radio="'statistics'" uncheckable>Stats</label>
        </div>
        <h1>Characters {{isList}}</h1>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 statView" ng-show="isList==='statistics'">
        <div class="col-lg-12 col-md-12 col-sm-12 statGenderPanel">
            <div class="statGenderProgressContainer">
                <progress>
                    <bar type="danger" value="(female / maxItemCount) * 100">{{(female / maxItemCount) * 100 | number: 2}}% female</bar>
                    <bar type="primary" value="(male / maxItemCount) * 100">{{(male / maxItemCount) * 100 | number: 2}}% male</bar>
                    <bar type="success" value="(nosex / maxItemCount) * 100">{{(nosex / maxItemCount) * 100 | number: 2}}% unassigned</bar>
                </progress>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 statTagPanel">
            <div class="statHeader">
                <h3>Tags</h3><span class="statRatingAverage pull-right"><small class="text-muted">&nbsp;{{statTags.length}} unique tags.</small></span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </div>
                    <input type="text" ng-model="statSearch.tag" placeholder="search tags" class="form-control">
                </div>
                <table class="col-lg-12 col-md-12 col-sm-12 statTagTable table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>
                                <a href="" ng-click="statTagSortType = 'tag'; statTagSortReverse = !statTagSortReverse ">
					               Tag
					            </a>
                                <i ng-show="statTagSortType == 'tag'" class="fa" ng-class="statTagSortReverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                            </td>
                            <td class="text-right">
                                <a href="" ng-click="statTagSortType = 'count'; statTagSortReverse = !statTagSortReverse ">
					               Count
					            </a>
                                <i ng-show="statTagSortType == 'count'" class="fa" ng-class="statTagSortReverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                            </td>
                        </tr>
                    </thead>
                    <tbody ng-repeat="stat in statTags | orderBy: statTagSortType:statTagSortReverse | filter: statSearch">
                        <tr><!-- repeat row for every anime tag. -->
                            <td>{{stat.tag}}</td>
                            <td class="text-right">{{stat.count}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- TAG PANEL END -->
    </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-4" ng-hide="isList==='statistics'">
       <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-search"></i>
            </div>
           <input type="text" class="form-control" placeholder="search characters" ng-model="search.name"><!-- typeahead="animeitem.title for animeitem in animeitems | filter: { title:$viewValue } " -->
	   </div>
       <br/>
       <div class="input-group">
            <div class="input-group-addon clickable" ng-click="clearTagValues(); characterTags = ''">
                <i class="fa fa-tag"></i>
            </div>
           <input type="text" class="form-control" placeholder="search tags - tag1,tag2.." ng-model="characterTags" typeahead="stat.tag for stat in statTags | filter: $viewValue" typeahead-on-select="passTag(characterTags); characterTags = ''"><!--  -->
	   </div>
       <div class="input-group" ng-hide="searchTags===undefined || searchTags==='' || searchTags===null">
           <ul class="taskList col-lg-12 col-md-12 col-sm-12">
               <br/>
                <li class="tagBubble col-lg-12 col-md-12 col-sm-12" ng-repeat="tag in tagsForFilter track by $index">
                    {{tag}}
                    <a class="clickable pull-right" aria-hidden="true" ng-click="deleteSearchTag(tag)"><i class="fa fa-trash-o" style="color: red;"></i></a>
                </li>
            </ul>
       </div>
        <br/>
        <div class="input-group">
		  <div class="input-group-addon">
		      <i class="fa fa-list-ol"></i>
          </div>
            <input type="text" class="form-control" value="Showing {{ (characters | filter: search | filter: mediaFilter | filter: tagFilter).length }} character(s)." disabled>
        </div>
        <br/>
        <div class="input-group">
		  <div class="input-group-addon">
		      <i class="fa fa-sort"></i>
          </div>
            <select class="form-control" ng-model="sortType">
                        <option value="">-- choose sort type --</option>
                        <option value="name">Name</option>
                        <option value="anime.title">Anime</option>
                        <option value="manga.title">Manga</option>
                        <option value="voice">Voice</option>
            </select>
        </div>
        <br/>
        <div class="input-group clickable" ng-click="sortReverse = !sortReverse">
		  <div class="input-group-addon">
		      <i class="fa" ng-class="sortReverse ? 'fa-sort-amount-desc' : 'fa-sort-amount-asc' "></i>
          </div>
            <input type="text" class="form-control" value="Ascending" ng-show="!sortReverse" disabled>
            <input type="text" class="form-control" value="Descending" ng-show="sortReverse" disabled>
            <!--<input type="checkbox" class="form-control" data-ng-model="sortReverse" id="sortReverse">-->
        </div>
        <br/>
        <div class="input-group">
		  <div class="input-group-addon">
		      <i class="fa fa-book"></i>
          </div>
            <select class="form-control" ng-model="media">
                        <option value="">-- choose media type --</option>
                        <option value="anime">Anime-only</option>
                        <option value="manga">Manga-only</option>
                        <option value="both">Both</option>
            </select>
        </div>
        <br/>
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-microphone"></i>
            </div>
            <input type="text" class="form-control" placeholder="search voice" ng-model="search.voice" typeahead="voice for voice in voiceActors | filter: $viewValue "><!-- -->
	    </div>
        <br/>
    </div>
    <div class="list-group col-lg-8 col-md-8 col-sm-8" data-ng-show="isList==='list'">
        <a data-ng-repeat="character in characters | orderBy: sortType:sortReverse | filter: search | filter: mediaFilter | filter: tagFilter" data-ng-href="#!/characters/{{character._id}}" character_Back="{{trustAsResourceUrl(character.image)}}" class="list-group-item col-lg-6 col-md-6 col-sm-6" style="height: 150px;">
			<h4 class="darkBorderedFontHeading" data-ng-bind="character.name"></h4>
            <p class="list-group-item-text">
                <span class="darkBorderedFont" data-ng-bind="character.voice"></span>
            </p>
            <span class="darkBorderedFont" data-ng-show="character.manga!==undefined && character.manga!==null" data-ng-bind="character.manga.title"></span>
            <span class="darkBorderedFont" data-ng-show="character.anime!==undefined && character.manga===null" data-ng-bind="character.anime.title"></span>
        </a>
    </div>
    <div class="characterCarousel col-lg-8 col-md-8 col-sm-8" style="height: 300px;" data-ng-show="isList==='carousel'">
        <carousel interval="myInterval" style="height: 300px;" disable-ng-animate>
            <slide ng-repeat="character in characters | filter: search | filter: mediaFilter | filter: tagFilter" active="character.active">
                <a href="/#!/characters/{{character._id}}">
                    <img ng-src="{{trustAsResourceUrl(character.image)}}" style="height: 300px; width: auto; margin: auto;">
                    <div class="carousel-caption">
                        <span class="darkBorderedFontHeading"> {{character.name}} </span>
                    </div>
                </a>
            </slide>
        </carousel>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!characters.$resolved || characters.length">
    	No Characters yet, why don't you <a href="/#!/characters/create">create one</a>?
    </div>
</section>