<section data-ng-controller="CharactersController" data-ng-init="findOne()" data-ng-show="authentication.user">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 page-header">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 pull-left">
                <img ng-src="{{trustAsResourceUrl(character.image)}}" height="100%" width="100%"/>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
                <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == character.user._id))">
                    <a class="btn btn-accent" href="/#!/characters">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                    </a>
                    <a class="btn btn-primary" href="/#!/characters/{{character._id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger" data-ng-click="remove();">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
                <h1 data-ng-bind="character.name"></h1>
                <p data-ng-show="character.anime!==undefined"><span><b>Anime: </b></span><a href="/#!/animeitems/{{character.anime._id}}">{{character.anime.title}}</a></p>
                <p data-ng-show="character.manga!==undefined"><span><b>Manga: </b></span><a href="/#!/mangaitems/{{character.manga._id}}">{{character.manga.title}}</a></p>
                <p><span><b>VA: </b></span><span data-ng-bind="character.voice"></span></p>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 item-tags" style="clear: both">
            <span class="col-lg-2 col-md-2 col-sm-2 tag-bubble" ng-repeat="tag in character.tags">{{tag.text}}</span>
        </div>
	</div>
</section>
