<section data-ng-controller="CharactersController as ctrl" data-ng-init="ctrl.findOne()" data-ng-show="ctrl.authentication.user">
  <div layout="row" flex="100">
		<div flex-gt-sm="25" flex-sm="50">
     <img ng-src="{{ctrl.trustAsResourceUrl(ctrl.character.image)}}" height="100%" width="100%"/>
    </div>
    <div layout="column">
      <h1 data-ng-bind="ctrl.character.name"></h1>
      <div layout="row" data-ng-show="ctrl.character.anime!==undefined">
        <p><b>Anime: </b></p>
        <a href="/#!/animeitems/{{ctrl.character.anime._id}}" ng-bind="ctrl.character.anime.title"></a>
      </div>
      <div layout="row" data-ng-show="ctrl.character.manga!==undefined">
        <p><b>Manga: </b></p>
        <a href="/#!/mangaitems/{{ctrl.character.manga._id}}" ng-bind="ctrl.character.manga.title"></a>
      </div>
      <div layout="row">
        <p><b>VA: </b></p>
        <p data-ng-bind="ctrl.character.voice"></p>
      </div>
    </div>
    <div data-ng-show="((ctrl.authentication.user) && (ctrl.authentication.user._id == ctrl.character.user._id))">
				<a class="md-button md-primary" href="/#!/characters">
						<i class="material-icons">back</i>
				</a>
				<a class="md-button md-primary" href="/#!/characters/{{ctrl.character._id}}/edit">
						<i class="material-icons">edit</i>
				</a>
				<a class="md-button md-warn" data-ng-click="ctrl.remove()">
						<i class="material-icons">delete</i>
				</a>
		</div>
  </div>
  <div class="item-tags" style="clear: both">
      <span class="tag-bubble" ng-repeat="tag in ctrl.character.tags" ng-bind="tag.text"></span>
  </div>
</section>
