<section data-ng-controller="CharactersController" data-ng-init="findOne()" data-ng-show="authentication.user">
	<div class="page-header">
        <div class="col-md-12">
            <div class="col-md-3 pull-left mt">
                <img ng-src="{{trustAsResourceUrl(character.image)}}" height="100%" width="100%"/>
            </div>
            <div class="col-md-9 pull-left">
                <h1 data-ng-bind="character.name"></h1>
                <p><span><b>Anime: </b></span><a data-ng-show="character.anime!==undefined" href="/#!/animeitems/{{character.anime._id}}">{{character.anime.title}}</a></p>
                <p><span><b>Manga: </b></span><a data-ng-show="character.manga!==undefined" href="/#!/mangaitems/{{character.manga._id}}">{{character.manga.title}}</a></p>
                <p><span><b>VA: </b></span><span data-ng-bind="character.voice"></span></p>
                <div class="col-md-12 item-tags">
                    <span class="tag-bubble" ng-repeat="tag in character.tags">{{tag.text}}</span>
                </div>
            </div>
        </div>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == character.user._id))">
		<a class="btn btn-success" href="/#!/characters">
			<i class="glyphicon glyphicon-chevron-left"></i>
		</a>
        <a class="btn btn-primary" href="/#!/characters/{{character._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-danger" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>