//brand colours.
$brand-primary:         #912020; //#AA3939; 
$brand-secondary:       #FFFFFF; //#550000; 
$brand-tertiary:        #D46A6A; 
$brand-accent:          #61BB61; //#48A24B; //#2E882E; //#2D882D; 
$brand-accent-alter:    #2E882E; //#116611; //#004400;   

$brand-border: 1px solid $brand-tertiary;
$accent-line: 1px solid $brand-accent;