//brand colours.
$brand-primary:         #272822; //#433F34; //#29251A; //#0F0B00; //#75715E; 
$brand-secondary:       #000000; //#222222; 
$brand-tertiary:        #86826C; //#9F9B85;
$brand-accent:          #C6003F; //#F92672; 
$brand-accent-alter:    #4DC0D6; //#66D9EF; 

$brand-border: 1px solid $brand-tertiary;
$accent-line: 1px solid $brand-accent;