//brand colours.
$brand-primary:         #337ab7; 
$brand-secondary:       #094B83; //#286090;
$brand-tertiary:        #7EB1DC; //#1212B8;
$brand-accent:          #FFDF6D; //#FFAC3A; //#F7FD5C; //#FFAC3A; //#f39c12;
$brand-accent-alter:    #FDA833; //#E46F1A; //#CA7500; //#BDC316;

$brand-border: 1px solid $brand-tertiary;
$accent-line: 1px solid $brand-accent;