//brand colours.
$brand-primary:         #EEFFFF; //#8D44AD #AA3939; //#337ab7;
$brand-secondary:       #FFFFFF; //#611483 #550000; //#094B83; //#286090;
$brand-tertiary:        #FFFFDD; //#AB69C8 #D46A6A; //#7EB1DC; //#1212B8;
$brand-accent:          #222222; //#F7FD5C #2D882D; //#FFAC3A; //#f39c12;
$brand-accent-alter:    #696969; //#BDC316 #004400; //#CA7500; //#FFCE8A; //#FF980B; //#FFEA1D;

$brand-border: 1px solid $brand-tertiary;
$accent-line: 1px solid $brand-accent;