$brand-danger: #d41f1a;
$brand-danger-alter: #830300; //#AB0E0A;
$brand-danger-accent: #FFF;
$brand-danger-accent-alter: #fcfcfc;
$brand-success: #47a447;
$brand-success-alter: #0C640C;
$brand-success-accent: #FFF; //#CD5959;
$brand-success-accent-alter: #fcfcfc; //#F59191;

$tile-background: #f9f9f9;

//named colours.
$red: #d41f1a;
$green: #47a447;
$blue: #337ab7;
$blue-rich: #1212B8;
$blue-dark: #286090;

$purple: #8e44ad;
$orange: #f39c12;

$grey-light: #eee;
$grey: #9d9d9d;
$grey-dark: #777;

$off-white: #fcfcfc;


//lines and borders.
$grey-line: 1px solid $grey-light;

//for media queries.
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;
