//brand colours.
$brand-primary: #337ab7;        //#8D44AD; //#AA3939; //#337ab7;
$brand-secondary: #094B83;      //#611483; //#550000; //#094B83; //#286090;
$brand-tertiary: #7EB1DC;       //#AB69C8; //#D46A6A; //#7EB1DC; //#1212B8;
$brand-accent: #FFAC3A;         //#F7FD5C; //#2D882D; //#FFAC3A; //#f39c12;
$brand-accent-alter: #CA7500;   //#BDC316; //#004400; //#CA7500; //#FFCE8A; //#FF980B; //#FFEA1D;

$brand-danger: #d41f1a;
$brand-danger-alter: #830300; //#AB0E0A;
$brand-danger-accent: #FFF;
$brand-danger-accent-alter: #fcfcfc;
$brand-success: #47a447;
$brand-success-alter: #0C640C;
$brand-success-accent: #FFF; //#CD5959;
$brand-success-accent-alter: #fcfcfc; //#F59191;

$brand-border: 1px solid $brand-tertiary;
$tile-background: #f9f9f9;

//named colours.
$red: #d41f1a;
$green: #47a447;
$blue: #337ab7;
$blue-rich: #1212B8;
$blue-dark: #286090;

$purple: #8e44ad;
$orange: #f39c12;

$grey-light: #eee;
$grey: #9d9d9d;
$grey-dark: #777;

$off-white: #fcfcfc;


//lines and borders.
$grey-line: 1px solid $grey-light;
$accent-line: 1px solid $brand-accent;

//for media queries.
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;
