<div class="mal-search">
  <div class="has-float-label">
    <input type="text" class="form-control" name="{{malSearchCtrl.options.name}}" placeholder="{{malSearchCtrl.options.placeholder}}"
           ng-model="malSearchCtrl.searchString"
           ng-model-options="{ debounce: malSearchCtrl.delayInMs }"
           ng-change="malSearchCtrl.handleSearchString()"
           ng-required="malSearchCtrl.options.required"
           autocomplete="{{malSearchCtrl.options.autocomplete}}"
           ng-focus="malSearchCtrl.toggleSearchDropdownOnFocus($event)" ng-blur="malSearchCtrl.toggleSearchDropdownOnFocus($event)" />
   <label for="{{malSearchCtrl.options.name}}">Search for {{malSearchCtrl.type}}...</label>
   <div loading-spinner name="{{malSearchCtrl.spinner}}" size="control"></div>
  </div>
  <span id="selected-result" ng-click="malSearchCtrl.displaySelectedItemActions()" ng-hide="malSearchCtrl.selectedItem === null">
    <i class="fa fa-caret-square-o-down"></i>
    <ul class="action-dropdown" role="menu" ng-show="malSearchCtrl.displayActions" anywhere-but-here>
      <li ng-repeat="action in malSearchCtrl.selectedItemActions" ng-click="action.action()" role="menuitem">
        {{action.displayText}}
      </li>
      <pre class="raw-json" ng-show="malSearchCtrl.displayRawJson">
        {{malSearchCtrl.selectedItem | json}}
      </pre>
    </ul>
  </span>
  <ul class="overflow-auto-hover" ng-show="malSearchCtrl.hasSearchResults && malSearchCtrl.hasFocus && malSearchCtrl.selectedItem === null">
    <li ng-repeat="item in malSearchCtrl.searchResults | orderBy: 'title'" ng-click="malSearchCtrl.processItem(item)" class="search-results">
      <img class="image" ng-src="{{item.image}}" />
      <p class="title display-inline-block center-vertically" ng-bind="item.title"></p>
    </li>
  </ul>
</div>
