<section data-ng-controller="FavouritesController" data-ng-init="findAnime()" data-ng-show="authentication.user">
    <div class="page-header">
        <h1>Edit Anime Favourites</h1>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="favourite-anime col-lg-5 col-md-5 col-sm-5">
            <div class="favourite-header">
                <a class="favourite-link" href="/#!/animeitems">
                    <h2>Anime</h2>
                </a>
            </div>
            <div class="favourite-content col-sm-12">
            <form name="favouriteForm" class="form-horizontal" novalidate>
                <fieldset>
                    <div class="form-group">
                        <label for="favourite" class="col-md-4 control-label">Select favourite</label>
                        <div class="col-md-8">
                            <select required id="favourite" class="form-control" ng-model="favourite" ng-options="anime.title for anime in animeitems | orderBy: 'title'">
                                <option class="disabled" value="">Choose an anime</option>
                            </select>
                        </div>
                    </div>
                    <div class="favourite-actions text-center">
                        <button class="btn btn-primary" ng-click="addFavourite('anime');" ng-disabled="favouriteForm.$invalid || favouriteForm.$pristine">Add favourite</button>
&nbsp;-&nbsp;<a href="/#!/favourites">Back</a>
                    </div>
                </fieldset>
            </form>
            </div>
        </div>
        <div class="current-favourites col-lg-7 col-md-7 col-sm-7">
            <div class="favourite-header">
                <p>
                    <h2>Current favourite anime</h2>
                </p>
            </div>
            <div class="favourite-content col-sm-12">
                <div class="list-group col-sm-12">
                    <div data-ng-repeat="favouriteAnimeitem in favouriteAnimeitem" ng-click="reorderFavourites(favouriteAnimeitem)" list_Back="{{trustAsResourceUrl(favouriteAnimeitem.anime.image)}}" data-ng-model="favouriteAnimeitem" class="list-group-item clickable" ng-class="{ selected: favouriteAnimeitem === selectedFavourite }">
			             <h4 class="list-group-item-heading" data-ng-bind="favouriteAnimeitem.anime.title"></h4><span data-ng-bind="favouriteAnimeitem.date.substring(0,10)"></span>
                         <a class="bin-style clickable" aria-hidden="true" ng-click="removeFavourite(favouriteAnimeitem)"><i class="fa fa-trash-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>