<section data-ng-controller="FavouritesController" data-ng-init="findCharacters()" data-ng-show="authentication.user">
    <div class="page-header">
        <h1>Favourites</h1>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="favourite-anime col-md-6">
            <div class="favourite-header">
                <a class="favourite-link" href="/#!/animeitems">
                    <h2>Anime</h2>
                </a>
            </div>
            <div class="favourite-content col-sm-12">
                    <div class="list-group col-sm-12">
                        <a data-ng-repeat="favouriteAnimeitem in favouriteAnimeitem" href="/#!/animeitems/{{favouriteAnimeitem.anime._id}}" favourite-back="{{trustAsResourceUrl(favouriteAnimeitem.anime.image)}}" data-ng-model="favouriteAnimeitem" class="list-group-item favourite-item" hover-data="{{favouriteAnimeitem.date | date: 'dd-MMM-yyyy'}}">
                            <i class="fa fa-trophy fa-2x pull-left trophy-{{$index+1}}"></i><h4 class="dark-bordered-font-heading" data-ng-bind="favouriteAnimeitem.anime.title"></h4>
                        </a>
                    </div>
            </div>
            <div class="favourite-actions text-center">
                <a class="btn btn-primary" href="/#!/animefavourites">
                Edit anime favourites
                </a>
            </div>
        </div>
        <div class="favourite-manga col-md-6">
            <div class="favourite-header">
                <a class="favourite-link" href="/#!/mangaitems">
                    <h2>Manga</h2>
                </a>
            </div>
            <div class="favourite-content col-sm-12">
                <div class="list-group col-sm-12">
                        <a data-ng-repeat="favouriteMangaitem in favouriteMangaitem" href="/#!/mangaitems/{{favouriteMangaitem.manga._id}}" favourite-back="{{trustAsResourceUrl(favouriteMangaitem.manga.image)}}" data-ng-model="favouriteMangaitem" class="list-group-item favourite-item" hover-data="{{favouriteMangaitem.date | date: 'dd-MMM-yyyy'}}">
                            <i class="fa fa-trophy fa-2x pull-left trophy-{{$index+1}}"></i><h4 class="dark-bordered-font-heading" data-ng-bind="favouriteMangaitem.manga.title"></h4>
                        </a>
                 </div>
            </div>
            <div class="favourite-actions text-center">
                <a class="btn btn-primary" href="/#!/mangafavourites">
                Edit manga favourites
                </a>
            </div>
        </div>
    </div>
</section>