<section data-ng-controller="FavouritesController" data-ng-init="findManga()" data-ng-show="authentication.user">
    <div class="page-header">
        <h1>Edit Manga Favourites</h1>
    </div>
    <div class="col-md-12">
        <div class="favourite-manga col-md-5">
            <div class="favourite-header">
                <a class="favourite-link" href="/#!/mangaitems">
                    <h2>Manga</h2>
                </a>
            </div>
            <div class="favourite-content col-sm-12">
            <form name="favouriteForm" class="form-horizontal" novalidate>
                <fieldset>
                    <div class="form-group">
                        <label for="favourite" class="col-md-4 control-label">Select favourite</label>
                        <div class="col-md-8">
                            <select required id="favourite" class="form-control" ng-model="favourite" ng-options="manga.title for manga in mangaitems | orderBy: 'title'">
                                <option class="disabled" value="">Choose a manga</option>
                            </select>
                        </div>
                    </div>
                    <div class="favourite-actions text-center">
                        <button class="btn btn-primary" ng-click="addFavourite('manga');" ng-disabled="favouriteForm.$invalid || favouriteForm.$pristine">Add favourite</button>
&nbsp;-&nbsp;<a href="/#!/favourites">Back</a>
                    </div>
                </fieldset>
            </form>
            </div>
        </div>
        <div class="col-md-7">
            <div class="favourite-header">
                <p>
                    <h2>Current favourite manga</h2>
                </p>
            </div>
            <div class="favourite-content col-sm-12">
                <div class="list-group col-sm-12">
                    <div data-ng-repeat="favouriteMangaitem in favouriteMangaitem" ng-click="reorderFavourites(favouriteMangaitem)" list_Back="{{trustAsResourceUrl(favouriteMangaitem.manga.image)}}" data-ng-model="favouriteMangaitem" class="list-group-item clickable" ng-class="{ selected: favouriteMangaitem === selectedFavourite }">
			             <h4 class="list-group-item-heading" data-ng-bind="favouriteMangaitem.manga.title"></h4><span data-ng-bind="favouriteMangaitem.date.substring(0,10)"></span>
                         <a class="bin-style clickable" aria-hidden="true" ng-click="removeFavourite(favouriteMangaitem)"><i class="fa fa-trash-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>