<section data-ng-controller="FavouritesController" data-ng-init="findManga()" data-ng-show="authentication.user">
    <div class="page-header">
        <h1>Edit Manga Favourites</h1>
    </div>
    <div class="col-md-12">
        <div class="favouriteManga col-md-4">
            <div class="favouriteHeader">
                <a class="favouriteLink" href="/#!/mangaitems">
                    <h2>Manga</h2>
                </a>
            </div>
            <div class="favouriteContent col-sm-12">
            <form name="favouriteForm" class="form-horizontal" novalidate>
                <fieldset>
                    <div class="form-group">
                        <label for="favouriteMangaOne" class="col-md-4 control-label">Favourite 1</label>
                        <!--<i class="fa fa-caret-down selectArrow"></i>-->
                        <div class="col-md-8">
                            <select id="favouriteMangaOne" class="form-control" ng-model="favouriteMangaOne" ng-options="manga.title for manga in mangaitems track by manga._id">
                                <option class="disabled" value="">Choose a manga</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="favouriteMangaTwo" class="col-md-4 control-label">Favourite 2</label>
                        <!--<i class="fa fa-caret-down selectArrow"></i>-->
                        <div class="col-md-8">
                            <select id="favouriteMangaTwo" class="form-control" ng-model="favouriteMangaTwo" ng-options="manga.title for manga in mangaitems track by manga._id">
                                <option class="disabled" value="">Choose a manga</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="favouriteMangaThree" class="col-md-4 control-label">Favourite 3</label>
                        <!--<i class="fa fa-caret-down selectArrow"></i>-->
                        <div class="col-md-8">
                            <select id="favouriteMangaThree" class="form-control" ng-model="favouriteMangaThree" ng-options="manga.title for manga in mangaitems track by manga._id">
                                <option class="disabled" value="">Choose a manga</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="favouriteMangaFour" class="col-md-4 control-label">Favourite 4</label>
                        <!--<i class="fa fa-caret-down selectArrow"></i>-->
                        <div class="col-md-8">
                            <select id="favouriteMangaFour" class="form-control" ng-model="favouriteMangaFour" ng-options="manga.title for manga in mangaitems track by manga._id">
                                <option class="disabled" value="">Choose a manga</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="favouriteMangaFive" class="col-md-4 control-label">Favourite 5</label>
                        <!--<i class="fa fa-caret-down selectArrow"></i>-->
                        <div class="col-md-8">
                            <select id="favouriteMangaFive" class="form-control" ng-model="favouriteMangaFive" ng-options="manga.title for manga in mangaitems track by manga._id">
                                <option class="disabled" value="">Choose a manga</option>
                            </select>
                        </div>
                    </div>
                    <div class="favouriteActions text-center">
                        <button class="btn btn-primary" ng-click="updateMangaFavouriteOne();updateMangaFavouriteTwo();updateMangaFavouriteThree();updateMangaFavouriteFour();updateMangaFavouriteFive();" ng-disabled="favouriteForm.$invalid">Update favourite manga</button>
&nbsp;-&nbsp;<a href="/#!/favourites">Back</a>
                    </div>
                </fieldset>
            </form>
            </div>
        </div>
        <div class="col-md-8">
            <div class="favouriteHeader">
                <p>
                    <h2>Current favourite manga</h2>
                </p>
            </div>
            <div class="favouriteContent col-sm-12">
                <div class="list-group col-sm-12">
                    <a data-ng-repeat="favouriteMangaitem in favouriteMangaitem" href="/#!/mangaitems/{{favouriteMangaitem.manga._id}}" list_Back="{{trustAsResourceUrl(favouriteMangaitem.manga.image)}}" data-ng-model="favouriteMangaitem" class="list-group-item">
			             <h4 class="list-group-item-heading" data-ng-bind="favouriteMangaitem.manga.title"></h4><span data-ng-bind="favouriteMangaitem.date.substring(0,10)"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>