<section data-ng-controller="CreateMangaController as ctrl" data-ng-show="ctrl.authentication.user">
    <header class="page-header">
      <h1 ng-bind="ctrl.config.title + ' Manga'"></h1>
    </header>
    <div flex="100">
      <form layout="column" flex-offset="20" flex="60" name="mangaForm" data-ng-submit="ctrl.submit()" novalidate>
        <md-input-container>
          <label for="title">Title</label>
          <input type="text" data-ng-model="ctrl.title" id="title" name="title" placeholder="Title" required>
        </md-input-container>
        <md-input-container>
          <label for="chapters">Chapters</label>
          <input type="number" data-ng-model="ctrl.chapters" id="chapters" name="chapters" placeholder="0" required>
        </md-input-container>
        <md-input-container>
          <label for="volumes">Volumes</label>
          <input type="number" data-ng-model="ctrl.volumes" id="volumes" name="volumes" placeholder="0" required>
        </md-input-container>
        <md-input-container>
          <label for="start">Start</label>
          <input type="date" data-ng-model="ctrl.start" id="start" name="start" placeholder="" required>
        </md-input-container>
        <md-input-container>
          <label for="latest">Latest</label>
          <input type="date" data-ng-model="ctrl.latest" id="latest" name="latest" placeholder="" required>
        </md-input-container>
                <div class="form-group">
                    <label for="hardcopy" class="col-md-2 control-label">Hardcopy?</label>
                    <div class="col-md-6">
                        <input type="checkbox" class="form-control" data-ng-model="ctrl.hardcopy" id="hardcopy" name="hardcopy">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : mangaForm.anime.$invalid && !mangaForm.anime.$pristine }">
                    <label for="anime" class="col-md-2 control-label">Anime</label>
                    <div class="col-md-6">
                        <select class="form-control" data-ng-options="anime.title for anime in ctrl.animeitems | orderBy: 'title'" data-ng-model="ctrl.anime" id="anime" name="anime">
                            <option value="">-- Link to an anime --</option>
                        </select>
                    </div>
                    <div class="col-md-4">
						<p ng-show="mangaForm.anime.$invalid && !mangaForm.anime.$pristine" class="help-block" >The anime is required.</p>
						<span ng-show="mangaForm.anime.$valid && !mangaForm.anime.$pristine" class="glyphicon glyphicon-ok" style="color: green;"></span>
					</div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : mangaForm.finalChapter.$invalid && !mangaForm.finalChapter.$pristine }">
                    <label for="finalChapter" class="col-md-2 control-label">Final chapter</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" data-ng-model="ctrl.finalChapter" id="finalChapter" name="finalChapter" placeholder="0">
                    </div>
                    <div class="col-md-4">
                        <!--<p ng-show="isNumber(mangaForm.chapters)" class="help-block">Chapter number should be a full number.</p>-->
						<span ng-show="mangaForm.finalChapter.$valid && !mangaForm.finalChapter.$pristine" class="glyphicon glyphicon-ok" style="color: green;"></span>
					</div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : mangaForm.finalVolume.$invalid && !mangaForm.finalVolume.$pristine }">
                    <label for="finalVolume" class="col-md-2 control-label">Final volume</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" data-ng-model="ctrl.finalVolume" id="finalVolume" name="finalVolume" placeholder="0">
                    </div>
                    <div class="col-md-4">
                        <!--<p ng-show="isNumber(mangaForm.volumes)" class="help-block">Volume number should be a full number.</p>-->
						<span ng-show="mangaForm.finalVolume.$valid && !mangaForm.finalVolume.$pristine" class="glyphicon glyphicon-ok" style="color: green;"></span>
					</div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : mangaForm.tags.$invalid && !mangaForm.tags.$pristine }">
                    <label for="tags" class="col-md-2 control-label">Tags</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" data-ng-model="ctrl.newTag" enter-tag="ctrl.addTag()" id="tags" name="tags" placeholder="tags..." uib-typeahead="stat.tag for stat in ctrl.filterConfig.statTags | filter: $viewValue">
                    </div>
                    <div class="col-md-4 form-group">
                        <a class="btn btn-primary" data-ng-click="ctrl.addTag()" data-ng-disabled="ctrl.newTag==='' || ctrl.newTag===null || ctrl.newTag===undefined">Add Tag</a>
                    </div>
                </div>
                <div class="form-group">
                    <ul class="tag-list col-md-12">
                        <li class="tag-bubble col-md-2" ng-repeat="tag in ctrl.tagArray track by $index">
                            {{tag.text}}
                            <a class="bin-style clickable pull-right" aria-hidden="true" ng-click="ctrl.dropTag(tag.text)"><i class="fa fa-trash-o"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" ng-disabled="mangaForm.$invalid">&nbsp; - &nbsp;<a href="/#!/mangaitems">Back</a>
                </div>
				<div data-ng-show="ctrl.error" class="text-danger">
					<strong data-ng-bind="ctrl.error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
