<section data-ng-controller="MangaitemsController" data-ng-init="findOne(); find(); findAnime();" data-ng-show="authentication.user">
    <div class="page-header">
        <h1>Edit Manga</h1>
    </div>
    <div class="col-md-12">
        <form name="mangaForm" class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group" ng-class="{ 'has-error' : mangaForm.title.$invalid && !mangaForm.title.$pristine }">
                    <label for="title" class="col-md-2 control-label">Title</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" data-ng-model="mangaitem.title" id="title" name="title" placeholder="Title" required>
                    </div>
                    <div class="col-md-4">
						<p ng-show="mangaForm.title.$invalid && !mangaForm.title.$pristine" class="help-block" >The Title is required.</p>
						<span ng-show="mangaForm.title.$valid" class="glyphicon glyphicon-ok" style="color: green;"></span>
					</div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : mangaForm.chapters.$invalid && !mangaForm.chapters.$pristine }">
                    <label for="chapters" class="col-md-2 control-label">Chapters</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" data-ng-model="mangaitem.chapters" ng-change="mangaitem.latest=itemUpdate" id="chapters" name="chapters" placeholder="0" required>
                    </div>
                    <div class="col-md-4">
						<p ng-show="mangaForm.chapters.$invalid && !mangaForm.chapters.$pristine" class="help-block" >Chapters is a whole number and is required.</p>
						<span ng-show="mangaForm.chapters.$valid" class="glyphicon glyphicon-ok" style="color: green;"></span>
					</div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : mangaForm.volumes.$invalid && !mangaForm.volumes.$pristine }">
                    <label for="volumes" class="col-md-2 control-label">Volumes</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" data-ng-model="mangaitem.volumes" id="volumes" name="volumes" placeholder="0" required>
                    </div>
                    <div class="col-md-4">
						<p ng-show="mangaForm.volumes.$invalid && !mangaForm.volumes.$pristine" class="help-block" >Volumes is a whole number and is required.</p>
						<span ng-show="mangaForm.volumes.$valid" class="glyphicon glyphicon-ok" style="color: green;"></span>
					</div>
                </div>
                <div class="form-group" style="display: none;">
                    <label for="start" class="col-md-2 control-label">Start</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" data-ng-model="mangaitem.start" id="start" placeholder="" required disabled>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : mangaForm.latest.$invalid }">
                    <label for="latest" class="col-md-2 control-label">Latest</label>
                    <div class="col-md-6">
                        <input type="date" class="form-control" data-ng-model="mangaitem.latest" id="latest" name="latest" placeholder="" required>
                    </div>
                    <div class="col-md-4">
						<p ng-show="mangaForm.latest.$invalid && !mangaForm.latest.$pristine" class="help-block" >Latest date is required.</p>
						<span ng-show="mangaForm.latest.$valid && !mangaForm.latest.$pristine" class="glyphicon glyphicon-ok" style="color: green;"></span>
					</div>
                </div>
                <div class="form-group">
                    <label for="rating" class="col-md-2 control-label">Rating</label>
                    <div class="col-md-6">
                        <rating class="form-control clickable" data-ng-model="mangaitem.rating" style="color: blue;" readonly="false" max="maxRating" on-hover="hoveringOver(value)" on-leave="overStar = null" id="rating" name="rating"></rating>
                    </div>
                    <span data-ng-show="overStar!=null" class="label" ng-class="{'label-warning': percent<40, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}">{{percent}}%</span>
                </div>
                <div class="form-group">
                    <label for="image" class="col-md-2 control-label">Image</label>
                    <div class="col-md-6">
                        <input type="file" class="form-control" file-model="myFile" accept="image/png, image/jpeg">
                    </div>
                    <div class="col-md-4 form-group">
                        <a class="btn btn-primary" data-ng-click="uploadFile()" data-ng-disabled="myFile==='' || myFile===null || myFile===undefined">Upload File</a>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : mangaForm.anime.$invalid && !mangaForm.anime.$pristine }">
                    <label for="anime" class="col-md-2 control-label">Anime</label>
                    <div class="col-md-6">
                        <select class="form-control" data-ng-options="anime.title for anime in animeitems | orderBy: 'title' track by anime._id" data-ng-model="mangaitem.anime" id="anime" name="anime">
                            <option value="">-- Link to an anime --</option>
                        </select>
                    </div>
                    <div class="col-md-4">
						<p ng-show="mangaForm.anime.$invalid && !mangaForm.anime.$pristine" class="help-block" >The anime is required.</p>
						<span ng-show="mangaForm.anime.$valid && !mangaForm.anime.$pristine" class="glyphicon glyphicon-ok" style="color: green;"></span>
					</div>
                </div>
                <hr/>
                <div class="form-group" data-ng-hide="mangaitem.end!=null" ng-class="{ 'has-error' : mangaForm.end.$invalid }">
                    <label for="end" class="col-md-2 control-label">End</label>
                    <div class="col-md-6">
                        <input type="date" class="form-control" data-ng-model="mangaitem.end" id="end" name="end" placeholder="">
                    </div>
                    <div class="col-md-4">
						<span ng-show="mangaForm.end.$valid && !mangaForm.end.$pristine" class="glyphicon glyphicon-ok" style="color: green;"></span>
					</div>
                </div>
                <div class="form-group">
                    <label for="status" class="col-md-2 control-label">Completed?</label>
                    <div class="col-md-6">
                        <input type="checkbox" class="form-control" data-ng-model="mangaitem.status" data-ng-checked="mangaitem.end!=null || mangaitem.chapters===mangaitem.finalChapter && mangaitem.volumes===mangaitem.finalVolume" data-ng-true-value="true" id="status" name="status" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="hardcopy" class="col-md-2 control-label">Hardcopy?</label>
                    <div class="col-md-6">
                        <input type="checkbox" class="form-control" data-ng-model="mangaitem.hardcopy" id="hardcopy" name="hardcopy">
                    </div>
                </div>
                <div class="form-group text-right" data-ng-hide="mangaitem.status===true">
                    <a class="btn btn-primary" id="finalNumbers" name="finalNumbers" data-ng-click="finalNumbers = !finalNumbers">Toggle final numbers</a>
                </div>
                <div class="form-group" data-ng-show="finalNumbers">
                <div class="form-group" ng-class="{ 'has-error' : mangaForm.finalChapter.$invalid && !mangaForm.finalChapter.$pristine }">
                    <label for="finalChapter" class="col-md-2 control-label">Final chapter</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" data-ng-model="mangaitem.finalChapter" id="finalChapter" name="finalChapter" placeholder="0">
                    </div>
                    <div class="col-md-4">
						<p ng-show="mangaForm.finalChapter.$invalid && !mangaForm.finalChapter.$pristine" class="help-block" >Chapters is a whole number and is required.</p>
						<span ng-show="mangaForm.finalChapter.$valid && !mangaForm.finalChapter.$pristine" class="glyphicon glyphicon-ok" style="color: green;"></span>
					</div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : mangaForm.finalVolume.$invalid && !mangaForm.finalVolume.$pristine }">
                    <label for="finalVolume" class="col-md-2 control-label">Final volume</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" data-ng-model="mangaitem.finalVolume" id="finalVolume" name="finalVolume" placeholder="0">
                    </div>
                    <div class="col-md-4">
						<p ng-show="mangaForm.finalVolume.$invalid && !mangaForm.finalVolume.$pristine" class="help-block" >Volumes is a whole number and is required.</p>
						<span ng-show="mangaForm.finalVolume.$valid && !mangaForm.finalVolume.$pristine" class="glyphicon glyphicon-ok" style="color: green;"></span>
					</div>
                </div>
                </div>
                <div class="form-group" data-ng-show="mangaitem.status==true">
                    <label for="reReading" class="col-md-2 control-label">Re-reading?</label>
                    <div class="col-md-6">
                        <input type="checkbox" class="form-control" data-ng-model="mangaitem.reReading" data-ng-disabled="mangaitem.reReading" data-ng-change="mangaitem.chapters=0; mangaitem.volumes=0" id="reReading" name="reReading">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : mangaForm.tags.$invalid && !mangaForm.tags.$pristine }">
                    <label for="tags" class="col-md-2 control-label">Tags</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" data-ng-model="newTag" enter-tag="addTag()" id="tags" name="tags" placeholder="tags..." typeahead="stat.tag for stat in statTags | filter: $viewValue">
                    </div>
                    <div class="col-md-4 form-group">
                        <a class="btn btn-primary" data-ng-click="addTag()" data-ng-disabled="newTag==='' || newTag===null || newTag===undefined">Add Tag</a>
                    </div>
                </div>
                <div class="form-group">
                    <ul class="taskList col-md-12">
                        <li class="tag-bubble col-md-2" ng-repeat="tag in mangaitem.tags">
                            {{tag.text}}
                            <a class="clickable pull-right" aria-hidden="true" remove-tag="{{tag.text}}"><i class="fa fa-times" style="color: red;"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <ul class="taskList col-md-12">
                        <li class="tag-bubble col-md-2" ng-repeat="tag in tagArray track by $index">
                            {{tag.text}}
                            <a class="clickable pull-right" aria-hidden="true" drop-tag="{{tag.text}}"><i class="fa fa-trash-o" style="color: red;"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default" ng-disabled="mangaForm.$invalid">&nbsp; - &nbsp;<a href="/#!/mangaitems">Back</a>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
