<section data-ng-controller="MangaitemsController as ctrl" data-ng-init="ctrl.findOne()" data-ng-show="ctrl.authentication.user">
	<div layout="row" flex="100">
		<div flex-gt-sm="25" flex-sm="50">
			<img ng-src="{{ctrl.trustAsResourceUrl(ctrl.mangaitem.image)}}" height="100%" width="100%"/>
	  </div>
		<div layout="column">
	    <h1 data-ng-bind="ctrl.mangaitem.title"></h1>
	    <span class="material-icons" data-ng-show="ctrl.mangaitem.hardcopy">book</span> <span class="text-muted" data-ng-show="ctrl.mangaitem.status">(Completed)</span> <span class="text-muted" data-ng-show="ctrl.mangaitem.reReading">(Reading)</span>
			<div layout="row">
				<h3>Chapter </h3><p data-ng-bind="ctrl.mangaitem.chapters + '/' + ctrl.mangaitem.finalChapter"></p>
			</div>
			<div layout="row">
	    	<h3>Volume </h3><p data-ng-bind="ctrl.mangaitem.volumes + '/' +ctrl.mangaitem.finalVolume"></p>
			</div>
	    <div class="related-media accent-alter-text">
	        <p data-ng-show="ctrl.mangaitem.anime!==null">Related anime: <a href="/#!/animeitems/{{ctrl.mangaitem.anime._id}}">{{ctrl.mangaitem.anime.title}}</a></p>
	    </div>
	    <div class="item-tags">
	        <span class="tag-bubble" ng-repeat="tag in ctrl.mangaitem.tags">{{tag.text}}</span>
	    </div>

			<div class="text-right">
					<span class="accent-alter-text" data-ng-show="ctrl.mangaitem.status">Re-read count: {{ ctrl.mangaitem.reReadCount }}</span>
			</div>
			<div class="text-right">
					<em class="accent-alter-text" data-ng-show="ctrl.mangaitem.rating==0">No rating</em>
					<uib-rating data-ng-model="ctrl.mangaitem.rating" class="view-item-rating-stars" data-ng-show="ctrl.mangaitem.rating!==0" readonly="true" max="ctrl.filterConfig.ratingActions.maxRating" id="rating" name="rating"></uib-rating>
			</div>
		</div>
		<div data-ng-show="((ctrl.authentication.user) && (ctrl.authentication.user._id == ctrl.mangaitem.user._id))">
				<a class="md-button md-primary" href="/#!/mangaitems">
						<i class="material-icons">back</i>
				</a>
				<a class="md-button md-primary" href="/#!/mangaitems/{{ctrl.mangaitem._id}}/edit">
						<i class="material-icons">edit</i>
				</a>
				<a class="md-button md-warn" data-ng-click="ctrl.remove()">
						<i class="material-icons">delete</i>
				</a>
		</div>
	</div>
	<small>
		<em class="accent-alter-text">
			Start
			<span data-ng-bind="ctrl.mangaitem.start | date:'yyyy-MMM-dd'"></span><br/>
		        End
			<span data-ng-bind="ctrl.mangaitem.end | date:'yyyy-MMM-dd'"></span><br/>
			Latest
			<span data-ng-bind="ctrl.mangaitem.latest | date:'yyyy-MMM-dd'"></span>
		</em>
	</small>
</section>
