<section data-ng-controller="OrdersController as ctrl" data-ng-show="ctrl.authentication.user">
  <div layout="row">
    <div layout="column" flex="30" ng-class="{ 'in-the-way' : inTheWay }">
      <header>
        <h1 class="font-32">
          Orders
          <md-button class="md-primary md-raised show-actions" ng-init="inTheWay = false" ng-click="inTheWay = !inTheWay">Toggle actions</md-button>
        </h1>
      </header>
      <md-input-container>
        <label>search orders</label>
        <input type="text" ng-model="search.series.title">
     </md-input-container>
     <md-input-container>
       <label> </label>
       <input type="text" value="Showing {{ (showingCount = (ctrl.orders | filter: search).length) }} orders." disabled>
     </md-input-container>
    </div>

    <div layout="column" flex="65" flex-offset="5" loading-spinner name="orders" size="fullscreen">
        <div flex="95" page-controls page-config="ctrl.pageConfig" showing-count="showingCount"></div>
        <md-list flex="95">
          <div data-ng-repeat="item in ctrl.orders | orderBy: 'nextVolume.date' | filter: search | startFrom: ctrl.pageConfig.currentPage*ctrl.pageConfig.pageSize | limitTo: ctrl.pageConfig.pageSize" class="list-group-item col-lg-12 col-md-12 col-sm-12">
            <div class="view-item-top">
                <h4 class="list-group-item-heading clickable" ng-click="(viewItem === item) ? viewItem='' : viewItem=item" data-ng-bind="item.series.title"></h4>
                <p class="list-group-item-text">
                    Next volume: <span ng-bind="item.nextVolume.volume"></span><br/>
                    Release: <span ng-bind="item.nextVolume.date | date: 'dd-MMM-yyyy'"></span><br/>
                </p>
            </div>
            <div class="view-item-detail" ng-show="viewItem === item">
                <div class="item-actions" data-ng-show="((ctrl.authentication.user) && (ctrl.authentication.user._id == item.user._id))">
                    <a class="md-button md-accent md-icon-button" href="/#!/orders/{{item._id}}">
                      <md-tooltip md-direction="bottom">
                        view detail
                      </md-tooltip>
                      <md-icon>pageview</md-icon>
                    </a>
                    <a class="md-button md-primary md-icon-button" href="/#!/orders/{{item._id}}/edit">
                      <md-tooltip md-direction="bottom">
                        edit item
                      </md-tooltip>
                      <md-icon>edit</md-icon>
                    </a>
                </div>
            </div>
          </div>
        </md-list>
    </div>
  </div>
</section>
