<section data-ng-controller="OrdersController as ctrl">
	<div class="page-header">
		<h1 data-ng-bind="ctrl.order.series.title"></h1>
	</div>
	<div class="pull-right" data-ng-show="((ctrl.authentication.user) && (ctrl.authentication.user._id == ctrl.order.user._id))">
		<a class="btn btn-primary" href="/#!/orders/{{ctrl.order._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="ctrl.remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>
