<section data-ng-controller="HistoryController" ng-init="buildHistory()" ng-show="authentication.user">
    <span keycuts></span>
    <div class="fixed-header width-100 secondary-background padding-10" style="top: 50px; left: 0">
        <div class="view-controls absolute position-right" style="min-width: 165px">
            <div tab-container ng-model="view">
                <div tab-view heading="Anime"></div>
                <div tab-view heading="Manga"></div>
            </div>
        </div>
        <h1>{{view}} history</h1>
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-search"></i>
            </div>
            <input type="text" class="form-control" placeholder="search" ng-model="filterConfig.search.name">
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 history-list-container relative" style="top: 125px" loading-spinner name="history" size="fullscreen">
        <div tab-container ng-model="filterConfig.historyFilter">
            <div tab-view ng-repeat="item in historyGroups" heading="{{::item.name}}"></div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 history-list" ng-show="view === 'Anime'">
            <div class="col-lg-12 col-md-12 col-sm-12 history-list-item"
                 ng-repeat="item in animeHistory | filter: filterConfig.search.name | historySeparator:'group':filterConfig.historyFilter | orderBy: ['-latest','-oldest']">
                <h4 class="history-group-header clickable" ng-click="viewItem = (viewItem === item.title) ? '' : item.title">
                    {{item.title}} - ({{animeHistoryItems.length}})
                </h4>
                <div ng-show="viewItem === item.title">
                    <div ng-repeat="episode in (animeHistoryItems = (item.items | historySeparator:'item':filterConfig.historyFilter | orderBy: ['-date','-value']))">
                        <time class="float-right" title="{{episode.date | date: 'dd MMMM HH:mm'}}" ng-bind="happenedWhen(episode.date)">
                        </time>
                        <p><a href="/#!/animeitems/{{episode.id}}">{{episode.title}}</a> - Episode {{episode.value}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 history-list" ng-show="view === 'Manga'">
            <div class="col-lg-12 col-md-12 col-sm-12 history-list-item"
                 ng-repeat="item in mangaHistory | filter: filterConfig.search.name | historySeparator:'group':filterConfig.historyFilter | orderBy: ['-latest','-oldest']">
                <h4 class="history-group-header clickable" ng-click="viewItem = (viewItem === item.title) ? '' : item.title">
                    {{item.title}} - ({{mangaHistoryItems.length}})
                </h4>
                <div ng-show="viewItem === item.title">
                    <div ng-repeat="chapter in (mangaHistoryItems = (item.items | historySeparator:'item':filterConfig.historyFilter | orderBy: ['-date','-value']))">
                        <time class="float-right" title="{{chapter.date | date: 'dd MMMM HH:mm'}}" ng-bind="happenedWhen(chapter.date)">
                        </time>
                        <p><a href="/#!/mangaitems/{{chapter.id}}">{{chapter.title}}</a> - Chapter {{chapter.value}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
