<section data-ng-controller="HistoryController" data-ng-init="buildHistory()" data-ng-show="authentication.user">
    <div class="page-header">
        <div class="view-buttons text-right pull-right">
            <label class="btn btn-primary" ng-model="view" btn-radio="'Anime'">Anime</label>
            <label class="btn btn-primary" ng-model="view" btn-radio="'Manga'">Manga</label>
        </div>
        <h1>{{view}} history</h1>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 history-list-container" ng-show="view === 'Anime'">
        <div class="col-lg-12 col-md-12 col-sm-12 history-list">
            <div class="col-lg-12 col-md-12 col-sm-12 history-list-item" ng-repeat="item in (orderedAnimeHistory = (animeHistory | orderBy: ['-date','-value']))" ng-hide="loading(item.title)">
                <h4 ng-if="isGroupHeader(groupAnimeBuilder, item)">{{isGroupHeader(groupAnimeBuilder, item)}}</h4>
                <time class="pull-right" title="{{item.date | date: 'dd MMMM HH:mm'}}" ng-bind="happenedWhen(item.date)"></time>
                <p><a href="/#!/animeitems/{{item.id}}">{{item.title}}</a> - Episode {{item.value}}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 history-list-container" ng-show="view === 'Manga'">
        <div class="col-lg-12 col-md-12 col-sm-12 history-list">
            <div class="col-lg-12 col-md-12 col-sm-12 history-list-item" ng-repeat="item in (orderedMangaHistory = (mangaHistory | orderBy: ['-date','-value']))">
                <h4 ng-if="isGroupHeader(groupMangaBuilder, item)">{{isGroupHeader(groupMangaBuilder, item)}}</h4>
                <time class="pull-right" title="{{item.date | date: 'dd MMMM HH:mm'}}" ng-bind="happenedWhen(item.date)"></time>
                <p><a href="/#!/mangaitems/{{item.id}}">{{item.title}}</a> - Chapter {{item.value}}</p>
            </div>
        </div>
    </div>
    <section class="loading-image" data-ng-if="isLoading"></section>
</section>