<md-dialog class="view-height-50" flex="40">
  <header>
    <h4 class="padding-10 margin-5 relative">
      <span ng-bind="::viewHistory.type === 'anime' ? viewHistory.viewItem.title + ' Episode history' : viewHistory.viewItem.title + ' Chapter history'"></span>
      <md-button class="md-warn md-icon-button absolute position-top position-right" data-ng-click="viewHistory.cancel()">
        <md-icon>cancel</md-icon>
      </md-button>
    </h4>
  </header>
  <md-list class="overflow-auto-hover" layout-padding ng-if="viewHistory.viewItem.meta.history.length > 0">
    <p ng-if="viewHistory.viewItem.meta.history.length === 0">No recorded history.</p>
    <md-list-item class="center-contents" layout="row" flex ng-repeat="history in viewHistory.viewItem.meta.history | orderBy: '-value' track by history.value">
      <time flex="25" ng-bind="history.date | date : 'dd-MM-yyyy HH:mm'"></time>
      <p class="margin-right-5" flex="10" ng-bind="::viewHistory.type === 'anime' ? ' Episode ' : ' Chapter '"></p>
      <p class="margin-0" flex="10" ng-bind="history.value | numberFixedLen: 3"></p>
      <uib-rating ng-model="history.rating" read-only="true" max="10" ng-if="::viewHistory.type === 'anime'"></uib-rating>
      <md-button class="md-warn md-icon-button" aria-hidden="true" ng-click="viewHistory.deleteHistory(viewHistory.viewItem, history)">
        <md-tooltip md-direction="bottom">
          delete task
        </md-tooltip>
        <md-icon>delete</md-icon>
      </md-button>
    </md-list-item>
  </md-list>
  <div flex flex-offset="85">
    <md-button class="md-primary" ng-click="viewHistory.submit()" >OK</md-button>
  </div>
</md-dialog>
