<div class="col-lg-12 col-md-12 col-sm-12 primary-background">
    <div class="item-history-container">
        <a class="close-button mt" data-ng-click="viewHistory.cancel()"><i class="fa fa-times"></i></a>
        <h4 class="popout-header" ng-bind="::viewHistory.type === 'anime' ? viewHistory.viewItem.title + ' Episode history' : viewHistory.viewItem.title + ' Chapter history'"></h4>
        <div class="item-history-list view-height-50">
          <div ng-if="viewHistory.viewItem.meta.revisits.length > 0">
            <div class="item-history mt" ng-repeat="repeat in viewHistory.viewItem.meta.revisits | orderBy: '-value' track by repeat.value">
              <time title="{{repeat.start | date : 'dd-MM-yyyy HH:mm'}}" ng-bind="repeat.start | date : 'dd-MM-yy'"></time>
              <span ng-if="repeat.end">&nbsp;to&nbsp;</span>
              <time title="{{repeat.end | date : 'dd-MM-yyyy HH:mm'}}" ng-bind="repeat.end | date : 'dd-MM-yy'"></time>
              <span ng-bind="::viewHistory.type === 'anime' ? ' - Re-watch ' : ' - Re-read '"></span><span ng-bind="repeat.value | numberFixedLen: 2"></span>
            </div>
          </div>
          <div ng-if="viewHistory.viewItem.meta.history.length === 0">No recorded history.</div>
          <div class="item-history mt" ng-repeat="history in viewHistory.viewItem.meta.history | orderBy: '-value' track by history.value">
              <a class="bin-style clickable pull-right" aria-hidden="true" ng-click="viewHistory.deleteHistory(viewHistory.viewItem, history)">
                <i class="fa fa-trash-o"></i>
              </a>
              <time ng-bind="history.date | date : 'dd-MM-yyyy HH:mm'"></time>
              <span ng-bind="::viewHistory.type === 'anime' ? ' - Episode ' : ' - Chapter '"></span><span ng-bind="history.value | numberFixedLen: 3"></span>
              <uib-rating ng-model="history.rating" read-only="true" max="10" ng-if="::viewHistory.type === 'anime'"></uib-rating>
          </div>
        </div>
        <div class="padding-10">
          <button class="btn btn-primary" ng-click="viewHistory.submit()" >OK</button>
        </div>
    </div>
</div>
