//variables.
$height: 300px;

/** Step base styling **/

.steps {
    min-height: $height;
    height: $height;
    overflow: hidden;
}
.step {
    position: absolute;
    top: 0;
    left: 0;
    min-height: $height;
    height: $height;
    width: 100%;
    opacity: 0;
    z-index: 1;
}
.step-inner-container {
    min-height: $height;
    height: $height;
}

.step.ng-hide-add,
.step.ng-hide-remove {
  @include transition(all linear 0.5s);
  display: block!important;
}
.step-transition {
  @include transition(all linear 0.5s);
}
.step.ng-hide-add.ng-hide-add-active,
.step.ng-hide-remove {
  opacity: 0;
}
.step-out {
    opacity: 0;
}
.step-in {
    opacity: 1;
}
.step.ng-hide-add,
.step.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

.step-button-group {
    position: relative;
    left: 0;
    width: 100%;
    bottom: -10px;
    display: inline-flex;
    z-index: 5;
    button {
        z-index: 1;
    }
}
