.tab-filter {
    width: 11%;
    height: 25px;
    min-height: 25px;
    padding: 2px 0;
    label {
        height: 25px;
        margin: 0;
    }
}

.tab-filter.tab-in {
    opacity: 1;
}

.tab-filter.tab-out {
    opacity: 0.6;
}