/** Tab filter base styling **/

.tab-filter-container {
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0;
//    &:after {
//        position: absolute;
//        bottom: 0;
//        left: 0;
//        content: '';
//        width: 100%;
//        border-bottom: 1px solid #AAA;
//        z-index: 1;
//    }
//    &:before {
//        z-index: 1;
//    }
}

.tab-filter {
    position: relative;
    display: inline-block;
    background: #ECECEC;
    width: (84 / 7) * 1%;
    height: 25px;
    padding: 0 10px;
    margin: 0 -5px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    z-index: 0;
    &:first-child, &:nth-child(2) {
        width: 8%;
    }
//    &:before, &:after {
//        position: absolute;
//        bottom: -1px;
//        width: 6px;
//        height: 6px;
//        content: '';
//        border: 1px solid #AAA;
//    }
//    &:before {
//        left: -6px;
//        border-bottom-right-radius: 6px;
//        border-width: 0 1px 1px 0;
//        box-shadow: 2px 2px 0 #ECECEC;
//    }
//    &:after {
//        right: -6px;
//        border-bottom-left-radius: 6px;
//        border-width: 0 0 1px 1px;
//        box-shadow: -2px 2px 0 #ECECEC;
//    }
    label {
        height: 25px;
        margin: 0;
    }
}

.tab-filter.tab-in {
    background: #FFF;
    border-bottom-color: #FFF;
    z-index: 2;
//    &:before {
//        box-shadow: 2px 2px 0 #FFF;
//    }
//    &:after {
//        box-shadow: -2px 2px 0 #FFF;
//    }
}