
/** Tab filter customisation **/

/** Tab filter base styling **/

.tab-filter-container {
    &:after {
        border-bottom: 1px solid $brand-primary;
    }
}

.tab-filter {
    background: $brand-primary;
//    &:before, &:after {
//        border: 1px solid $brand-primary;
//    }
//    &:before {
//        box-shadow: 2px 2px 0 $brand-primary;
//    }
//    &:after {
//        box-shadow: -2px 2px 0 $brand-primary;
//    }
}

.tab-filter.tab-in {
    background: $brand-secondary;
    border-bottom-color: $brand-secondary;
//    &:before {
//        box-shadow: 2px 2px 0 $brand-secondary;
//    }
//    &:after {
//        box-shadow: -2px 2px 0 $brand-secondary;
//    }
}