
/** Tab filter customisation **/

.tab-filter-container {
    &:after {
        border-bottom: 1px solid $brand-primary;
    }
}

.tab-filter {
    background: $brand-primary;
    border: 1px solid $brand-secondary;
}

.tab-filter.tab-in {
    background: $brand-secondary;
    border-bottom-color: $brand-secondary;
}

/** schedule-calendar customisation **/

.schedule-calendar > div.header {
  background: $brand-primary;
  color: $brand-accent;
}
.schedule-calendar > div.week > span.day {
  background: $brand-secondary;
  color: $brand-accent;
}
.schedule-calendar > div.week.names > span {
  color: $brand-accent-alter;
}
.schedule-calendar > div.week > span.day.today {
  background: $brand-tertiary;
  color: $brand-accent-alter;
}
.schedule-calendar > div.week > span.day.selected {
  background: $brand-primary;
  color: $brand-accent;
}
