@import '../../../public/style/partials/_var';
@import '../../../public/style/partials/_mix';

.animate.ease-out {
    max-height: 0;
    @include transition(max-height 0.5s ease-out);
    overflow: hidden;
}

.animate.ease-in {
    max-height: 650px;
    @include transition(max-height 1s ease-in);
    overflow: hidden;
}

.animate-transition {
  @include transition(all linear 0.5s);
}
