@import '../../../public/style/partials/_var';
@import '../../../public/style/partials/_mix';

.animate.ease-out {
    max-height: 0;
    @include transition(max-height 0.5s ease-out);
    overflow: hidden;
}

.animate.ease-in {
    max-height: 650px;
    @include transition(max-height 1s ease-in);
}

.animate-transition {
  @include transition(all linear 0.5s);
}

.animate.animate-rotate-hover {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    &:hover {
        @include transform(rotate(360deg));
    }
}