@import '../../../public/style/partials/_var';
@import '../../../public/style/partials/_mix';

//Standard phantom controls:
.phantom-control {
    background: none;
    border: none;
}

//Phantom checkbox:
input[type="checkbox"].phantom-control {
    @include appearance(none);
    @include transition(all 0.3s);
    display: inline-block;
    height: 19px;
    width: 19px;
    margin: 0;
    cursor: pointer;
    vertical-align: middle;
    &:before, &:checked:before{
        font-family: 'FontAwesome';
        font-size: 19px;
        @include transition(all 0.3s);
    }
    &:before {
        content: '\f096';
    }
    &:disabled:before {
        content: '\f03a';
        color: $brand-danger;
    }
    &:checked:before {
        content: '\f14a';
        color: $brand-success;
    }
}