.dark-bordered-font {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.dark-bordered-font-heading {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.tag-bubble {
    border-radius: 10px;
    border: 2px solid lightblue;
    padding: 10px;
    color: #777;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
    background-color: aliceblue;
}

.stat-media-panel {
    margin-top: 10px;
    border-top: 1px solid #eee;
}

.stat-table-row:hover {
    background-color: #337ab7;
    color: #FFFFFF;
}

.paging-controls {
    text-align: center;
    margin-bottom: 10px;
}

.mt {
    margin-top: 15px;
}

.character-default {
    height: 150px;
}

.character-expanded {
    height: auto;
}