.darkBorderedFont {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.darkBorderedFontHeading {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.tagBubble {
    border-radius: 10px;
    border: 2px solid lightblue;
    padding: 10px;
    color: #777;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
    background-color: aliceblue;
}



.red-bar {
    background-color: #FF0000;
}

.statMediaPanel {
    margin-top: 10px;
    border-top: 1px solid #eee;
}
