.slider-container {
    min-height: 450px;
    padding: 0;
}

.slider {
    position: relative;
    width: 100%;
    min-height: 400px;
    padding: 5px;
    margin: auto;
    list-style-type: none;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  min-height: 300px;
  margin: auto;
  a {
      text-decoration: none;
      .slide-image {
        display: block;
        height: 300px;
        width: auto;
        max-width: 100%;
        margin: auto;
      }
      .slide-caption {
        position: absolute;
        top: 80%;
        width: 100%;
        text-align: center;
      }
  }
}
.slider-control {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=50);
    opacity: 0.5;
    span {
        position: absolute;
        top: 50%;
    }
}
.slider-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
.slider-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.slider-indicators {
    position: absolute;
    bottom: 2%;
    width: 100%;
    text-align: center;
    
    li.indicator {
        display: inline-block;
        position: relative;
        cursor: pointer;
        height: 16px;
        width: 16px;
        margin: 0 12px;
        border-radius: 50%;
        background-color: $grey-light;
        @include transition(background-color 0.3s);
    }
    li.indicator.active {
        @extend li.indicator;
    }
    li.indicator.active.locked {
        @extend li.indicator;
    }
}

.slide.ng-hide-add,
.slide.ng-hide-remove {
  @include transition(all 0.5s linear);
  display: block!important;
}
.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
  opacity: 0;
}
.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}