<div class="list-group-item col-lg-12 col-md-12 col-sm-12" list-back="{{ctrl.trustAsResourceUrl(animeitem.image)}}">
  <div class="view-item-top">
    <small class="list-group-item-text">
      <time ng-if="animeitem.latest.substring(0,10)===animeitem.meta.updated.substring(0,10)" title="{{animeitem.meta.updated | date: 'yyyy-MMM-dd HH:mm'}}" ng-bind="ctrl.latestDate(animeitem.latest, animeitem.meta.updated)"></time>
      <time ng-if="animeitem.latest.substring(0,10)!==animeitem.meta.updated.substring(0,10)" title="{{animeitem.latest | date: 'yyyy-MMM-dd'}}" ng-bind="ctrl.latestDate(animeitem.latest, animeitem.meta.updated)"></time>
    </small>
    <h4 class="list-group-item-heading clickable" data-ng-bind="animeitem.title"
        ng-click="ctrl.filterConfig.viewItem === animeitem ? ctrl.filterConfig.viewItem='' : ctrl.filterConfig.viewItem = animeitem"></h4>
    <p class="list-group-item-text">
      <a class="clickable decoration-none" ng-if="!animeitem.status" ng-click="ctrl.tickOff(animeitem)"><i class="fa fa-plus-square"></i></a>
      <span data-ng-bind="animeitem.episodes"></span><span ng-bind="'/' + animeitem.finalEpisode" ng-if="animeitem.finalEpisode !== 0"></span><span> Episodes</span>
      <span class="item-icons green-text" ng-if="animeitem.status === true"><i class="fa fa-check"></i></span>
      <span class="item-icons" ng-if="animeitem.disc===true"><i class="glyphicon glyphicon-cd"></i></span>
      <span class="item-icons" ng-if="animeitem.reWatching===true"><i class="fa fa-repeat"></i></span>
    </p>
  </div>
  <div class="view-item-detail" ng-if="::ctrl.whichController !== 'watch'" ng-show="ctrl.filterConfig.viewItem === animeitem">
    <div class="item-detail">
      <p>
          <em class="text-muted" data-ng-if="animeitem.rating==0">No rating.</em>
          <uib-rating data-ng-if="animeitem.rating!=0" data-ng-model="animeitem.rating" class="list-item-rating-stars" read-only="true" max="ctrl.filterConfig.ratingActions.maxRating" id="rating" name="rating"></uib-rating>
      </p>
      <p ng-if="animeitem.reWatchCount!=0">{{animeitem.reWatchCount}} re-watches.</p>
    </div>
    <div class="item-dates">
      <small>
          <span data-ng-bind="animeitem.start | date:'yyyy-MMM-dd'"></span> started.<br/>
          <span ng-if="animeitem.end!==undefined && animeitem.end!==null">{{animeitem.end | date:'yyyy-MMM-dd'}} ended.</span>
      </small>
    </div>
    <a class="clickable" ng-click="ctrl.viewItemHistory()">View history</a>
    <div class="item-actions" data-ng-show="((ctrl.authentication.user) && (ctrl.authentication.user._id == animeitem.user._id))">
        <a class="btn btn-accent" href="/#!/animeitems/{{animeitem._id}}">
            <i class="fa fa-eye"></i>
        </a>
        <a class="btn btn-primary" href="/#!/animeitems/{{animeitem._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
    </div>
  </div>
</div>
