<section data-ng-controller="StatisticsController" data-ng-init="find(view)" data-ng-show="authentication.user">
    <span keycuts></span>
    <div class="page-header">
        <div class="view-buttons text-right pull-right">
            <label class="btn btn-primary" ng-model="view" btn-radio="'Anime'">Anime</label>
            <label class="btn btn-primary" ng-model="view" btn-radio="'Manga'">Manga</label>
            <label class="btn btn-primary" ng-model="view" btn-radio="'Character'">Character</label>
        </div>
        <h1>{{view}} statistics</h1>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12" ng-hide="view === 'Character'">
        <div class="col-lg-12 col-md-12 col-sm-12 stat-overview">
            <span class="accent-text">{{overview.ongoing}} in progress</span> - <span class="green-text">{{overview.completed}}  completed</span>
        </div><!-- OVERVIEW STATS END -->
        <div class="col-lg-12 col-md-12 col-sm-12 stat-history-panel">
            <div class="stat-header">
                <div class="stat-header-label-container">
                    <h3 class="clickable" ng-click="showHistory = !showHistory"><i class="fa" ng-class="showHistory ? 'fa-minus-square' : 'fa-plus-square'"></i> History</h3>
                    <h3 class="btn btn-primary stat-header-label" ng-model="historicalView" btn-radio="'month'" ng-show="showHistory">by month</h3>
                    <h3 class="btn btn-primary stat-header-label" ng-model="historicalView" btn-radio="'season'" ng-show="showHistory && view === 'Anime'">by season</h3>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 stat-history" ng-init="showHistory = true">
                <table class="col-lg-12 col-md-12 col-sm-12" ng-show="historicalView === 'month' && showHistory">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="text-center stat-month-header" ng-repeat="month in commonArrays.months">{{month.text.substring(0,3)}}</th>
                    </tr>
                </thead>
                    <tbody>
                    <tr ng-repeat="year in monthDetails.completeByMonth | orderBy: '-year'" ng-hide="loading(year.year)">
                        <th class="clickable" ng-click="yearDetail(year.year,'month')"><span>{{year.year}}</span></th>
                        <td ng-repeat="month in year.months" ng-click="monthDetail(year.year, month.number, month.text);" hover-data="{{month.count}} completed {{month.text}} {{year.year}}.">
                            <span class="stat-month-box" ng-style="{'opacity': month.count / monthDetails.maxCompleteMonth }"></span>
                        </td>
                    </tr>
                </tbody>
                </table><!-- MONTH HISTORY TABLE END -->
                <table class="col-lg-12 col-md-12 col-sm-12" ng-show="historicalView === 'season' && showHistory && view === 'Anime'">
                    <thead>
                    <tr>
                        <th class=""></th>
                        <th class="text-center stat-season-header" ng-repeat="season in commonArrays.seasons">{{season.text}}</th>
                    </tr>
                </thead>
                    <tbody>
                    <tr ng-repeat="year in seasonDetails.completeBySeason | orderBy: '-year'">
                        <th class="clickable" ng-click="yearDetail(year.year,'season')"><span>{{year.year}}</span></th>
                        <td ng-repeat="season in year.seasons" ng-click="seasonDetail(year.year, season.number, season.text)" hover-data="{{ season.count }} completed {{season.text}} {{year.year}}.">
                            <span class="stat-month-box" ng-style="{'opacity': season.count / seasonDetails.maxCompleteSeason }"></span>
                        </td>
                    </tr>
                </tbody>
                </table><!-- SEASON HISTORY TABLE END -->
            </div><!-- HISTORY PANEL END -->
            <div class="col-lg-12 col-md-12 col-sm-12 stat-month-detail padding-bottom-15" ng-show="showHistory && (showDetail || showSeasonDetail || showYearDetail)">
                <div class="col-lg-8 col-md-8 col-sm-8 stat-detail" ng-show="showDetail">
                    <div class="stat-detail-header">
                        <h3>{{monthItems.length}} Completed {{detailMonthName}} {{detailYear}}</h3>
                    </div>
                    <table class="col-lg-12 col-md-12 col-sm-12 stat-detail-list">
                        <tbody>
                            <tr ng-repeat="item in (monthItems = (items | endedMonth: detailYear:detailMonth | orderBy: 'title'))">
                                <td class="width-75 no-wrap overflow-hidden">
                                    <a href="/#!/{{view.toLowerCase()}}items/{{item._id}}"><span>{{item.title}}</span></a>
                                </td>
                                <td>
                                    <span>{{item.rating}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 stat-detail" ng-show="showSeasonDetail && view === 'Anime'">
                    <div class="stat-detail-header">
                        <h3>{{seasonItems.length}} Watched {{detailSeasonName}} {{detailSeasonYear}}</h3>
                    </div>
                    <table class="col-lg-12 col-md-12 col-sm-12 stat-detail-list">
                        <tbody>
                            <tr ng-repeat="item in (seasonItems = (items | season: detailSeasonYear:detailSeasonName | orderBy: 'title'))">
                                <td class="width-75 no-wrap overflow-hidden">
                                    <a href="/#!/animeitems/{{item._id}}"><span>{{item.title}}</span></a>
                                    <p>{{item.start | date: 'MM/yyyy'}} - {{item.end | date: 'MM/yyyy'}}</p>
                                </td>
                                <td>
                                    <span>{{item.rating}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 stat-detail" ng-show="showYearDetail">
                    <div class="stat-detail-header">
                        <h3>{{yearItems.length}} {{summaryType === 'month' ? 'Completed' : 'Watched' }} in {{summaryYear}}</h3>
                    </div>
                    <table class="col-lg-12 col-md-12 col-sm-12 stat-detail-list">
                        <tbody>
                            <tr ng-repeat="item in (yearItems = (items | summaryYear:summaryYear:summaryType | orderBy: 'title'))">
                                <td class="width-75 no-wrap overflow-hidden">
                                    <a href="/#!/{{view.toLowerCase()}}items/{{item._id}}"><span>{{item.title}}</span></a>
                                </td>
                                <td>
                                    <span>{{item.rating}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <table class="col-lg-4 col-md-4 col-sm-4 margin-top-55 margin-bottom-20" 
                       ng-show="(showDetail && monthItems.length > 0) || (showSeasonDetail && seasonItems.length > 0) || (showYearDetail && yearItems.length > 1)">
                    <tbody>
                        <tr ng-repeat="item in seasonDetails.summaryFunctions">
                            <th>{{item.metric}}</th><td>{{item.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- SEASON DETAIL PANEL END -->
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 stat-rating-panel" ng-init="showRatings = true">
            <div class="stat-header">
                <h3 class="clickable" ng-click="showRatings = !showRatings"><i class="fa" ng-class="showRatings ? 'fa-minus-square' : 'fa-plus-square'"></i> Ratings</h3><span class="stat-summary-info pull-right"><small class="accent-text">&nbsp;{{ratingValues.averageRating | number: 2}} average rating.</small></span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12" ng-show="showRatings">
                <table class="col-lg-12 col-md-12 col-sm-12 stat-rating-table">
                    <tbody>
                        <tr ng-repeat="rating in ratingsDistribution">
                            <th class="col-lg-1 col-md-1 col-sm-1 text-right mb"><span>{{rating.number}}</span></th>
                            <td class="col-lg-11 col-md-11 col-sm-11 col-xs-11 stat-rating-box">
                                <div class="progress-container"  hover-data="{{rating.text}}.">
                                    <div class="progress progress-bar-placement" max="100" value="{{rating.percentage}}">
                                        <div class="bar current-progress" style="width: {{rating.percentage}}%">{{rating.percentage}}%</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- RATING PANEL END -->
        <div class="col-lg-6 col-md-6 col-sm-6 stat-tag-panel" ng-init="showStatTags = true">
            <div class="stat-header">
                <h3 class="clickable" ng-click="showStatTags = !showStatTags"><i class="fa" ng-class="showStatTags ? 'fa-minus-square' : 'fa-plus-square'"></i> Tags</h3><span class="stat-summary-info pull-right"><small class="accent-text">&nbsp;{{statTags.length}} unique tags.</small></span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12" ng-show="showStatTags">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </div>
                    <input type="text" ng-model="statSearch" placeholder="search tags" class="form-control">
                </div>
                <table class="col-lg-12 col-md-12 col-sm-12 stat-tag-table table table-bordered">
                    <thead>
                        <tr>
                            <td class="text-right">#</td>
                            <td>
                                <a href="" ng-click="statTagSortType = 'tag'; statTagSortReverse = !statTagSortReverse ">
					               Tag
					            </a>
                                <i ng-show="statTagSortType == 'tag'" class="fa" ng-class="statTagSortReverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                            </td>
                            <td class="text-right">
                                <a href="" ng-click="statTagSortType = 'count'; statTagSortReverse = !statTagSortReverse ">
					               Count
					            </a>
                                <i ng-show="statTagSortType == 'count'" class="fa" ng-class="statTagSortReverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                            </td>
                            <td class="text-right">
                                <a href="" ng-click="statTagSortType = 'ratingAvg'; statTagSortReverse = !statTagSortReverse ">
					               Rating (Avg.)
					            </a>
                                <i ng-show="statTagSortType == 'ratingAvg'" class="fa" ng-class="statTagSortReverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                            </td>
                            <td class="text-right">
                                <a href="" ng-click="statTagSortType = 'ratingWeighted'; statTagSortReverse = !statTagSortReverse ">
					               Rating (WAvg.)
					            </a>
                                <i ng-show="statTagSortType == 'ratingWeighted'" class="fa" ng-class="statTagSortReverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="stat in statTags | orderBy: statTagSortType:statTagSortReverse | filter: { tag: statSearch }">
                            <td class="text-right">{{$index+1}}</td>
                            <td>{{stat.tag}}</td>
                            <td class="text-right">{{stat.count}}</td>
                            <td class="text-right">{{stat.ratingAvg | number: 2}}</td>
                            <td class="text-right">{{stat.ratingWeighted | number: 2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- TAG PANEL END -->
    </div><!-- ANIME/MANGA STAT VIEW END -->
    <div class="col-lg-12 col-md-12 col-sm-12 stat-view" ng-show="view === 'Character'">
        <div class="col-lg-12 col-md-12 col-sm-12 stat-gender-panel">
            <div class="stat-gender-progress-container">
                <progress>
                    <bar type="danger" value="gender.female.percentage">{{gender.female.percentage}}{{gender.female.text}}</bar>
                    <bar type="primary" value="gender.male.percentage">{{gender.male.percentage}}{{gender.male.text}}</bar>
                    <bar type="success" value="gender.nosex.percentage">{{gender.nosex.percentage}}{{gender.nosex.text}}</bar>
                </progress>
            </div>
        </div><!-- GENDER PERCENTAGE BAR END -->
        <div class="col-lg-6 col-md-6 col-sm-6 stat-tag-panel" ng-init="showStatTags = true">
            <div class="stat-header">
                <h3 class="clickable" ng-click="showStatTags = !showStatTags"><i class="fa" ng-class="showStatTags ? 'fa-minus-square' : 'fa-plus-square'"></i> Tags</h3><span class="stat-summary-info pull-right"><small class="accent-text">&nbsp;{{statTags.length}} unique tags.</small></span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 stat-tag-main">
                <div class="col-lg-12 col-md-12 col-sm-12" ng-show="showStatTags">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </div>
                    <input type="text" ng-model="statSearch" placeholder="search tags" class="form-control" ng-disabled="isEqual">
                </div>
                <table class="col-lg-12 col-md-12 col-sm-12 stat-tag-table table table-bordered">
                    <thead>
                        <tr>
                            <td class="text-right">#</td>
                            <td>
                                <a href="" ng-click="statTagSortType = 'tag'; statTagSortReverse = !statTagSortReverse ">
					               Tag
					            </a>
                                <i ng-show="statTagSortType == 'tag'" class="fa" ng-class="statTagSortReverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                            </td>
                            <td class="text-right">
                                <a href="" ng-click="statTagSortType = 'count'; statTagSortReverse = !statTagSortReverse ">
					               Count
					            </a>
                                <i ng-show="statTagSortType == 'count'" class="fa" ng-class="statTagSortReverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="stat-table-row clickable" ng-repeat="stat in statTags | orderBy: statTagSortType:statTagSortReverse | filter: {tag: statSearch }:isEqual" ng-click="tagDetail(stat.tag);">
                            <td class="text-right">{{$index+1}}</td>
                            <td>{{stat.tag}}</td>
                            <td class="text-right">{{stat.count}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div><!-- TAG PANEL END -->
            <div class="col-lg-12 col-md-12 col-sm-12 stat-tag-detail" ng-show="showTagDetail && showStatTags">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="stat-detail-header">
                    <h3>Tags appearing with {{detailTagName}}</h3>
                </div>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </div>
                    <input type="text" ng-model="statDetailSearch" placeholder="search related tags" class="form-control">
                </div>
                <table class="col-lg-12 col-md-12 col-sm-12 stat-tag-detail-table table table-bordered">
                    <thead>
                        <tr>
                            <td class="text-right">#</td>
                            <td>
                                <a href="" ng-click="statTagDetailSortType = 'name'; statTagDetailSortReverse = !statTagDetailSortReverse ">
					               Tag
					            </a>
                                <i ng-show="statTagDetailSortType == 'name'" class="fa" ng-class="statTagDetailSortReverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                            </td>
                            <td class="text-right">
                                <a href="" ng-click="statTagDetailSortType = 'count'; statTagDetailSortReverse = !statTagDetailSortReverse ">
					               Count
					            </a>
                                <i ng-show="statTagDetailSortType == 'count'" class="fa" ng-class="statTagDetailSortReverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="stat in tagDetailResult | orderBy: statTagDetailSortType:statTagDetailSortReverse | filter: {name: statDetailSearch}">
                            <td class="text-right">{{$index+1}}</td>
                            <td>{{stat.name}}</td>
                            <td class="text-right">{{stat.count}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- TAG DETAIL PANEL END -->
        </div><!-- TAG CONTAINER END -->
        <div class="col-lg-6 col-md-6 col-sm-6 stat-media-panel" ng-init="showStatSeries = true">
            <div class="stat-header">
                <h3 class="clickable" ng-click="showStatSeries = !showStatSeries"><i class="fa" ng-class="showStatSeries ? 'fa-minus-square' : 'fa-plus-square'"></i> Series</h3><span class="stat-summary-info pull-right"><small class="accent-text">&nbsp;{{statSeries.length}} unique series.</small></span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 stat-media-main">
                <div class="col-lg-12 col-md-12 col-sm-12" ng-show="showStatSeries">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </div>
                    <input type="text" ng-model="seriesSearch" placeholder="search series" class="form-control">
                </div>
                <table class="col-lg-12 col-md-12 col-sm-12 stat-media-table table table-bordered">
                    <thead>
                        <tr>
                            <td class="text-right">#</td>
                            <td>
                                <a href="" ng-click="statSeriesSortType = 'name'; statSeriesSortReverse = !statSeriesSortReverse ">
					               Series
					            </a>
                                <i ng-show="statSeriesSortType == 'name'" class="fa" ng-class="statSeriesSortReverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                            </td>
                            <td class="text-right">
                                <a href="" ng-click="statSeriesSortType = 'count'; statSeriesSortReverse = !statSeriesSortReverse ">
					               Count
					            </a>
                                <i ng-show="statSeriesSortType == 'count'" class="fa" ng-class="statSeriesSortReverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="stat-table-row clickable" ng-repeat="stat in statSeries | orderBy: statSeriesSortType:statSeriesSortReverse | filter: {name: seriesSearch }" ng-click="seriesDetail(stat.name);">
                            <td class="text-right">{{$index+1}}</td>
                            <td>{{stat.name}}</td>
                            <td class="text-right">{{stat.count}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div><!-- SERIES PANEL END -->
            <div class="col-lg-12 col-md-12 col-sm-12 stat-media-detail" ng-show="showSeriesDetail && showStatSeries">
            <div class="col-lg-12 col-md-12 col-sm-12 stat-detail">
                <div class="stat-detail-header">
                    <h3>Characters in {{detailSeriesName}}</h3>
                </div>
                <ul class="col-lg-12 col-md-12 col-sm-12 statMediaDetailList">
                    <li ng-repeat="item in items | orderBy: 'name' | seriesDetailFilter: detailSeriesName">
                        <a href="/#!/characters/{{item._id}}"><span>{{item.name}}</span></a>
                    </li>
                </ul>
            </div>
        </div><!-- SERIES DETAIL PANEL END -->
        </div><!-- MEDIA CONTAINER END -->
        <div class="col-lg-6 col-md-6 col-sm-6 stat-voice-panel" ng-init="showVoiceActors = true">
            <div class="stat-header">
                    <h3 class="clickable" ng-click="showVoiceActors = !showVoiceActors"><i class="fa" ng-class="showVoiceActors ? 'fa-minus-square' : 'fa-plus-square'"></i> Voice Actors</h3><span class="stat-summary-info pull-right"><small class="accent-text">&nbsp;{{voiceActors.length}} voices.</small></span>
                </div>
            <div class="col-lg-12 col-md-12 col-sm-12 stat-voice-main">
                <div class="col-lg-12 col-md-12 col-sm-12" ng-show="showVoiceActors">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </div>
                        <input type="text" ng-model="voiceSearch" placeholder="search voices" class="form-control">
                    </div>
                    <table class="col-lg-12 col-md-12 col-sm-12 stat-voice-table table table-bordered">
                        <thead>
                            <tr>
                                <td class="text-right">#</td>
                                <td>
                                    <a href="" ng-click="statVoiceSortType = 'name'; statVoiceSortReverse = !statVoiceSortReverse ">
					                   Voice
					               </a>
                                    <i ng-show="statVoiceSortType == 'name'" class="fa" ng-class="statVoiceSortReverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                                </td>
                                <td class="text-right">
                                    <a href="" ng-click="statVoiceSortType = 'count'; statVoiceSortReverse = !statVoiceSortReverse ">
					                   Count
					               </a>
                                    <i ng-show="statVoiceSortType == 'count'" class="fa" ng-class="statVoiceSortReverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="stat-table-row clickable" ng-repeat="stat in voiceActors | orderBy: statVoiceSortType:statVoiceSortReverse | filter: {name: voiceSearch }" ng-click="voiceDetail(stat.name);" >
                                <td class="text-right">{{$index+1}}</td>
                                <td>{{stat.name}}</td>
                                <td class="text-right">{{stat.count}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 stat-voice-detail" ng-show="showVoiceDetail && showVoiceActors">
            <div class="col-lg-12 col-md-12 col-sm-12 stat-detail">
                <div class="stat-detail-header">
                    <h3>Characters voiced by {{detailVoiceName}}</h3>
                </div>
                <ul class="col-lg-12 col-md-12 col-sm-12 stat-voice-detail-list">
                    <li ng-repeat="item in items | orderBy: 'name' | filter: {voice: detailVoiceName}">
                        <a href="/#!/characters/{{item._id}}"><span>{{item.name}}</span></a>
                    </li>
                </ul>
            </div>
        </div><!-- SERIES DETAIL PANEL END -->
        </div><!-- VOICE CONTAINER END -->
    </div><!-- CHARACTER STAT VIEW END -->
<section class="loading-image" data-ng-if="isLoading"></section>
</section>