<section data-ng-controller="StatisticsController as ctrl" data-ng-init="ctrl.find(ctrl.view)" data-ng-show="ctrl.authentication.user" keycuts>
  <div layout="row" flex="100">
    <header class="padding-10" flex="75">
        <h1 class="font-32" ng-bind="ctrl.view + ' statistics'"></h1>
    </header>
    <div flex tab-container ng-model="ctrl.view" ng-change="ctrl.find(ctrl.view)">
        <div tab-view heading="Anime"></div>
        <div tab-view heading="Manga"></div>
        <div tab-view heading="Character"></div>
        <div tab-view heading="Topten"></div>
    </div>
  </div>

  <section ng-hide="ctrl.view !== 'Anime' && ctrl.view !== 'Manga'" loading-spinner name="items" size="fullscreen">
    <aside class="stat-overview" flex="80" flex-offset="10">
      <span class="accent-text">{{ctrl.overview.ongoing}} in progress</span> - <span class="green-text">{{ctrl.overview.completed}}  completed</span>
    </aside>
    <div class="width-100" flex="80" flex-offset="10" tab-container>
      <div tab-view heading="history">
        <div class="stat-history-panel" flex="100">
          <div class="stat-header">
            <div class="stat-header-label-container">
              <h3 class="font-24">
                  History
              </h3>
              <div tab-container ng-model="ctrl.detail.history" ng-change="ctrl.getFilteredItems(true)" style="width: 250px">
                  <div tab-view heading="months"></div>
                  <div tab-view heading="seasons" disabled="ctrl.view === 'Manga'"></div>
              </div>
              <div class="margin-auto padding-left-15" ng-show="ctrl.detail.history === 'seasons'">
                <md-checkbox ng-model="ctrl.detail.isEpisodeRatings" ng-change="ctrl.getFilteredItems()">
                  use episode ratings
                </md-checkbox>
              </div>
            </div>
          </div>
          <div class="stat-history" flex="100">
            <table class="width-100">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-center" ng-class="(ctrl.detail.history === 'months') ? 'stat-month-header' : 'stat-season-header'" ng-repeat="header in ctrl.commonArrays[ctrl.detail.history]">
                            {{ctrl.detail.history === 'months' ? header.text.substring(0,3) : header.text }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="year in ctrl.historyDetails[ctrl.detail.history][ctrl.detail.history] | orderBy: '-year'">
                        <th class="cursor-pointer" ng-click="ctrl.historyDetail(year.year, '', '', ctrl.detail.history)">
                          <span>{{year.year}}</span>
                        </th>
                        <td ng-repeat="part in year[ctrl.detail.history]"
                            ng-click="ctrl.historyDetail(year.year, part[ctrl.detail.history==='months' ? 'number' : 'text'], part.text)"
                            hover-data="{{part.count}} {{ctrl.detail.history === 'months' ? 'completed' : 'watched' }} {{part.text}} {{year.year}}.">
                            <span class="stat-month-box" ng-style="{'opacity': part.count / ctrl.historyDetails[ctrl.detail.history].max }"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
          </div><!-- HISTORY PANEL END -->
          <div class="stat-month-detail padding-10" flex="100" ng-show="ctrl.detail.isVisible"  loading-spinner name="detail">
            <div class="padding-10" flex="100" ng-show="(ctrl.detail.summary.isVisible && detailItems.length > 1)">
              <table class="width-100">
                  <thead>
                      <th>{{ctrl.detail.year}}</th>
                      <th class="text-right" ng-repeat="item in ctrl.commonArrays[ctrl.detail.summary.type]"
                          ng-class="(ctrl.detail.summary.type === 'seasons') ? item.text + '-background white-text padding-right-10' : ''">
                        {{ ctrl.detail.summary.type === 'months' ? item.text.substring(0,3) : item.text }}
                      </th>
                  </thead>
                  <tbody>
                      <tr ng-repeat="item in ctrl.historyDetails.yearSummary">
                          <th>{{item.metric}}</th>
                          <td class="text-right" ng-repeat="value in item.values">{{value.value}}</td>
                      </tr>
                  </tbody>
              </table>
            </div>
            <div class="stat-detail padding-bottom-15" flex="100">
              <div class="padding-5">
                <h3>{{detailItems.length}} {{ctrl.detail.history === 'months' ? 'Completed' : 'Watched' }} {{ctrl.detail.divisionText}} {{ctrl.detail.year}}</h3>
              </div>
              <div class="padding-10" layout="row">
                <table ng-class="(ctrl.detail.isEpisodeRatings) ? 'width-100' : 'width-66'">
                    <thead>
                      <th class="text-left">
                          <a href="" ng-click="ctrl.filterConfig.sort.episodeRating.type = 'title'; ctrl.filterConfig.sort.episodeRating.reverse = !ctrl.filterConfig.sort.episodeRating.reverse ">
                             Title
                          </a>
                          <i ng-show="ctrl.filterConfig.sort.episodeRating.type == 'title'" class="fa" ng-class="ctrl.filterConfig.sort.episodeRating.reverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                      </th>
                      <th class="text-right">
                          <a href="" ng-click="ctrl.filterConfig.sort.episodeRating.type = 'rating'; ctrl.filterConfig.sort.episodeRating.reverse = !ctrl.filterConfig.sort.episodeRating.reverse ">
                             Rating
                          </a>
                          <i ng-show="ctrl.filterConfig.sort.episodeRating.type == 'rating'" class="fa" ng-class="ctrl.filterConfig.sort.episodeRating.reverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                      </th>
                      <th class="text-right" ng-repeat="metric in ctrl.commonArrays.summaryFunctions" ng-if="ctrl.detail.isEpisodeRatings">
                        <a href="" ng-click="ctrl.filterConfig.sort.episodeRating.type = 'meta.episodeSummaryFunctions[{{$index}}].value'; ctrl.filterConfig.sort.episodeRating.reverse = !ctrl.filterConfig.sort.episodeRating.reverse ">
                           {{metric.name}}
                        </a>
                        <i ng-show="ctrl.filterConfig.sort.episodeRating.type === 'meta.episodeSummaryFunctions[{{$index}}].value'" class="fa" ng-class="ctrl.filterConfig.sort.episodeRating.reverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                      </th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in (detailItems = (ctrl.items | statisticsDetailFilter: ctrl.detail.history:ctrl.detail.year:ctrl.detail.division | orderBy: ctrl.filterConfig.sort.episodeRating.type:ctrl.filterConfig.sort.episodeRating.reverse))"
                            ng-class="(ctrl.detail.summary.type === 'seasons') ? item.season.season + '-background white-text' : ''">
                            <td class="no-wrap overflow-hidden" ng-class="(ctrl.detail.isEpisodeRatings) ? '' : 'width-75'">
                                <a href="/#!/{{ctrl.view.toLowerCase()}}items/{{item._id}}" ng-bind="item.title"></a>
                            </td>
                            <td class="text-right">
                                <span ng-bind="item.rating"></span>
                            </td>
                            <td class="text-right" ng-repeat="episode in item.meta.episodeSummaryFunctions" ng-if="ctrl.detail.isEpisodeRatings">
                                <span ng-bind="episode.value"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div flex="33" ng-show="detailItems.length > 0 && ctrl.detail.isEpisodeRatings === false">
                  <table class="width-100">
                    <tbody>
                      <tr ng-repeat="item in ctrl.historyDetails.summaryFunctions">
                        <th ng-bind="item.metric"></th>
                        <td class="text-right" ng-bind="item.value"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div tab-view heading="ratings">
        <div class="stat-rating-panel">
          <div class="stat-header">
            <h3 class="font-24"> Ratings</h3><span class="stat-summary-info pull-right"><small class="accent-text">&nbsp;{{ctrl.ratingValues.averageRating | number: 2}} average rating.</small></span>
          </div>
          <div flex="100">
            <table class="width-100 stat-rating-table">
              <tbody>
                <tr ng-repeat="rating in ctrl.ratingsDistribution">
                  <th class="width-10 text-right mb"><span>{{rating.number}}</span></th>
                  <td class="width-90 stat-rating-box">
                    <div percentage-bar-container>
                        <div percentage-bar percentage="{{::rating.percentage}}"
                             display="{{::rating.percentage}}%"
                             colour="{{::rating.colour}}" type="white-text"
                             hover-data="{{::rating.text}}"></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div tab-view heading="tags">
        <div class="col-lg-12 col-md-12 col-sm-12 stat-tag-panel">
          <div class="stat-header">
            <h3 class="font-24"> Tags</h3><span class="stat-summary-info pull-right"><small class="accent-text">&nbsp;{{ctrl.statTags.length}} unique tags.</small></span>
          </div>
          <div flex="100">
            <md-input-container>
              <label>search tags</label>
              <input type="text" ng-model="ctrl.filterConfig.search.tag">
            </md-input-container>
            <table class="width-100 stat-tag-table table table-bordered">
              <thead>
                <tr>
                    <td class="text-right">#</td>
                    <td>
                        <a href="" ng-click="ctrl.filterConfig.sort.tag.type = 'tag'; ctrl.filterConfig.sort.tag.reverse = !ctrl.filterConfig.sort.tag.reverse ">
                           Tag
                        </a>
                        <i ng-show="ctrl.filterConfig.sort.tag.type == 'tag'" class="fa" ng-class="ctrl.filterConfig.sort.tag.reverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                    </td>
                    <td class="text-right">
                        <a href="" ng-click="ctrl.filterConfig.sort.tag.type = 'count'; ctrl.filterConfig.sort.tag.reverse = !ctrl.filterConfig.sort.tag.reverse ">
                           Count
                        </a>
                        <i ng-show="ctrl.filterConfig.sort.tag.type == 'count'" class="fa" ng-class="ctrl.filterConfig.sort.tag.reverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                    </td>
                    <td class="text-right">
                        <a href="" ng-click="ctrl.filterConfig.sort.tag.type = 'ratingAvg'; ctrl.filterConfig.sort.tag.reverse = !ctrl.filterConfig.sort.tag.reverse ">
                           Rating (Avg.)
                        </a>
                        <i ng-show="ctrl.filterConfig.sort.tag.type == 'ratingAvg'" class="fa" ng-class="ctrl.filterConfig.sort.tag.reverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                    </td>
                    <td class="text-right">
                        <a href="" ng-click="ctrl.filterConfig.sort.tag.type = 'ratingWeighted'; ctrl.filterConfig.sort.tag.reverse = !ctrl.filterConfig.sort.tag.reverse ">
                           Rating (WAvg.)
                        </a>
                        <i ng-show="ctrl.filterConfig.sort.tag.type == 'ratingWeighted'" class="fa" ng-class="ctrl.filterConfig.sort.tag.reverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                    </td>
                </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="stat in ctrl.statTags | orderBy: ctrl.filterConfig.sort.tag.type:ctrl.filterConfig.sort.tag.reverse | filter: { tag: ctrl.filterConfig.search.tag }">
                      <td class="text-right">{{$index+1}}</td>
                      <td>{{stat.tag}}</td>
                      <td class="text-right">{{stat.count}}</td>
                      <td class="text-right">{{stat.ratingAvg | number: 2}}</td>
                      <td class="text-right">{{stat.ratingWeighted | number: 2}}</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section ng-show="ctrl.view === 'Character'" loading-spinner name="character" size="fullscreen">
    <aside class="stat-gender-panel primary-background" flex="80" flex-offset="10">
      <div class="stat-gender-progress-container">
          <div percentage-bar-container>
              <div ng-repeat="sex in ctrl.gender" percentage-bar percentage="{{sex.percentage}}"
                   display="{{sex.percentage | number: 2}}{{::sex.text}}"
                   colour="{{sex.colour}}" type="white-text"
                   hover-data="{{sex.percentage | number: 2}}{{::sex.text}}"></div>
          </div>
      </div>
    </aside>
    <div flex="80" flex-offset="10" tab-container>
      <div tab-view heading="tags">
        <div class="stat-tag-panel" layout="row" flex="100">
          <div class="stat-tag-main" flex="50">
            <div class="stat-header">
              <h3 class="font-24"> Tags</h3><span class="stat-summary-info pull-right"><small class="accent-text">&nbsp;{{ctrl.statTags.length}} unique tags.</small></span>
            </div>
            <div flex="100">
              <md-input-container>
                <label>search tags</label>
                <input type="text" ng-model="ctrl.filterConfig.search.tag" ng-disabled="ctrl.tableDetails.isEqual">
              </md-input-container>
              <table class="width-100 stat-tag-table table table-bordered">
                <thead>
                  <tr>
                    <td class="text-right">#</td>
                    <td>
                      <a href="" ng-click="ctrl.filterConfig.sort.tag.type = 'tag'; ctrl.filterConfig.sort.tag.reverse = !ctrl.filterConfig.sort.tag.reverse ">
				               Tag
				              </a>
                      <i ng-show="ctrl.filterConfig.sort.tag.type == 'tag'" class="fa" ng-class="ctrl.filterConfig.sort.tag.reverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                    </td>
                    <td class="text-right">
                      <a href="" ng-click="ctrl.filterConfig.sort.tag.type = 'count'; ctrl.filterConfig.sort.tag.reverse = !ctrl.filterConfig.sort.tag.reverse ">
				               Count
				              </a>
                      <i ng-show="ctrl.filterConfig.sort.tag.type == 'count'" class="fa" ng-class="ctrl.filterConfig.sort.tag.reverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr class="stat-table-row clickable" ng-repeat="stat in ctrl.statTags | orderBy: ctrl.filterConfig.sort.tag.type:ctrl.filterConfig.sort.tag.reverse | filter: {tag: ctrl.filterConfig.search.tag }:ctrl.tableDetails.isEqual" ng-click="ctrl.tableDetail('tag', stat.tag);">
                    <td class="text-right">{{$index+1}}</td>
                    <td>{{stat.tag}}</td>
                    <td class="text-right">{{stat.count}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="stat-tag-detail" flex="50" ng-show="ctrl.filterConfig.show.tag">
            <div flex="100">
              <div class="stat-header">
                <h3 class="font-24">Tags appearing with {{ctrl.tableDetails.tag}}</h3>
              </div>
              <md-input-container>
                <label>search related tags</label>
                <input type="text" ng-model="ctrl.filterConfig.search.tagDetail">
              </md-input-container>
              <table class="width-100 stat-tag-detail-table table table-bordered">
                  <thead>
                      <tr>
                          <td class="text-right">#</td>
                          <td>
                              <a href="" ng-click="ctrl.filterConfig.sort.tagDetail.type = 'name'; ctrl.filterConfig.sort.tagDetail.reverse = !ctrl.filterConfig.sort.tagDetail.reverse ">
                                 Tag
                              </a>
                              <i ng-show="ctrl.filterConfig.sort.tagDetail.type == 'name'" class="fa" ng-class="ctrl.filterConfig.sort.tagDetail.reverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                          </td>
                          <td class="text-right">
                              <a href="" ng-click="ctrl.filterConfig.sort.tagDetail.type = 'count'; ctrl.filterConfig.sort.tagDetail.reverse = !ctrl.filterConfig.sort.tagDetail.reverse ">
                                 Count
                              </a>
                              <i ng-show="ctrl.filterConfig.sort.tagDetail.type == 'count'" class="fa" ng-class="ctrl.filterConfig.sort.tagDetail.reverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                          </td>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="stat in ctrl.tagDetailResult | orderBy: ctrl.filterConfig.sort.tagDetail.type:ctrl.filterConfig.sort.tagDetail.reverse | filter: {name: ctrl.filterConfig.search.tagDetail }">
                          <td class="text-right">{{$index+1}}</td>
                          <td>{{stat.name}}</td>
                          <td class="text-right">{{stat.count}}</td>
                      </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div tab-view heading="series">
        <div class="stat-media-panel" layout="row" flex="100">
          <div class="stat-media-main" flex="50">
            <header class="stat-header">
              <h3 class="font-24"> Series</h3>
              <span class="stat-summary-info pull-right">
                <small class="accent-text">&nbsp;{{ctrl.statSeries.length}} unique series.</small>
              </span>
            </header>
            <div flex="100">
              <md-input-container>
                <label>search series</label>
                <input type="text" ng-model="ctrl.filterConfig.search.series">
              </md-input-container>
              <table class="width-100 stat-media-table table table-bordered">
                <thead>
                    <tr>
                        <td class="text-right">#</td>
                        <td>
                            <a href="" ng-click="ctrl.filterConfig.sort.series.type = 'name'; ctrl.filterConfig.sort.series.reverse = !ctrl.filterConfig.sort.series.reverse ">
                               Series
                            </a>
                            <i ng-show="ctrl.filterConfig.sort.series.type == 'name'" class="fa" ng-class="ctrl.filterConfig.sort.series.reverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                        </td>
                        <td class="text-right">
                            <a href="" ng-click="ctrl.filterConfig.sort.series.type = 'count'; ctrl.filterConfig.sort.series.reverse = !ctrl.filterConfig.sort.series.reverse ">
                               Count
                            </a>
                            <i ng-show="ctrl.filterConfig.sort.series.type == 'count'" class="fa" ng-class="ctrl.filterConfig.sort.series.reverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="stat-table-row clickable" ng-repeat="stat in ctrl.statSeries | orderBy: ctrl.filterConfig.sort.series.type:ctrl.filterConfig.sort.series.reverse | filter: {name: ctrl.filterConfig.search.series }" ng-click="ctrl.tableDetail('series', stat.name);">
                        <td class="text-right">{{$index+1}}</td>
                        <td>{{stat.name}}</td>
                        <td class="text-right">{{stat.count}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="stat-media-detail" flex="50" ng-show="ctrl.filterConfig.show.series">
            <div class="stat-detail">
              <header class="stat-detail-header">
                <h3 class="font-24">Characters in {{ctrl.tableDetails.series}}</h3>
              </header>
              <md-list class="statMediaDetailList">
                <md-list-item ng-repeat="item in ctrl.items | orderBy: 'name' | seriesDetailFilter: ctrl.tableDetails.series">
                  <a href="/#!/characters/{{item._id}}"><span>{{item.name}}</span></a>
                </md-list-item>
              </md-list>
            </div>
          </div>
        </div>
      </div>
      <div tab-view heading="voice">
        <div class="stat-voice-panel" layout="row" flex="100">
          <div class="stat-voice-main" flex="50">
            <header class="stat-header">
                <h3> Voice Actors</h3>
                <span class="stat-summary-info pull-right">
                    <small class="accent-text">&nbsp;{{ctrl.voiceActors.length}} voices.</small>
                </span>
            </header>
            <div flex="100">
              <md-input-container>
                <label>search voices</label>
                <input type="text" ng-model="ctrl.filterConfig.search.voice">
              </md-input-container>
              <table class="width-100 stat-voice-table table table-bordered">
                <thead>
                    <tr>
                        <td class="text-right">#</td>
                        <td>
                            <a href="" ng-click="ctrl.filterConfig.sort.voice.type = 'name'; ctrl.filterConfig.sort.voice.reverse = !ctrl.filterConfig.sort.voice.reverse ">
                               Voice
                           </a>
                            <i ng-show="ctrl.filterConfig.sort.voice.type == 'name'" class="fa" ng-class="ctrl.filterConfig.sort.voice.reverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                        </td>
                        <td class="text-right">
                            <a href="" ng-click="ctrl.filterConfig.sort.voice.type = 'count'; ctrl.filterConfig.sort.voice.reverse = !ctrl.filterConfig.sort.voice.reverse ">
                               Count
                           </a>
                            <i ng-show="ctrl.filterConfig.sort.voice.type == 'count'" class="fa" ng-class="ctrl.filterConfig.sort.voice.reverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="stat-table-row clickable" ng-repeat="stat in ctrl.voiceActors | orderBy: ctrl.filterConfig.sort.voice.type:ctrl.filterConfig.sort.voice.reverse | filter: {name: ctrl.filterConfig.search.voice }" ng-click="ctrl.tableDetail('voice', stat.name);" >
                        <td class="text-right">{{$index+1}}</td>
                        <td>{{stat.name}}</td>
                        <td class="text-right">{{stat.count}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="stat-voice-detail" flex="50" ng-show="ctrl.filterConfig.show.voice">
            <div class="stat-detail">
              <header class="stat-detail-header">
                <h3>Characters voiced by {{ctrl.tableDetails.voice}}</h3>
              </header>
              <md-list class="stat-voice-detail-list">
                  <md-list-item ng-repeat="item in ctrl.items | orderBy: 'name' | filter: {voice: ctrl.tableDetails.voice}">
                    <a href="/#!/characters/{{item._id}}"><span>{{item.name}}</span></a>
                  </md-list-item>
              </md-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section ng-show="ctrl.view === 'Topten'" loading-spinner name="topten" size="fullscreen">
    <aside class="primary-background" flex="80" flex-offset="10">
      <div class="text-center font-18 bold">
        <span ng-style="{ color: ctrl.colours.red }" ng-bind="ctrl.dataStore.toptens.anime.totalListCount + ' anime '"></span>-
        <span ng-style="{ color: ctrl.colours.green }" ng-bind="ctrl.dataStore.toptens.manga.totalListCount + ' manga '"></span>-
        <span ng-style="{ color: ctrl.colours.blue }" ng-bind="ctrl.dataStore.toptens.character.totalListCount + ' character '"></span>
      </div>
    </aside>
    <div flex="80" flex-offset="10" tab-container ng-model="ctrl.toptens.type" ng-change="ctrl.getToptenItemStatistics(ctrl.view, ctrl.toptens.type)">
      <div tab-view heading="anime"></div>
      <div tab-view heading="manga"></div>
      <div tab-view heading="character"></div>
    </div>
    <article class="margin-top-10" flex="80" flex-offset="10">
      <div class="margin-top-10" flex-gt-sm="50" flex="100">
        <header class="stat-header">
          <h3>Items in lists</h3>
          <span class="stat-summary-info float-right">
            <small class="accent-text" ng-bind="ctrl.toptens[ctrl.toptens.type].listCount + ' source lists.'"></small>
          </span>
        </header>
        <div layout="row" flex>
          <md-input-container class="margin-bottom-0" flex="50">
            <label>search list</label>
            <input type="text" ng-model="ctrl.filterConfig.search.topten">
          </md-input-container>
          <div layout="row" flex-offset="20">
            <div class="center-contents margin-5">
              <md-checkbox ng-model="ctrl.filterConfig.topten.isRanked" ng-change="ctrl.getToptenItemStatistics(ctrl.view, ctrl.toptens.type)">
                is ranked
              </md-checkbox>
            </div>
            <div class="center-contents margin-5">
              <md-checkbox  ng-model="ctrl.filterConfig.topten.isFavourite" ng-change="ctrl.getToptenItemStatistics(ctrl.view, ctrl.toptens.type)">
                is favourite
              </md-checkbox>
            </div>
          </div>
        </div>
        <table class="width-100 stat-tag-table table table-bordered">
          <thead>
            <tr>
              <td class="text-right">#</td>
              <td>
                <a href="" ng-click="ctrl.filterConfig.sort.topten.type = 'value'; ctrl.filterConfig.sort.topten.reverse = !ctrl.filterConfig.sort.topten.reverse "
                   ng-bind="(toptens.type === 'character') ? 'Name' : 'Title'">
                </a>
                <i ng-show="ctrl.filterConfig.sort.topten.type == 'value'" class="fa" ng-class="ctrl.filterConfig.sort.topten.reverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
              </td>
              <td class="text-right">
                <a href="" ng-click="ctrl.filterConfig.sort.topten.type = 'count'; ctrl.filterConfig.sort.topten.reverse = !ctrl.filterConfig.sort.topten.reverse ">
                 Count
                </a>
                <i ng-show="ctrl.filterConfig.sort.topten.type == 'count'" class="fa" ng-class="ctrl.filterConfig.sort.topten.reverse ? 'fa-caret-up' : 'fa-caret-down' "></i>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr class="stat-table-row clickable"
                ng-repeat="item in ctrl.toptens.detail.items | orderBy: ctrl.filterConfig.sort.topten.type:ctrl.filterConfig.sort.topten.reverse | filter: { value: ctrl.filterConfig.search.topten }">
              <td class="text-right">{{$index+1}}</td>
              <td>{{item.value}}</td>
              <td class="text-right">{{item.count}}</td>
            </tr>
          </tbody>
        </table>
        <div ng-if="ctrl.toptens.detail.items.length === 0">
          <p>There are no items that match your criteria.</p>
        </div>
      </div>
    </article>
  </section>

</section>
