//brand colours.
$brand-primary:         #333333; //#433F34; //#29251A; //#0F0B00; //#75715E; 
$brand-secondary:       #696969; //#222222; 
$brand-tertiary:        #969696; //#9F9B85;
$brand-accent:          #4DC0D6; //#F92672; 
$brand-accent-alter:    #C6003F; //#66D9EF; 

$brand-border: 1px solid $brand-tertiary;
$accent-line: 1px solid $brand-accent;