//brand colours.
$brand-primary:         #8D44AD; 
$brand-secondary:       #696969; //#611483; 
$brand-tertiary:        #AB69C8; 
$brand-accent:          #F7FD5C; 
$brand-accent-alter:    #BDC316; 

$brand-border: 1px solid $brand-tertiary;
$accent-line: 1px solid $brand-accent;