$brand-danger: #d41f1a;
$brand-danger-alter: #830300; //#AB0E0A;
$brand-danger-accent: #FFF;
$brand-danger-accent-alter: #fcfcfc;
$brand-success: #47a447;
$brand-success-alter: #0C640C;
$brand-success-accent: #FFF; //#CD5959;
$brand-success-accent-alter: #fcfcfc; //#F59191;

$tile-background: #f9f9f9;

//named colours.
$red: #d41f1a;
$green: #47a447;
$blue: #337ab7;
$blue-rich: #1212B8;
$blue-dark: #286090;

$purple: #6600CC;
$orange: #f39c12;

$grey-light: #eee;
$grey: #9d9d9d;
$grey-dark: #777;

$off-white: #fcfcfc;


//lines and borders.
$grey-line: 1px solid $grey-light;

//for media queries.
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;


//Unit helpers:
$pixel: 'px';
$percent: '%';

//Helper variables:

//TEXT:
$font-sizes: 10 12 14 15 16 18 20 22 24 25 28 30 32 34 35 36 38 40;
$text-align: left right center start end;

$cursors: default none pointer move help;

$transformations: uppercase lowercase none capitalize full-width;

//BOX MODEL:
$percentage-sizes: 10 20 25 30 33 40 50 60 66 70 75 80 90 100;
$positions: absolute relative fixed;
$boxing: 0 5 10 15 20 25 30 35 40 45 50 55;

//Display:
$displays: inline inline-block inline-flex flex list-item block none;

//Overflow:
$overflow: auto hidden scroll;

//Floats:
$floats: left right none;