<section data-ng-controller="ToptensController" data-ng-init="find()">
    <div class="page-header">
        <h1>Toptens</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="topten in toptens" data-ng-href="#!/toptens/{{topten._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="topten.created | date:'medium'"></span>
				by
				<span data-ng-bind="topten.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="topten.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!toptens.$resolved || toptens.length">
    	No Toptens yet, why don't you <a href="/#!/toptens/create">create one</a>?
    </div>
</section>