<section data-ng-controller="ToptensController as ctrl" data-ng-init="ctrl.find()" data-ng-show="ctrl.authentication.user">
  <div layout="row">
    <div layout="column" flex="20" ng-class="{ 'in-the-way' : inTheWay }">
      <header>
        <h1 class="font-32">
          Topten lists
          <md-button class="md-primary md-raised show-actions" ng-init="inTheWay = false" ng-click="inTheWay = !inTheWay">Toggle actions</md-button>
        </h1>
      </header>
      <div list-filters filter-config="ctrl.filterConfig" items="ctrl.toptens" page="ctrl.whichController"></div>
    </div>
    <div layout="column" flex="75" flex-offset="5" loading-spinner name="topten" size="fullscreen">
      <div flex="95" page-controls page-config="ctrl.pageConfig" showing-count="ctrl.filterConfig.showingCount"></div>
        <md-list flex="95">
          <div data-ng-repeat="item in ctrl.toptens | orderBy: ctrl.filterConfig.sortType:ctrl.filterConfig.sortReverse | filter: ctrl.filterConfig.search | startFrom: ctrl.pageConfig.currentPage*ctrl.pageConfig.pageSize | limitTo: ctrl.pageConfig.pageSize">
            <div flex="100">
                <h4 class="list-group-item-heading clickable display-inline-block" ng-click="(viewItem === item) ? viewItem='' : viewItem=item" data-ng-bind="item.name"></h4>
                <span class="item-icons" ng-if="::item.isRanked"><i class="fa fa-trophy trophy-5"></i></span>
                <p class="margin-0">
                    <span class="item-icons" ng-if="::item.isFavourite"><i class="fa fa-star" style="color: gold"></i></span>
                    <span ng-bind="item.description"></span>
                </p>
            </div>
            <div flex="100" ng-show="viewItem === item">
                <div class="item-actions" data-ng-show="((ctrl.authentication.user) && (ctrl.authentication.user._id == item.user._id))">
                    <a class="md-button md-accent md-icon-button" href="/#!/toptens/{{item._id}}">
                      <md-tooltip md-direction="bottom">
                        view detail
                      </md-tooltip>
                      <md-icon>pageview</md-icon>
                    </a>
                    <a class="md-button md-primary md-icon-button" href="/#!/toptens/{{item._id}}/edit">
                      <md-tooltip md-direction="bottom">
                        edit item
                      </md-tooltip>
                      <md-icon>edit</md-icon>
                    </a>
                </div>
            </div>
          </div>
        </md-list>
    </div>
  </div>
</section>
