<section data-ng-controller="ToptensController" data-ng-init="findOne()">
	<div class="page-header margin-top-0">
        <div class="pull-right margin-top-25" data-ng-show="((authentication.user) && (authentication.user._id == topten.user._id))">
            <a class="btn btn-accent" href="/#!/toptens">
                <i class="glyphicon glyphicon-chevron-left"></i>
            </a>
            <a class="btn btn-primary" href="/#!/toptens/{{topten._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-danger" data-ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
		<h1 class="display-inline-block" data-ng-bind="topten.name"></h1><span class="item-icons padding-10" ng-if="topten.isFavourite"><i class="fa fa-star" style="color: gold"></i></span>
        <h4 ng-bind="topten.description"></h4>
        <small>
            <em class="text-muted">
                Created
                <span data-ng-bind="topten.meta.created | date: 'dd MMM yyyy HH:mm'"></span><br/>
                Updated
                <span data-ng-bind="topten.meta.updated | date: 'dd MMM yyyy HH:mm'"></span>
            </em>
        </small>
	</div>
    <div class="relative col-lg-12 col-md-12 col-sm-12">
        <div horizontal-list>
            <div horizontal-list-item class="horizontal-list-item" ng-repeat="item in topten[topten.type + 'List'] track by item._id">
                <a href="/#!/{{item.type}}{{viewConfig.linkSuffix}}/{{item._id}}">
                    <h4 class="margin-0" ng-bind="item[viewConfig.displayType]"></h4>
                </a>
                <div class="height-90">
                    <img ng-src="{{item.image}}" class="height-100">
                </div>
            </div>
        </div>
    </div>
</section>
