<div class="taskItem">
    <md-checkbox ng-model="taskItem.complete" ng-change="ctrl.tickOff(taskItem)" ng-disabled="taskItem.complete || taskItem.checklist"
                 aria-label="tick off task">
    </md-checkbox>
    <span class="task-description-text complete-{{taskItem.complete}} display-inline-block" ng-class="taskItem.checklist === true ? 'clickable' : ''"
          ng-click="taskItem.checklist === true ? viewTask = !viewTask : ''">
        {{taskItem.description}}
    </span>
    <span class="separator">
        -
    </span>
    <span class="task-times-text complete-{{taskItem.complete}} hover-data-right"
          hover-data="{{ (taskItem.link.type==='manga') ? 'Ch ' + taskItem.link.manga.chapters + ', Vol ' +  taskItem.link.manga.volumes : '' }}">
        <span ng-if="taskItem.link.type!=='anime'">
            {{taskItem.completeTimes}}/{{taskItem.repeat}}
        </span>
        <span ng-if="taskItem.link.type==='anime'">
            {{taskItem.link.anime.episodes}}/{{taskItem.link.anime.finalEpisode}}
        </span>
    </span>
    <span class="category-{{taskItem.category}} hover-data-left"
          hover-data="{{taskItem.link.linked ? (taskItem.link.type ===  'anime') ?
                                                taskItem.link.anime.title        :
                                                taskItem.link.manga.title        :
                                                ''
                      }}">
        {{taskItem.category}}
    </span>
    <md-button class="md-warn md-fab" aria-hidden="true" ng-click="ctrl.removeTask(taskItem)">
        <md-icon>delete</md-icon>
    </md-button>
    <strong class="taskDate complete-{{taskItem.complete}}">
        <span hover-data="{{taskItem.date | date: 'dd MMM yyyy' }}" pass-click="date-input-{{taskItem.meta.uniqueDescription}}">
          <input type="date"
                 uib-datepicker-popup=""
                 ng-model="taskItem.date"
                 is-open="opened"
                 datepicker-append-to-body="true"
                 datepicker-options="ctrl.dateOptions"
                 show-button-bar="false"
                 ng-click="opened=!opened"
                 ng-change="ctrl.updateTask(taskItem)"
                 format-date id="date-input-{{taskItem.meta.uniqueDescription}}" class="phantom-control" />
          <i class="fa fa-calendar"></i>
        </span>
        <span ng-hide="taskItem.daily">
            <span ng-if="taskItem.complete">{{taskItem.day}}</span>
            <md-select class="transform-uppercase" ng-model="taskItem.day" ng-change="ctrl.updateTask(taskItem)" aria-label="task day" ng-if="!taskItem.complete">
              <md-option ng-repeat="obj in ctrl.commonArrays.days" value="{{obj.name}}">
                {{obj.name}}
              </md-option>
            </md-select>
        </span>
        <span ng-show="taskItem.daily">
            DAILY
        </span>
    </strong>
    <div class="margin-top-10" percentage-bar-container border="alter-border" ng-if="taskItem.checklist">
        <div percentage-bar percentage="{{ ((taskItem.checklistItems | filter: {complete: true}).length / taskItem.checklistItems.length) * 100}}"
             type="white-text accent-alter-background"
             hover-data="{{ ((taskItem.checklistItems | filter: {complete: true}).length / taskItem.checklistItems.length)*100 | number: 2 }}%"></div>
    </div>
    <div ng-if="taskItem.checklist" class="checklist-list-container" ng-show="viewTask">
      <md-input-container>
        <label>new checklist item</label>
        <input ng-show="!taskItem.complete && addingToChecklist" type="text" ng-model="insertNewChecklistItem"
               enter-tag="ctrl.insertChecklistItem(taskItem, insertNewChecklistItem); insertNewChecklistItem = ''">
      </md-input-container>
        <md-button class="md-accent" ng-show="!taskItem.complete" ng-click="addingToChecklist=!addingToChecklist">
            <md-icon ng-hide="addingToChecklist">add</md-icon>
            <md-icon ng-show="addingToChecklist">minus</md-icon>
        </md-button>
        <md-button class="md-accent" ng-show="!taskItem.complete && addingToChecklist" ng-click="ctrl.insertChecklistItem(taskItem, insertNewChecklistItem); insertNewChecklistItem = ''"
           ng-disabled="insertNewChecklistItem==='' || insertNewChecklistItem===null || insertNewChecklistItem===undefined">
            Add
        </md-button>
        <md-list class="checklist-list">
            <md-list-item class="checklist-item" ng-repeat="option in taskItem.checklistItems">
                <md-checkbox ng-model="option.complete" ng-change="ctrl.tickOffChecklist(taskItem, $index)" ng-disabled="option.complete"
                             aria-label="tick off checklist item">
                </md-checkbox>
                <span class="complete-{{option.complete}}">
                    {{option.text}}
                </span>
            </md-list-item>
        </md-list>
    </div>
</div>
