<li class="taskItem">
    <input type="checkbox" class="taskCheckbox" ng-model="taskItem.complete" ng-change="ctrl.tickOff(taskItem)" ng-disabled="taskItem.complete || taskItem.checklist">
    <span class="task-description-text complete-{{taskItem.complete}} display-inline-block" ng-class="taskItem.checklist === true ? 'clickable' : ''"
          ng-click="taskItem.checklist === true ? viewTask = !viewTask : ''">
        {{taskItem.description}}
    </span>
    <span class="separator">
        -
    </span>
    <span class="task-times-text complete-{{taskItem.complete}} hover-data-right"
          hover-data="{{ (taskItem.link.type==='manga') ? 'Ch ' + taskItem.link.manga.chapters + ', Vol ' +  taskItem.link.manga.volumes : '' }}">
        <span ng-if="taskItem.link.type!=='anime'">
            {{taskItem.completeTimes}}/{{taskItem.repeat}}
        </span>
        <span ng-if="taskItem.link.type==='anime'">
            {{taskItem.link.anime.episodes}}/{{taskItem.link.anime.finalEpisode}}
        </span>
    </span>
    <span class="category-{{taskItem.category}} hover-data-left"
          hover-data="{{taskItem.link.linked ? (taskItem.link.type ===  'anime') ?
                                                taskItem.link.anime.title        :
                                                taskItem.link.manga.title        :
                                                ''
                      }}">
        {{taskItem.category}}
    </span>
    <a class="bin-style clickable" aria-hidden="true" ng-click="ctrl.removeTask(taskItem)">
        <i class="fa fa-trash-o"></i>
    </a>
    <strong class="taskDate complete-{{taskItem.complete}}">
        <span hover-data="{{taskItem.date | date: 'dd MMM yyyy' }}" pass-click="date-input-{{taskItem.meta.uniqueDescription}}">
          <input type="date"
                 uib-datepicker-popup=""
                 ng-model="taskItem.date"
                 is-open="opened"
                 datepicker-append-to-body="true"
                 datepicker-options="ctrl.dateOptions"
                 show-button-bar="false"
                 ng-click="opened=!opened"
                 ng-change="ctrl.updateTask(taskItem)"
                 format-date id="date-input-{{taskItem.meta.uniqueDescription}}" class="phantom-control" />
          <i class="fa fa-calendar"></i>
        </span>
        <span ng-hide="taskItem.daily">
            <span ng-if="taskItem.complete">{{taskItem.day}}</span>
            <select ng-if="!taskItem.complete" class="phantom-control transform-uppercase" style="width: 75px" ng-model="taskItem.day"
                    ng-options="obj.name as obj.name for obj in commonArrays.days" ng-change="ctrl.updateTask(taskItem)">
            </select>
        </span>
        <span ng-show="taskItem.daily">
            DAILY
        </span>
    </strong>
    <div class="margin-top-10" percentage-bar-container border="alter-border" ng-if="taskItem.checklist">
        <div percentage-bar percentage="{{ ((taskItem.checklistItems | filter: {complete: true}).length / taskItem.checklistItems.length) * 100}}"
             type="white-text accent-alter-background"
             hover-data="{{ ((taskItem.checklistItems | filter: {complete: true}).length / taskItem.checklistItems.length)*100 | number: 2 }}%"></div>
    </div>
    <div ng-if="taskItem.checklist" class="checklist-list-container" ng-show="viewTask">
        <input ng-show="!taskItem.complete && addingToChecklist" type="text" class="form-control" ng-model="insertNewChecklistItem"
               enter-tag="ctrl.insertChecklistItem(taskItem, insertNewChecklistItem); insertNewChecklistItem = ''">
        <a ng-show="!taskItem.complete" class="btn btn-accent" ng-click="addingToChecklist=!addingToChecklist">
            <i ng-hide="addingToChecklist" class="fa fa-plus"></i>
            <i ng-show="addingToChecklist" class="fa fa-minus"></i>
        </a>
        <a ng-show="!taskItem.complete && addingToChecklist" class="btn btn-accent" ng-click="ctrl.insertChecklistItem(taskItem, insertNewChecklistItem); insertNewChecklistItem = ''"
           ng-disabled="insertNewChecklistItem==='' || insertNewChecklistItem===null || insertNewChecklistItem===undefined">
            Add
        </a>
        <ul class="checklist-list">
            <li class="checklist-item" ng-repeat="option in taskItem.checklistItems">
                <input type="checkbox" class="taskCheckbox" ng-model="option.complete" ng-change="ctrl.tickOffChecklist(taskItem, $index)" ng-disabled="option.complete">
                <span class="complete-{{option.complete}}">
                    {{option.text}}
                </span>
            </li>
        </ul>
    </div>
</li>
