<md-dialog class="height-80" flex="80">
  <header>
    <h4 class="popout-header relative">
      Add new task
      <md-button class="md-warn md-icon-button absolute position-top position-right" data-ng-click="taskCreate.cancel()">
        <md-icon>cancel</md-icon>
      </md-button>
    </h4>
  </header>
    <div class="relative height-100 center-contents">
        <form class="height-100" flex="60" name="scheduleForm" reset-form="taskCreate.newTask" novalidate>
            <div steps step-config="taskCreate.stepConfig">
                <div one-step>
                  <md-input-container>
                    <label>What do you need to do?</label>
                    <input type="text" required id="description" placeholder="" ng-model="taskCreate.newTask.description">
                  </md-input-container>
                  <md-checkbox ng-model="taskCreate.newTask.link.linked" aria-label="linked task">
                    Linked?
                  </md-checkbox>
                  <md-select ng-model="taskCreate.newTask.day" id="day" aria-label="day select" required>
                      <md-option class="disabled" value="">
                        Choose a day
                      </md-option>
                      <md-option ng-repeat="obj in taskCreate.commonArrays.days" value="{{obj.name}}">
                         {{obj.name}}
                      </md-option>
                  </md-select>
                  <md-input-container>
                    <label>Date</label>
                    <input type="date" id="date" ng-model="taskCreate.newTask.date">
                  </md-input-container>
                  <md-select ng-model="taskCreate.newTask.category" id="category" aria-label="task category">
                    <md-option class="disabled" value="">Choose a category</md-option>
                    <md-option ng-repeat="obj in taskCreate.commonArrays.categories" value="{{obj.name}}">
                      {{obj.name}}
                    </md-option>
                  </md-select>
                </div>
                <div one-step>
                  <div ng-show="taskCreate.newTask.link.linked">
                    <md-select id="link-id" ng-model="taskCreate.newTask.link[taskCreate.linkType]" aria-label="link type">
                        <md-option class="disabled" value="">Choose link item</md-option>
                        <md-option ng-repeat="obj in taskCreate.linkItems" value="{{obj._id}}">
                          {{obj.title}}
                        </md-option>
                    </md-select>
                  </div>
                  <div ng-hide="taskCreate.newTask.daily || taskCreate.newTask.category === 'Watch'">
                    <md-checkbox ng-model="taskCreate.newTask.checklist"
                                 ng-change="taskCreate.newTask.repeat = (taskCreate.newTask.checklist === true) ? 1 : 0; taskCreate.newTask.daily = (taskCreate.newTask.checklist === true) ? false : taskCreate.newTask.daily" id="checklist"
                                 aria-label="checklist task">
                      Checklist?
                    </md-checkbox>
                  </div>
                  <div ng-hide="taskCreate.newTask.link.linked">
                      <div ng-hide="taskCreate.newTask.checklist">
                        <md-checkbox ng-model="taskCreate.newTask.daily"
                                     ng-change="taskCreate.newTask.checklist = (taskCreate.newTask.daily === true) ? false : taskCreate.newTask.checklist"
                                     aria-label="daily task">
                          Daily?
                        </md-checkbox>
                      </div>
                      <md-input-container ng-hide="taskCreate.newTask.checklist">
                        <label>Repeat</label>
                        <input type="number" id="repeat" min="0" placeholder="1" ng-model="taskCreate.newTask.repeat" required>
                      </md-input-container>
                  </div>
                  <div ng-show="taskCreate.newTask.checklist">
                    <md-input-container>
                      <label>Options</label>
                      <input type="text" id="checklistOptions" ng-model="taskCreate.newTask.checklistItem" enter-tag="taskCreate.addChecklistItem()">
                    </md-input-container>
                    <md-button class="md-primary" data-ng-click="taskCreate.addChecklistItem()"
                               ng-disabled="taskCreate.newTask.checklistItem==='' || taskCreate.newTask.checklistItem===null || taskCreate.newTask.checklistItem===undefined">
                               Add
                    </md-button>
                  </div>
                  <div ng-show="taskCreate.newTask.checklist">
                      <div class="options-list-container">
                          <md-list class="options-list">
                              <md-list-item ng-repeat="option in taskCreate.newTask.checklistItems">
                                  <p>{{option.text}}</p>
                                  <md-button class="md-warn md-icon-button" aria-hidden="true" ng-click="taskCreate.dropChecklistItem(option.text)">
                                    <md-icon>delete</md-icon>
                                  </md-button>
                              </md-list-item>
                          </md-list>
                      </div>
                  </div>
                </div>
            </div>
        </form>
    </div>
</md-dialog>
