<section data-ng-controller="TasksController">
    <div class="fixed-header">
        <h3>
            Week Beginning {{ weekBeginning() | dateSuffix }} 
            <button class="btn btn-primary show-actions" ng-init="inTheWay = false" ng-click="inTheWay = !inTheWay">Toggle actions</button>
        </h3>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 item-filter-container" ng-class="{ 'in-the-way' : inTheWay }">
        <a class="menu-header-bar clickable" ng-init="newTask.isAddTask=false" ng-click="newTask.isAddTask = !newTask.isAddTask;" ignore-here="true">
            <i class="fa" ng-class="(newTask.isAddTask === false) ? 'fa-plus-square' : 'fa-minus-square'"></i> Add task
        </a>
        <div page-controls page-config="pageConfig" showing-count="filterConfig.showingCount" class="margin-top-10"></div>
        <div task-create create="newTask" ng-show="newTask.isAddTask"></div>
    </div>
    <div class="col-lg-3 col-md-5 col-sm-5 item-placeholder-container"></div>
    <div class="col-lg-8 col-md-6 col-sm-6 item-list-container">
        <div class="tab-filter-container display-inline-flex width-100">
            <div class="relative tab-filter clickable" ng-class="(filterConfig.search.day === '') ? 'tab-in' : 'tab-out' ">
                <label class="width-100 text-center" ng-click="tabFilter('')">ALL</label>
            </div>
            <div class="relative tab-filter clickable" ng-class="(filterConfig.search.day === day.name) ? 'tab-in' : 'tab-out' "
                  ng-repeat="day in commonArrays.days">
                <label class="width-100 text-center" ng-click="tabFilter(day.name)">{{day.name}}</label>
            </div>
        </div>
        <ul class="taskList col-lg-12 col-md-12 col-sm-12 tab-body">
            <div ng-if="filteredTasks.length === 0" class="relative width-100 text-center">
                <p class="relative width-100">No items were found using your selection criteria.</p>
            </div>
            <li class="taskItem" ng-repeat="taskItem in (filteredTasks = (tasks | filter: filterConfig.search.day))" ng-hide="loading(taskItem)">
                <input type="checkbox" class="taskCheckbox" ng-model="taskItem.complete" ng-change="tickOff(taskItem)" ng-disabled="taskItem.complete || taskItem.checklist">
                <span class="task-description-text complete-{{taskItem.complete}}" ng-class="taskItem.checklist === true ? 'clickable' : ''"
                      ng-click="taskItem.checklist === true ? viewTask = !viewTask : ''">
                    {{taskItem.description}}
                </span>
                <span class="separator">
                    - 
                </span>
                <span class="task-times-text complete-{{taskItem.complete}}">
                    {{taskItem.completeTimes}}/{{taskItem.repeat}}
                </span>
                <span class="category-{{taskItem.category}}">
                    {{taskItem.category}}
                </span>
                <a class="bin-style clickable" aria-hidden="true" ng-click="remove(taskItem)">
                    <i class="fa fa-trash-o"></i>
                </a>
                <strong class="taskDate complete-{{taskItem.complete}}" hover-data="{{taskItem.date | date: 'dd MMM yyyy' }}">
                    <i class="fa fa-calendar"></i>
                    <span ng-hide="taskItem.daily">
                        {{taskItem.day}}
                    </span>
                    <span ng-show="taskItem.daily">
                        DAILY
                    </span>
                </strong>
                <div class="progress-container" hover-data="{{ ((taskItem.checklistItems | filter: {complete: true}).length / taskItem.checklistItems.length)*100 | number: 2 }}%"
                     ng-if="taskItem.checklist">
                    <div class="progress checklist-progress-bar" value="((taskItem.checklistItems | filter: {complete: true}).length / taskItem.checklistItems.length) * 100">
                        <div class="bar checklist-progress" style="width: {{ ((taskItem.checklistItems | filter: {complete: true}).length / taskItem.checklistItems.length) * 100}}%"></div>
                    </div>
                </div>
                <div ng-if="taskItem.checklist" class="checklist-list-container" ng-show="viewTask">
                    <input ng-show="!taskItem.complete && addingToChecklist" type="text" class="form-control" ng-model="insertNewChecklistItem" 
                           enter-tag="insertChecklistItem(taskItem, insertNewChecklistItem); insertNewChecklistItem = ''">
                    <a ng-show="!taskItem.complete" class="btn btn-accent" ng-click="addingToChecklist=!addingToChecklist">
                        <i ng-hide="addingToChecklist" class="fa fa-plus"></i>
                        <i ng-show="addingToChecklist" class="fa fa-minus"></i>
                    </a>
                    <a ng-show="!taskItem.complete && addingToChecklist"class="btn btn-accent" ng-click="insertChecklistItem(taskItem, insertNewChecklistItem); insertNewChecklistItem = ''" 
                       ng-disabled="insertNewChecklistItem==='' || insertNewChecklistItem===null || insertNewChecklistItem===undefined">
                        Add
                    </a>
                    <ul class="checklist-list">
                        <li class="checklist-item" ng-repeat="option in taskItem.checklistItems">
                            <input type="checkbox" class="taskCheckbox" ng-model="option.complete" ng-change="tickOffChecklist(taskItem)" ng-disabled="option.complete">
                            <span class="complete-{{option.complete}}">
                                {{option.text}}
                            </span>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <section class="loading-image" data-ng-if="isLoading"></section>
</section>