<section data-ng-controller="TasksController" data-ng-init="find()">
    <div class="fixed-header">
        <h1>
            Tasks
            <button class="btn btn-primary show-actions" ng-init="inTheWay = false" ng-click="inTheWay = !inTheWay">Toggle actions</button>
        </h1>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 item-filter-container" ng-class="{ 'in-the-way' : inTheWay }"></div>
    <div class="col-lg-3 col-md-5 col-sm-5 item-placeholder-container"></div>
    <div class="col-lg-8 col-md-6 col-sm-6 item-list-container">
        <a data-ng-repeat="task in tasks" data-ng-href="#!/tasks/{{task._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="task.created | date:'medium'"></span>
				by
				<span data-ng-bind="task.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="task.name"></h4>
        </a>
    </div>
</section>