<section data-ng-controller="TasksController as ctrl">
    <div layout="row">
      <div layout="column" flex="20" ng-class="{ 'in-the-way' : inTheWay }" ng-show="(ctrl.filterConfig.view === 'list')">
        <header>
          <h3>
            <span class="hover-data-right" hover-data="Refresh data" ng-click="ctrl.refreshItems()">
                <span class="clickable">
                    <md-icon class="animate-spin-hover font-20">refresh</md-icon>
                </span>
            </span>
            Week Beginning <span ng-bind="ctrl.weekBeginning() | dateSuffix"></span>
            <md-button class="md-primary md-raised show-actions" ng-init="inTheWay = false" ng-click="inTheWay = !inTheWay">Toggle actions</md-button>
          </h3>
        </header>
        <md-button class="md-primary" ng-click="ctrl.createTask()" aria-label="add task">
            Add task
        </md-button>
        <div list-filters filter-config="ctrl.filterConfig" items="ctrl.tasks" page="ctrl.whichController"></div>
      </div>
      <div layout="column" loading-spinner name="tasks" size="fullscreen" ng-class="(ctrl.filterConfig.view === 'list') ? 'flex-75 flex-offset-5' : 'flex-100'">
        <div tab-container ng-model="ctrl.filterConfig.view">
          <div tab-view heading="list">
              <div class="tab-filter-container width-100 margin-top-40" id="task-tab-filter-container" sticky>
                  <div layout="row" flex id="task-tab-filter-inner-container">
                      <div class="relative tab-filter clickable" ng-class="(ctrl.filterConfig.search.day === '') ? 'tab-in' : 'tab-out' ">
                          <label class="width-100 clickable text-center" ng-click="ctrl.tabFilter('')">ALL</label>
                      </div>
                      <div class="relative tab-filter clickable" ng-class="(ctrl.filterConfig.search.day === day.name) ? 'tab-in' : 'tab-out' "
                            ng-repeat="day in ctrl.commonArrays.days">
                          <label class="width-100 clickable text-center" ng-click="ctrl.tabFilter(day.name)" ng-bind="::day.name"></label>
                      </div>
                  </div>
              </div>
              <md-list flex="95">
                <div ng-if="ctrl.filterConfig.showingCount === 0" class="relative width-100 margin-top-20 text-center">
                  <p class="relative width-100">No items were found using your selection criteria.</p>
                </div>
                <md-list-item task-item-model ng-repeat="taskItem in ctrl.tasks | orderBy: '-date' | filter: ctrl.filterConfig.search | calendarFilter:ctrl.filterConfig.datesSelected">
                </md-list-item>
              </md-list>
          </div>
          <div tab-view heading="calendar">
            <div class="margin-top-15" schedule-calendar events="ctrl.tasks"></div>
          </div>
        </div>
      </div>
    </div>
</section>
