<div class="primary-background view-height-75">
  <header>
    <h4 class="popout-header">
      {{::ctrl.date | date: 'EEEE'}} {{::ctrl.date | dateSuffix }}
      <md-button class="md-warn md-fab" data-ng-click="ctrl.cancel()">
        <md-icon>cancel</md-icon>
      </md-button>
    </h4>
  </header>
  <div class="relative">
    <md-list class="taskList width-100 height-100 overflow-auto-hover">
      <div ng-if="ctrl.events.length === 0" class="relative width-100 margin-top-20 text-center">
          <p class="relative width-100">No items were found using your selection criteria.</p>
      </div>
      <md-list-item task-item-model ng-repeat="taskItem in ctrl.events">
      </md-list-item>
    </md-list>
  </div>
</div>
