<md-dialog class="height-50" flex="30">
  <header>
    <h4 class="popout-header relative">
      Update linked manga
      <md-button class="md-warn md-icon-button absolute position-top position-right" data-ng-click="ctrl.cancel()">
        <md-icon>cancel</md-icon>
      </md-button>
    </h4>
  </header>
    <div class="relative">
        <form name="mangaForm" novalidate>
          <div steps step-config="ctrl.stepConfig">
              <div one-step>
                <div class="center-contents" layout="row">
                  <md-input-container>
                    <label>Chapters</label>
                    <input type="number" id="chapter" ng-model="ctrl.item.link.manga.chapters">
                  </md-input-container>
                  <md-input-container>
                    <label> </label>
                    <input type="number" id="finalChapter" ng-model="ctrl.item.link.manga.finalChapter" disabled>
                  </md-input-container>
                </div>
                <div class="center-contents" layout="row">
                  <md-input-container>
                    <label>Volumes</label>
                    <input type="number" id="volume" ng-model="ctrl.item.link.manga.volumes">
                  </md-input-container>
                  <md-input-container>
                    <label> </label>
                    <input type="number" id="finalVolume" ng-model="ctrl.item.link.manga.finalVolume" disabled>
                  </md-input-container>
                </div>
              </div>
          </div>
        </form>
    </div>
</md-dialog>
