
.trophy-1 {
    color: gold;
}
.trophy-2 {
    color: silver;
}
.trophy-3 {
    color: rosybrown;
}
.trophy-4,
.trophy-5 {
    color: white;
}

.favourite-item {
    height: 10vh;
}

.selected {
    border: 3px solid #FF0000;
}

.bin-style {
    position: absolute;
    right: 0;
    color: #FF0000;
    padding: 2px 4px;
    margin: 5px;
}

.bin-style:hover {
    background-color: #FF0000;
    color: #FFF;
}
