
.trophy-1 {
    color: gold;
}
.trophy-2 {
    color: silver;
}
.trophy-3 {
    color: rosybrown;
}
.trophy-4 {
    color: white;
}
.trophy-5 {
    color: white;
}

.favourite-item {
    height: 10vh;
}
