.history-list-item:nth-child(odd) {
    p {
        background-color: $brand-secondary;
    }
}

.history-list-item {
    h4 {
        border-bottom: $accent-line;
    }
    
    p {
        margin: 4px 0;       
    }
}

.history-list-container {
    @extend .tile-style;
    padding: 10px 15px;
}