.history-list-item:nth-child(even) {
    p {
        background-color: $brand-secondary;
    }
}

.history-list-item {
    h4 {
        background-color: $brand-primary;
        border-bottom: $accent-line;
    }
    
    p {
        padding: 0 5px;
        margin: 4px 0;       
    }
}

.history-list-container {
    padding: 10px 15px;
}

.history-group-header {
    padding-bottom: 9px;
    margin: 20px 0;
    border: $brand-border;
    background-color: $brand-secondary;
    padding: 10px;
    width: 100%;
}