.paging-controls {
  text-align: center;
  margin-bottom: 10px;
  z-index: 1; }

.paging-controls-scroll-top {
  position: fixed;
  width: 100%;
  top: 50px;
  left: 0;
  background-color: #FFF; }

.paging-controls-inner-container {
  position: relative;
  width: 50%;
  margin: auto; }
  @media (max-width: 768px) {
    .paging-controls-inner-container {
      left: 0;
      width: 100%;
      margin: 0; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .paging-controls-inner-container {
      left: 15%; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    .paging-controls-inner-container {
      left: 17%; } }
  @media (min-width: 1200px) {
    .paging-controls-inner-container {
      left: 10%; } }

/**
 * hover-data Styles
 */
/* Base styles for the element that has a hover-data */
[hover-data],
.hover-data {
  position: relative;
  cursor: pointer; }

[hover-data=''] {
  cursor: default; }
  [hover-data='']:before, [hover-data='']:after {
    display: none; }

/* Base styles for the entire hover-data */
[hover-data]:before,
[hover-data]:after,
.hover-data:before,
.hover-data:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: none; }

/* Show the entire hover-data on hover and focus */
[hover-data]:hover:before,
[hover-data]:hover:after,
[hover-data]:focus:before,
[hover-data]:focus:after,
.hover-data:hover:before,
.hover-data:hover:after,
.hover-data:focus:before,
.hover-data:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1; }

/* Base styles for the hover-data's directional arrow */
.hover-data:before,
[hover-data]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: ""; }

/* Base styles for the hover-data's content area */
.hover-data:after,
[hover-data]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: rgba(51, 51, 51, 0.9);
  color: #fff;
  content: attr(hover-data);
  font-size: 14px;
  line-height: 1.2;
  text-align: center; }

/* Directions */
/* Top (default) */
[hover-data]:before,
[hover-data]:after,
.hover-data:before,
.hover-data:after,
.hover-data-top:before,
.hover-data-top:after {
  bottom: 100%;
  left: 50%; }

[hover-data]:before,
.hover-data:before,
.hover-data-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: rgba(51, 51, 51, 0.9); }

/* Horizontally align top/bottom hover-datas */
[hover-data]:after,
.hover-data:after,
.hover-data-top:after {
  margin-left: -80px; }

[hover-data]:hover:before,
[hover-data]:hover:after,
[hover-data]:focus:before,
[hover-data]:focus:after,
.hover-data:hover:before,
.hover-data:hover:after,
.hover-data:focus:before,
.hover-data:focus:after,
.hover-data-top:hover:before,
.hover-data-top:hover:after,
.hover-data-top:focus:before,
.hover-data-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform: translateY(-12px);
  transform: translateY(-12px); }

/* Left */
.hover-data-left:before,
.hover-data-left:after {
  right: 100%;
  bottom: 50%;
  left: auto; }

.hover-data-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: rgba(51, 51, 51, 0.9); }

.hover-data-left:hover:before,
.hover-data-left:hover:after,
.hover-data-left:focus:before,
.hover-data-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform: translateX(-12px);
  transform: translateX(-12px); }

/* Bottom */
.hover-data-bottom:before,
.hover-data-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%; }

.hover-data-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: rgba(51, 51, 51, 0.9); }

.hover-data-bottom:hover:before,
.hover-data-bottom:hover:after,
.hover-data-bottom:focus:before,
.hover-data-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform: translateY(12px);
  transform: translateY(12px); }

/* Right */
.hover-data-right:before,
.hover-data-right:after {
  bottom: 50%;
  left: 100%; }

.hover-data-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: rgba(51, 51, 51, 0.9); }

.hover-data-right:hover:before,
.hover-data-right:hover:after,
.hover-data-right:focus:before,
.hover-data-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform: translateX(12px);
  transform: translateX(12px); }

/* Move directional arrows down a bit for left/right hover-datas */
.hover-data-left:before,
.hover-data-right:before {
  top: 3px; }

/* Vertically center hover-data content for left/right hover-datas */
.hover-data-left:after,
.hover-data-right:after {
  margin-left: 0;
  margin-bottom: -16px; }

.slider-container {
  min-height: 450px;
  padding: 0; }

.slider {
  position: relative;
  width: 100%;
  min-height: 300px;
  padding: 5px;
  margin: auto;
  list-style-type: none; }
  .slider a.full-screen-control {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    padding: 2px 5px; }

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  min-height: 300px;
  margin: auto; }
  .slide a {
    text-decoration: none; }
    .slide a .slide-image {
      display: block;
      height: 300px;
      width: auto;
      max-width: 100%;
      margin: auto; }
    .slide a .slide-caption {
      position: absolute;
      top: 80%;
      width: 100%;
      text-align: center; }

.slider-control {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  filter: alpha(opacity=50);
  opacity: 0.5; }
  .slider-control span {
    position: absolute;
    top: 50%; }

.slider-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x; }

.slider-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x; }

.slider-indicators {
  position: relative;
  top: 20px;
  width: 100%;
  padding-left: 0;
  text-align: center; }
  .slider-indicators li.indicator, .slider-indicators li.indicator.active, .slider-indicators li.indicator.active.locked {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 8px;
    border-radius: 50%;
    background-color: #eee;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s; }

.slide.ng-hide-add,
.slide.ng-hide-remove {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
  display: block !important; }

.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
  opacity: 0; }

.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1; }

div.slider-full-screen {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #555555;
  z-index: 900; }
  div.slider-full-screen .slider {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100vw;
    height: 80vh;
    z-index: 1000; }
    div.slider-full-screen .slider .slide .slide-image {
      height: 80vh; }
    div.slider-full-screen .slider .slider-control {
      height: 80vh; }
  div.slider-full-screen .slider-indicators {
    position: fixed;
    top: -webkit-calc(80vh + 50px);
    top: -moz-calc(80vh + 50px);
    top: calc(80vh + 50px);
    left: 0;
    padding-top: 15px; }

/** Tab filter base styling **/
.tab-filter-container {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0; }

.tab-filter {
  position: relative;
  display: inline-block;
  background: #ECECEC;
  width: 13%;
  height: 25px;
  padding: 0 10px;
  margin: 0 -5px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  z-index: 0; }
  .tab-filter:first-child, .tab-filter:nth-child(2) {
    width: 9%; }
  .tab-filter label {
    height: 25px;
    margin: 0;
    overflow: hidden; }

.tab-filter.tab-in {
  background: #FFF;
  border-bottom-color: #FFF;
  z-index: 2; }

.task-tab-filter-scroll-top {
  position: fixed;
  top: 50px;
  left: 0;
  margin: 0;
  z-index: 2; }

.task-tab-filter-inner-container {
  position: relative;
  left: 30%;
  width: 55%; }

/** Step base styling **/
.steps {
  min-height: 300px;
  height: 300px;
  overflow: hidden; }

.step {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
  height: 300px;
  width: 100%;
  opacity: 0;
  z-index: 1; }

.step-inner-container {
  min-height: 300px;
  height: 300px; }

.step.ng-hide-add,
.step.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block !important; }

.step-transition {
  -webkit-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  transition: all linear 0.5s; }

.step.ng-hide-add.ng-hide-add-active,
.step.ng-hide-remove {
  opacity: 0; }

.step-out {
  opacity: 0; }

.step-in {
  opacity: 1; }

.step.ng-hide-add,
.step.ng-hide-remove.ng-hide-remove-active {
  opacity: 1; }

.step-button-group {
  position: absolute;
  width: 100%;
  bottom: -20%;
  display: inline-flex;
  z-index: 5; }
  .step-button-group button {
    z-index: 1; }

.table-horizontal-container {
  height: 60px;
  width: 93%;
  margin: auto; }
  .table-horizontal-container:hover {
    overflow: auto; }
  .table-horizontal-container .table-horizontal-scroll tbody {
    height: auto;
    width: 100%; }
    .table-horizontal-container .table-horizontal-scroll tbody tr th {
      position: fixed;
      width: 65px; }
    .table-horizontal-container .table-horizontal-scroll tbody tr td:nth-child(2) {
      padding-left: 65px; }
    .table-horizontal-container .table-horizontal-scroll tbody tr td span.display-block {
      width: 30px;
      margin-right: 10px; }
    .table-horizontal-container .table-horizontal-scroll tbody tr td input {
      width: 45px; }

.sticky-scroll-top {
  position: fixed;
  width: 100%;
  top: 50px;
  left: 0;
  background-color: #FFF;
  padding: 0 !important;
  margin: 0 !important;
  z-index: 5; }

.sticky-inner-container {
  position: relative;
  width: 50%;
  padding: 5px;
  margin: auto; }
  @media (max-width: 768px) {
    .sticky-inner-container {
      left: 0;
      width: 100%;
      margin: 0; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .sticky-inner-container {
      left: 15%; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    .sticky-inner-container {
      left: 17%; } }
  @media (min-width: 1200px) {
    .sticky-inner-container {
      left: 10%; } }

/* Variables */
/* Horizontal list styling base */
.horizontal-list {
  position: relative;
  min-height: 200px;
  width: 100%;
  white-space: nowrap; }

.horizontal-list-item {
  display: inline-block;
  width: 33%;
  height: 100%;
  padding: 5px; }
  .horizontal-list-item.in-display {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    transition: all linear 0.5s; }
  .horizontal-list-item.out-display {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    transition: all linear 0.5s; }

.horizontal-list-scroller {
  position: absolute;
  left: 0;
  min-height: 200px;
  height: 200px; }

.horizontal-list-control {
  position: absolute;
  top: 0;
  width: 10%;
  height: 100%;
  cursor: pointer; }
  .horizontal-list-control.left {
    left: -10%;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x; }
  .horizontal-list-control.right {
    right: -10%;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x; }
  .horizontal-list-control i.fa {
    position: absolute;
    top: 50%;
    left: 50%; }

/*# sourceMappingURL=components.css.map */
