/**
 * hover-data Styles
 */
/* Base styles for the element that has a hover-data */
[hover-data],
.hover-data {
  position: relative;
  cursor: pointer; }

/* Base styles for the entire hover-data */
[hover-data]:before,
[hover-data]:after,
.hover-data:before,
.hover-data:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: none; }

/* Show the entire hover-data on hover and focus */
[hover-data]:hover:before,
[hover-data]:hover:after,
[hover-data]:focus:before,
[hover-data]:focus:after,
.hover-data:hover:before,
.hover-data:hover:after,
.hover-data:focus:before,
.hover-data:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1; }

/* Base styles for the hover-data's directional arrow */
.hover-data:before,
[hover-data]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: ""; }

/* Base styles for the hover-data's content area */
.hover-data:after,
[hover-data]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: rgba(51, 51, 51, 0.9);
  color: #fff;
  content: attr(hover-data);
  font-size: 14px;
  line-height: 1.2;
  text-align: center; }

/* Directions */
/* Top (default) */
[hover-data]:before,
[hover-data]:after,
.hover-data:before,
.hover-data:after,
.hover-data-top:before,
.hover-data-top:after {
  bottom: 100%;
  left: 50%; }

[hover-data]:before,
.hover-data:before,
.hover-data-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: rgba(51, 51, 51, 0.9); }

/* Horizontally align top/bottom hover-datas */
[hover-data]:after,
.hover-data:after,
.hover-data-top:after {
  margin-left: -80px; }

[hover-data]:hover:before,
[hover-data]:hover:after,
[hover-data]:focus:before,
[hover-data]:focus:after,
.hover-data:hover:before,
.hover-data:hover:after,
.hover-data:focus:before,
.hover-data:focus:after,
.hover-data-top:hover:before,
.hover-data-top:hover:after,
.hover-data-top:focus:before,
.hover-data-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform: translateY(-12px);
  transform: translateY(-12px); }

/* Left */
.hover-data-left:before,
.hover-data-left:after {
  right: 100%;
  bottom: 50%;
  left: auto; }

.hover-data-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: rgba(51, 51, 51, 0.9); }

.hover-data-left:hover:before,
.hover-data-left:hover:after,
.hover-data-left:focus:before,
.hover-data-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform: translateX(-12px);
  transform: translateX(-12px); }

/* Bottom */
.hover-data-bottom:before,
.hover-data-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%; }

.hover-data-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: rgba(51, 51, 51, 0.9); }

.hover-data-bottom:hover:before,
.hover-data-bottom:hover:after,
.hover-data-bottom:focus:before,
.hover-data-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform: translateY(12px);
  transform: translateY(12px); }

/* Right */
.hover-data-right:before,
.hover-data-right:after {
  bottom: 50%;
  left: 100%; }

.hover-data-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: rgba(51, 51, 51, 0.9); }

.hover-data-right:hover:before,
.hover-data-right:hover:after,
.hover-data-right:focus:before,
.hover-data-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform: translateX(12px);
  transform: translateX(12px); }

/* Move directional arrows down a bit for left/right hover-datas */
.hover-data-left:before,
.hover-data-right:before {
  top: 3px; }

/* Vertically center hover-data content for left/right hover-datas */
.hover-data-left:after,
.hover-data-right:after {
  margin-left: 0;
  margin-bottom: -16px; }

.slider-container {
  min-height: 450px;
  padding: 0; }

.slider {
  position: relative;
  width: 100%;
  min-height: 400px;
  padding: 5px;
  margin: auto;
  list-style-type: none; }

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  min-height: 300px;
  margin: auto; }
  .slide a {
    text-decoration: none; }
    .slide a .slide-image {
      display: block;
      height: 300px;
      width: auto;
      max-width: 100%;
      margin: auto; }
    .slide a .slide-caption {
      position: absolute;
      top: 80%;
      width: 100%;
      text-align: center; }

.slider-control {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  filter: alpha(opacity=50);
  opacity: 0.5; }
  .slider-control span {
    position: absolute;
    top: 50%; }

.slider-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x; }

.slider-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x; }

.slider-indicators {
  position: absolute;
  bottom: 2%;
  width: 100%;
  padding-left: 0;
  text-align: center; }
  .slider-indicators li.indicator, .slider-indicators li.indicator.active, .slider-indicators li.indicator.active.locked {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 8px;
    border-radius: 50%;
    background-color: #eee;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s; }

.slide.ng-hide-add,
.slide.ng-hide-remove {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
  display: block !important; }

.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
  opacity: 0; }

.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1; }

/** Tab filter base styling **/
.tab-filter-container {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0; }

.tab-filter {
  position: relative;
  display: inline-block;
  background: #ECECEC;
  width: 11.11111%;
  height: 25px;
  padding: 0 10px;
  margin: 0 -5px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  z-index: 0; }
  .tab-filter label {
    height: 25px;
    margin: 0; }

.tab-filter.tab-in {
  background: #FFF;
  border-bottom-color: #FFF;
  z-index: 2; }

/*# sourceMappingURL=components.css.map */
